{template 'header', 'vip'}
<link href="{DT_STATIC}vip/css/vip-index.css" rel="stylesheet" type="text/css">
  <div class="content_vip content-service">
    <div class="banner">
    <h2>超强体验 高品质推广</h2>
    <p>快速享有全年多项特权服务 让您网络贸易更轻松</p>
    </div>
    <div class="service-list">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <th width="103"><span></span></th>
                <th width="198">服务项目</th>
                <th class="yellow current1" width="223">普通会员</th>
                <th class="yellow orange fade current" width="262">{VIP}会员</th>
                <th width="398">备注说明</th>
            </tr>
            <tr>
                <td class="title" rowspan="14">商<br>铺<br>特<br>权</td>
                <td class="text-left dashed">企业商铺</td>
                <td class="text-big current1"><em class="ok"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">便捷建设商铺，让您一分钟拥有自己的网络商铺</td>
            </tr>
            <tr>
                <td class="text-left dashed">商铺域名</td>
                <td class="text-big current1">二级</td>
                <td class="orange text-big fade current">一级</td>
                <td class="text-left text-small">国家级域名，彰显实力，提升企业形象</td>
            </tr>
            <tr>
                <td class="text-left dashed">商铺尊贵标识</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">商铺、产品搜索列表，尊贵无处不在，采购商更信赖</td>
            </tr>
            <tr>
                <td class="text-left dashed">商铺装修</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">自定义展示风格，全方位展示企业形象</td>
            </tr>
            <tr>
                <td class="text-left dashed">产品发布数量</td>
                <td class="text-big current1">50条</td>
                <td class="orange text-big fade current">6000条</td>
                <td class="text-left text-small">更多信息，更多关键词，更多排名，意味着更多订单</td>
            </tr>
            <tr>
                <td class="text-left dashed">相册容量</td>
                <td class="text-big current1">200张</td>
                <td class="orange text-big fade current">5000张</td>
                <td class="text-left text-small">更多，更炫，更方便，轻松管理海量图片</td>
            </tr>
            <tr>
                <td class="text-left dashed">相册数量</td>
                <td class="text-big current1">10个</td>
                <td class="orange text-big fade current">80个</td>
                <td class="text-left text-small">图片分类展示，既方便管理和使用，又方便客户浏览</td>
            </tr>
            <tr>
                <td class="text-left dashed">友情链接数量</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="orange text-big fade current">30个</td>
                <td class="text-left text-small">推荐官网、朋友互推，共同提升网站流量和权重</td>
            </tr>
            <tr>
                <td class="text-left dashed">企业新闻数量</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="orange text-big fade current">无限制</td>
                <td class="text-left text-small">提升商铺专业度和客户好感度，提升搜索引擎排名</td>
            </tr>
            <tr>
                <td class="text-left dashed">在线客服</td>
                <td class="text-big current1">1个</td>
                <td class="orange text-big fade current">3个</td>
                <td class="text-left text-small">实时在线沟通，不放跑任何一个生意机会</td>
            </tr>
            <tr>
                <td class="text-left dashed">求购信息</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="orange text-big fade current">无限制</td>
                <td class="text-left text-small">无限浏览，让商机变得垂手可得</td>
            </tr>
            <tr>
                <td class="text-left dashed">站内搜索排名提升</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big orange fade current">排名优先</td>
                <td class="text-left text-small">同等条件下，产品排名优先展示在普通会员前，抢先获得买家关注</td>
            </tr>
            <tr>
                <td class="text-left dashed">产品一键重发</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">节省时间，提高效率！一个按键，提升所有产品排名</td>
            </tr>
            <tr>
                <td class="text-left dashed">一键搬家</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">省时又省力！轻松将发布至其他平台的信息搬取过来</td>
            </tr>
            <tr>
                <td class="title" rowspan="12"><i></i>推<br>广<br>特<br>权</td>
                <td class="text-left dashed">去广告服务</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">屏蔽商铺、产品等所有页面的同行广告，避免客户流失</td>
            </tr>
            <tr>
                <td class="text-left dashed">SEO助手</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">主流搜索收录排名看的到，清晰明了做生意</td>
            </tr>
            <tr>
                <td class="text-left dashed">行业牛人</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">全行业内精准推广展示，树立全行业内大牛形象，获取更多流量</td>
            </tr>
            <tr>
                <td class="text-left dashed">在线询盘</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">在线咨询，随时随地把最新商机握在手里</td>
            </tr>
            <tr>
                <td class="text-left dashed">建站服务</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">独立形象，专属域名，轻松打造自己的企业官网</td>
            </tr>
            <tr>
                <td class="text-left dashed">特别推荐</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big orange fade current">1个（1年）</td>
                <td class="text-left text-small">固定搜索结果前三位，垄断站内99%询盘</td>
            </tr>
            <tr>
                <td class="text-left dashed">搜索结果页顶部广告</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big orange fade current">1个（1个月）</td>
                <td class="text-left text-small">图文并茂，瞬间增加千万曝光量，轻松获得买家关注</td>
            </tr>
            <tr>
                <td class="text-left dashed">搜索结果页右侧广告</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big orange fade current">1个（1年）</td>
                <td class="text-left text-small">霸占右侧黄金展位，获得曝光与商机变得轻而易举</td>
            </tr>
            <tr>
                <td class="text-left dashed">搜索结果页底部广告</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big orange fade current">1个（1年）</td>
                <td class="text-left text-small">抓住买家关注焦点，轻松将流量转化成商机</td>
            </tr>
            <tr>
                <td class="text-left dashed">金牌客服全程辅导</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">专属金牌客服，一对一全程指导，协助打理商铺，传授商铺打理秘籍，教你SEO技巧，每月诊断商铺优化效果，制定优化策略</td>
            </tr>
            <tr>
                <td class="text-left dashed">移动端优先推荐</td>
                <td class="text-big current1"><em class="no"></em></td>
                <td class="text-big fade current"><em class="ok"></em></td>
                <td class="text-left text-small">移动端搜索结果页特享尊贵标识，特别推荐与PC端同步推广</td>
            </tr>
             <tr>
                <td class="text-left dashed">申请升级{$GROUP[$groupid]}</td>
                <td class="text-big current1"><em class="bng_pu"><a href="{$MODULE[2][linkurl]}grade.php?groupid=6#up" target="_blank">确定升级</a></em></td>
                <td class="text-big orange fade current"><em class="bng_vip"><a href="{$MODULE[2][linkurl]}grade.php?groupid=7#up" target="_blank">确定升级</a></em></td>
                <td class="text-left text-small">请选择您要升级的会员组</td>
            </tr>
        </tbody>
        </table>
        <span class="top fade"></span>
        <span class="bottom_vip fade"></span>
    </div>
    <div>
    <p><a href="{$MODULE[2][linkurl]}grade.php" target="_blank">以上为2017年7月1日起执行{VIP}会员的服务内容，【在线升级申请】请点击 &gt;&gt;</a></p>
    </div>
</div>
{template 'footer', 'vip'}