{template 'header', 'vip'}
<link href="{DT_STATIC}vip/css/vip-fwjs.css" rel="stylesheet" type="text/css">
<link href="{DT_STATIC}vip/css/uikit.css" rel="stylesheet" type="text/css">
<div class="content_vip">
    <div class="screen-one-fwjs" style="height: 650px;">
        <div class="one-content">
         <div class="txt" data-uk-scrollspy="{cls:'uk-animation-slide-bottom',target:'p',delay:300}">
            <p class="t uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">免费送顶级域名一个</p>
            <p class="uk-scrollspy-inview uk-animation-slide-bottom">打造PC端+WAP端多方展示，覆盖全网</p>
            <p>拓展客户新天地</p>
        </div>
            <p class="price"><a href="{$MODULE[2][linkurl]}grade.php?groupid=7#up" target="_blank" class="on">在线申请</a><a href="//wpa.qq.com/msgrd?v=3&amp;uin={$DT[qq1]}&amp;site=qq&amp;menu=yes">在线咨询</a></p>
        </div>
    </div>
<!--商铺服务 start-->
    <div class="screen-two-fwjs">
        <div class="txt" data-uk-scrollspy="{cls:'uk-animation-slide-bottom',target:'p',delay:300}">
            <p class="t uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">{VIP}服务<i></i></p>
            <p class="uk-scrollspy-inview uk-animation-slide-bottom">{$DT[sitename]}2017年重磅推出{VIP}服务，优惠价2880/年，搭建顶级域名网站，提升客户询盘量。</p>
            <p>网站与商铺共享管理后台，发布1次产品，双倍展示。</p>
        </div>
        <i class="bottom_vip"><em></em></i>
    </div>
<!--商铺服务 END--> 
<!--服务优势 start-->
    <div class="screen-three-fwjs bw_1200">
        <div class="screen-title"><span class="t">服务优势<i></i></span><span class="y">/ Service advantage</span></div>
        <ul class="advantage_ul fl-clr" data-uk-scrollspy="{cls:'uk-animation-slide-right',target:'li',delay:300}">
            <li>
                <i class="img i1"></i>
                <p class="t">双倍展示<i></i></p>
                <p>商铺信息一键同步到顶级域名网站</p>
                <p>产品信息展示量*2</p>
            </li>
            <li>
                <i class="img i2"></i>
                <p class="t">SEO<i></i></p>
                <p>顶级域名助力</p>
                <p>产品关键词霸屏百度首页</p>
            </li>
            <li>
                <i class="img i3"></i>
                <p class="t">高性价比<i></i></p>
                <p>价格不及同行建站公司三分之一</p>
                <p>推广效果及服务质量不打折</p>
            </li>
        </ul>
    </div>
<!--服务优势 END--> 
<!--精选套餐 start-->
    <div class="screen-four-fwjs">
        <div class="bw_1200">
            <div class="screen-title"><span class="t">精选套餐<i></i></span><span class="y">/ Choice package</span></div>
            <ul class="matching_ul fl-clr" data-uk-scrollspy="{cls:'uk-animation-slide-right',target:'li',delay:300}">
                <li class="li1">
                    <i class="img"></i>
                    <p class="t">顶级域名<i></i></p>
                    <p>赠送价值100元顶级域名，彰显企业形象</p>
                </li>
                <li class="li2">
                    <i class="img"></i>
                    <p class="t">增值服务<i></i></p>
                    <p>超值好礼，赠送商铺SEO助手和去广告服务</p>
                </li>
                <li class="li3">
                    <i class="img"></i>
                    <p class="t">优质服务<i></i></p>
                    <p>一对一传授十年营销推广经验</p>
                </li>
            </ul>
        </div>    
    </div>
<!--精选套餐 END--> 
<!--申请流程 start-->
    <div class="screen-five-fwjs bw_1200">
        <div class="screen-title"><span class="t">申请流程<i></i></span><span class="y">/ Application process</span></div>
        <ul class="flow_ul fl-clr" data-uk-scrollspy="{cls:'uk-animation-slide-right',target:'li',delay:300}">
            <li>
                <div class="box li1"><i class="img"></i><p>申请服务</p></div>
            </li>
            <li>
                <div class="box li2"><i class="img"></i><p>购买服务</p></div>
            </li>
            <li>
                <div class="box li3"><i class="img"></i><p>确定域名</p></div>
            </li>
            <li>
                <div class="box li4"><i class="img"></i><p>域名实名认证</p></div>
            </li>
            <li>
                <div class="box li5"><i class="img"></i><p>网站上线</p></div>
            </li>
        </ul>
    </div>
<!--建站流程 END-->   
<!--查看旺铺模板 start--> 
<div class="screen-five-fwjs bw_1200">  
<div class="spmuban"><a href="{$MODULE[1][linkurl]}vip/spmuban.php" target="_blank">精美旺铺模板</a></div> 
</div> 
</div>
<script type="text/javascript" src="{DT_STATIC}vip/js/uikit.js"></script>
{template 'footer', 'vip'}