{template 'header', 'vip'}
<link href="{DT_STATIC}vip/css/vip-fwjs.css" rel="stylesheet" type="text/css">
<link href="{DT_STATIC}vip/css/lightbox.css" rel="stylesheet" type="text/css">
<link href="{DT_STATIC}vip/css/uikit.css" rel="stylesheet" type="text/css">
<div class="content_vip bw_1200">
    <div class="templates_title">
        <p class="z">模板展示</p>
        <p class="y">template display</p>
    </div>
    <div class="tab templates_tab">
        <ul class="tab_ul">
            <li class="hover"><i class="i1"></i>PC端模板</li>
            <li><i class="i2"></i>移动端模板</li>
        </ul>
        <div class="tab_box">
            <div class="div">
                <ul class="templates_ul fl-clr uk-animation-fade">
                    <li>
                        <a href="{DT_STATIC}vip/images/cs1_d.jpg" data-lightbox="img1" data-title="模板1">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/cs1.jpg" width="284" height="174"></i></div><p>模版1</p>
                        </a>
                    </li>
                    <li>
                        <a href="{DT_STATIC}vip/images/cs2_d.jpg" data-lightbox="img1" data-title="模板2">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/cs2.jpg" width="284" height="174"></i></div><p>模版2</p>
                        </a>
                    </li>
                    <li>
                        <a href="{DT_STATIC}vip/images/cs3_d.jpg" data-lightbox="img1" data-title="模板3">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/cs3.jpg" width="284" height="174"></i></div><p>模版3</p>
                        </a>
                    </li>
                    <li>
                        <a href="{DT_STATIC}vip/images/cs4_d.jpg" data-lightbox="img1" data-title="模板4">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/cs5.jpg" width="284" height="174"></i></div><p>模版4</p>
                        </a>
                    </li>
                    <li>
                        <a href="{DT_STATIC}vip/images/cs5_d.jpg" data-lightbox="img1" data-title="模板5">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/cs4.jpg" width="284" height="174"></i></div><p>模版5</p>
                        </a>
                    </li>
                    <li>
                        <a href="{DT_STATIC}vip/images/cs6_d.jpg" data-lightbox="img1" data-title="模板6">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/cs6.jpg" width="284" height="174"></i></div><p>模版6</p>
                        </a>
                    </li>
                    <li>
                        <a href="{DT_STATIC}vip/images/cs7_d.jpg" data-lightbox="img1" data-title="模板7">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/cs7.jpg" width="284" height="174"></i></div><p>模版7</p>
                        </a>
                    </li>
                     <li>
                        <a href="{DT_STATIC}vip/images/cs8_d.jpg" data-lightbox="img1" data-title="模板8">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/cs8.png" width="284" height="174"></i></div><p>模版8</p>
                        </a>
                    </li>
                    <li>
                        <a href="{DT_STATIC}vip/images/cs9_d.jpg" data-lightbox="img1" data-title="模板9">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/cs9.jpg" width="284" height="174"></i></div><p>模版9</p>
                        </a>
                    </li>
                    <li>
                        <a href="{DT_STATIC}vip/images/cs10_d.jpg" data-lightbox="img1" data-title="模板10">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/cs10.jpg" width="284" height="174"></i></div><p>模版10</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="div hide">
                <ul class="templates1_ul fl-clr uk-animation-fade">
                    <li>
                        <a href="{DT_STATIC}vip/images/ws1_b.jpg" data-lightbox="img2">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/ws1.jpg" width="216" height="349"></i></div><p>模板1-首页</p>
                        </a>
                    </li>
                    <li>
                        <a href="{DT_STATIC}vip/images/ws2_b.jpg" data-lightbox="img2">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/ws2.jpg" width="216" height="349"></i></div><p>模板1-产品信息列表页</p>
                        </a>
                    </li>
                    <li>
                        <a href="{DT_STATIC}vip/images/ws3_b.jpg" data-lightbox="img2">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/ws3.jpg" width="216" height="349"></i></div><p>模版1-企业介绍页</p> 
                        </a>
                    </li>
                    <li>
                        <a href="{DT_STATIC}vip/images/ws4_b.jpg" data-lightbox="img2">
                            <div class="img"><i><img src="{DT_STATIC}vip/images/ws4.jpg" width="216" height="349"></i></div><p>模版1-企业待开发</p> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{DT_STATIC}vip/js/vip_muban.js"></script>
<script type="text/javascript" src="{DT_STATIC}vip/js/lightbox.js"></script>
<script type="text/javascript" src="{DT_STATIC}vip/js/uikit.js"></script>
{template 'footer', 'vip'}