{template 'header', 'vip'}
 <div class="ggcons fl-clr">
	<div class="gg_tit">
            <h1>{VIP}服务协议</h1>
<div class="gg_infor">
            </div>
     </div>
     <div class="gg_nr">

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">1. 接受条款</p>
<p>欢迎使用{$DT[sitename]}（{DT_PATH}）{VIP}服务（以下简称“服务”）。以下所述条款和条件即构成您与{$DT[sitename]}（{DT_PATH}）就使用服务所达成的协议。一旦您使用了该服务，即表示您已接受了以下所述的条款和条件。如果您不同意接受全部的条款和条件，那么您将无权使用该服务。当您同意本协议或实际已使用服务时，即表示您已理解协议内容并同意受服务协议约束，包括但不限于本协议、{$DT[sitename]}（{DT_PATH}）现有的及不时更新的或新发布的会员服务条款和隐私权政策以及其他各项规则、制度等。</p>
<p>{$DT[sitename]}（{DT_PATH}）有权随时修改和（或）补充前述条款和条件，并只需公示于其网站，而无需征得您的事先同意，修改后的条款应于公示即时生效。在{$DT[sitename]}（{DT_PATH}）修改服务条款后，您继续使用服务应被视作您已接受了修改后的条款。除非得到{$DT[sitename]}（{DT_PATH}）的书面授权，任何人将不得修改本协议。</p>
<p>本协议中，使用{VIP}服务的用户均简称为“{VIP}会员”或“您”。请注意，本协议限制了{$DT[sitename]}（{DT_PATH}）的责任，{$DT[sitename]}（{DT_PATH}）不对服务作任何保证；本协议还限制了您的救济，相关条款见第九条，{$DT[sitename]}（{DT_PATH}）督促您仔细阅读。</p>

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">2. 服务</p>
<p>2.1  您订购的本服务，包含以下功能（下述功能随时可能因{$DT[sitename]}网站的单方判断而被增加或修改，或因定期、不定期的维护而暂缓提供。）</p>
<p>(a) 企业身份审核：您的身份必须是企业用户，将由{$DT[sitename]}（{DT_PATH}）审核有关您在申请服务时的如下信息： </p>
<p>ⅰ. 登记的公司在工商部门具有真实、合法、有效的注册记录； </p>
<p>ⅱ. 所登记的联系人在公司的业务身份属实；  </p>
<p>ⅲ. 所登记的联系人获得公司授权购买和使用服务。  </p>
<p>故您在申请本服务时，是否需要继续查证，则以{$DT[sitename]}（{DT_PATH}）要求为准。但{$DT[sitename]}（{DT_PATH}）均有权了解您的其他信息的合理性，您应履行配合义务，否则，{$DT[sitename]}（{DT_PATH}）有权拒绝提供服务。</p>
<p>同样，在服务期内，您应始终保持您的主体身份真实、合法、有效，若您的第（ⅰ）项信息发生任何变更，您应及时通知{$DT[sitename]}（{DT_PATH}），申请再次审核。当您所登记的联系人发生变更，您应保证变更后的联系人仍须为您的企业员工且业务身份属实，您同意授权变更后的联系人继续使用{VIP}服务。您同意为您的未及时通知或更新等承担全部责任，如因此而给{$DT[sitename]}（{DT_PATH}）（包括其合作伙伴、职员等）造成损失的，您同意赔偿全部损失（包括律师费）。 </p>
<p>(b) {$DT[sitename]}（{DT_PATH}）活动记录：</p>
<p>即您在{$DT[sitename]}（{DT_PATH}）网站的交易信息和行为的记录的提供。 </p>
<p>(c) 证书及荣誉：</p>
<p>即由{$DT[sitename]}（{DT_PATH}）网站提供空间，通过{$DT[sitename]}（{DT_PATH}）提供的技术服务，您可自行展示各类证书、资格或荣誉，但您应对该等资料的真实性、合法性、有效性负责。 </p>
<p>(d) 发布、优化信息及信息进入搜索页面： </p>
<p>即由{$DT[sitename]}（{DT_PATH}）网站提供空间，通过{$DT[sitename]}（{DT_PATH}）的技术服务，您可自行张贴您的商业信息，包括其文字描述、图片或照片说明，并可以通过{$DT[sitename]}（{DT_PATH}）提供的技术服务对该等信息以及您在{$DT[sitename]}（{DT_PATH}）网站专用网址首页、主题、相册、橱窗实现更生动、更个性的展示。其中符合特定条件的信息（不超过10000条）通过本服务可进入{$DT[sitename]}（{DT_PATH}）网站搜索结果页面。但{$DT[sitename]}（{DT_PATH}）不对上述信息的真实性、合法性、准确性或及时性、完整性负责。 </p>
<p>(g) 查阅或订阅{$DT[sitename]}（{DT_PATH}）网站的信息： </p>
<p>即您有权通过访问{$DT[sitename]}（{DT_PATH}）网站、接收电子邮件的方式查看或订阅其他会员或{VIP}会员在{$DT[sitename]}（{DT_PATH}）网站发布的各类信息；但{$DT[sitename]}（{DT_PATH}）不对该信息的真实性、合法性、准确性或完整性和及时性负责。 </p>
<p>(h) 通过{$DT[sitename]}（{DT_PATH}）的技术服务，您可识别您在{$DT[sitename]}（{DT_PATH}）网站的访客；您可以分析访客所在区域、访问来源；通过对访客的分析，辅助您对符合条件的访客进行营销跟进，为您定期匹配符合特定条件的潜在买家，辅助您对这些潜在买家进行营销推广。 </p>
<p>(i) 通过{$DT[sitename]}（{DT_PATH}）的技术服务，您可实现站内消息的发送和管理。 </p>
<p>(g) 通过{$DT[sitename]}（{DT_PATH}）的技术服务，可直观展示您使用效果及变化趋势，并进行分析及提出改进建议。</p>
<p>您同意自行承担由于使用服务所获知信息而产生的全部商业风险。{$DT[sitename]}（{DT_PATH}）确认服务的上述功能构成本协议所述服务的主要部分，该服务未得到会员的同意前不会全部终止或全部变更，但本协议约定情形出现的除外。</p>
<p>2.2 本服务仅向能够根据相关法律订立具有法律约束力合约的主体提供，故您须为商业或经济组织（如有限公司，股份公司，合伙企业，独资企业等）或经营性个人（如个体工商户、农村承包经营户）等具有独立的名称、地址并能够通过企业身份审核的主体；{$DT[sitename]}（{DT_PATH}）暂不对个人用户进行提供{VIP}服务。</p>
<p>2.3 在{$DT[sitename]}（{DT_PATH}）收到您的付款及您已被确认通过审核后，您将成为{VIP}会员。{$DT[sitename]}（{DT_PATH}）将通过您在注册时提供的电子邮件地址通知您，您的服务将自收到该邮件的之日起生效。</p>
<p>2.4 如您所提供的资料有误或资料变更或其他原因导致未获企业身份审核通过的，您可以在修改资料后要求再次审核。如您所提供的资料无法通过审核，您将收到{$DT[sitename]}（{DT_PATH}）的邮件通知和退款。</p>
<p>2.5 {$DT[sitename]}（{DT_PATH}）根据会员帐号和其密码确认使用服务的会员的身份。{VIP}会员理解并明确表示通过其会员帐号和密码进行的任何操作（包括但不限于发布信息资料、网上点击同意或提交各类规则协议、网上服务条款等）均应被视为{VIP}会员行为，其法律后果由{VIP}会员承担。会员应妥善保管会员帐号和密码，并对其使用，包括遗失承担责任。会员承诺，其密码或帐号遭到未获授权的使用，或者发生其他任何安全问题时，将立即通知{$DT[sitename]}（{DT_PATH}）。会员在此同意并确认，{$DT[sitename]}（{DT_PATH}）对上述情形产生的遗失或损害不负责任。</p>
<p>2.6 在服务期满前，如您希望变更或事实上已经变更已审核的信息，则应在信息第（ⅰ）项发生变更之日起一个月内，按要求向{$DT[sitename]}（{DT_PATH}）提交申请，将得到再次审核。您同意对您所提供的变更后的信息负全部责任，并同意按本协议5.1条程序付款。如您未所变更信息未经审核通过，则{$DT[sitename]}（{DT_PATH}）有权中止或终止向您提供服务，或中止、终止您的帐号，中止期间服务期不予顺延，终止服务则{$DT[sitename]}（{DT_PATH}）有权不予退还服务费用。</p>
<p>2.7 {$DT[sitename]}（{DT_PATH}）将为每一位{VIP}会员提供专用网址。{VIP}会员的专用网址将包含{VIP}会员的诚信档案。{VIP}会员可将上述联系方式告知第三人，{VIP}会员在此授权{$DT[sitename]}（{DT_PATH}）发布、并同意{$DT[sitename]}（{DT_PATH}）向通过该专用网址进入的任何人开放信息。</p>
<p>2.8 {$DT[sitename]}（{DT_PATH}）、{$DT[sitename]}（{DT_PATH}）运营商、及其合作伙伴对{VIP}会员使用服务所提供的任何信息的真实性、合法性、准确性、及时性和完整性不作保证和承诺。此外，身份审核仅表明审核当时的情况，对此后的变更，{$DT[sitename]}（{DT_PATH}）不应负责。</p>
<p>2.9 {$DT[sitename]}（{DT_PATH}）保留在任何时候自行决定对服务及其相关功能变更、升级、修改、转移的权利。{$DT[sitename]}（{DT_PATH}）进一步保留在服务中开发新的模块、功能或其它语种服务的权利。上述所有新的模块、功能服务的提供，除非{$DT[sitename]}（{DT_PATH}）另有说明，否则仍适用本协议。</p>
<p>{VIP}会员同意仅为与第三方间进行商务沟通或与其他会员联络的目的而使用{$DT[sitename]}（{DT_PATH}）的服务。{VIP}会员在此同意{$DT[sitename]}（{DT_PATH}）在任何情况下都无需向会员或第三方在使用服务时对其在传输或联络中的迟延、不准确、错误或疏漏及因此而致使的损害负责。</p>

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">3. 所购服务期限</p>
<p>3.1 {VIP}服务有效期一年，自服务开通日起算。会员凡购买{VIP}服务，其期限不得少于一年。 </p>
<p>3.2 若{$DT[sitename]}（{DT_PATH}）在服务期满之日前未收到会员全部的续订款，则其{VIP}服务将不需事先通知而被立即终止。</p>
<p>3.3 本协议所述服务仅在{$DT[sitename]}（{DT_PATH}）简体中文网站范围内有效。{$DT[sitename]}（{DT_PATH}）简体中文网站范围是指cn.china.cn及其所有下级域名所指向的简体中文网站和这些网站的所属网页。</p>

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">4. 续签</p>
<p>4.1 {VIP}会员购买服务满一年，可于服务届满前向{$DT[sitename]}（{DT_PATH}）提出续签服务申请，但是否被接受须以{$DT[sitename]}（{DT_PATH}）意见为准。 </p>
<p>4.2 续签会员须在经{$DT[sitename]}（{DT_PATH}）接受以后并在原服务期限届满之日前，向{$DT[sitename]}（{DT_PATH}）全额支付下一年度服务费，并须重新进行企业身份审核。</p>
<p>4.3 续签企业会员通过企业身份审核后，本协议自上一年度届满之日起自动延续一年。续签企业会员如未通过企业身份审核，按本协议2.4款执行。</p>

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">5. 服务费</p>
<p>5.1 接受服务所需支付的服务费将在网站上公布。所有的费用将通过电汇、会员的信用卡或其它{$DT[sitename]}（{DT_PATH}）接受的方式事先支付。会员所支付的可以是人民币，或其它经{$DT[sitename]}（{DT_PATH}）许可的货币，同时除本协议2.4款所述的情况外，所有的付款均不作退还。您应在接受本协议后2个工作日内，按上述方式向{$DT[sitename]}（{DT_PATH}）支付全部款项。 </p>
<p>5.2 上述服务费不包含其它任何税款、费用或相关邮寄、装卸等支出，否则会员应补足付款或自行支付该费用。 </p>
<p>5.3 {$DT[sitename]}（{DT_PATH}）保留随时单方修改价格构成和支付条件的权利，并至少提前14天通知会员。</p>
<p>5.4 会员在服务开通到期满续约之前，不受在此期间{$DT[sitename]}（{DT_PATH}）调整服务价格的影响。</p>

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">6. {VIP}会员的义务</p>
<p>6.1 {VIP}会员在此声明、保证并同意： </p>
<p>(a)提供真实，准确、及时、完整的信息，包括会员自身及会员的资信参考人的相关资料； </p>
<p>(b)维护并及时更新上述资料，以保证其真实，准确，及时和完整性。 </p>
<p>会员在此授予{$DT[sitename]}（{DT_PATH}）永久的、不可撤销的、全球的和免费的使用许可权，包括其雇员，服务提供商和其他提供必要技术和服务的合作人，即，其有权使用会员根据本协议和{$DT[sitename]}（{DT_PATH}）会员服务协议所述而提供的资料和信息。会员进一步同意其一旦将信息或资料在使用服务时提供，则表示同意放弃对此信息或资料所享有的版权和相关财产权利。 </p>
<p>如果会员提供的信息不真实、不准确、不及时或不完全，或{$DT[sitename]}（{DT_PATH}）有合理的理由怀疑其真实性、准确性、及时性和完整性，则{$DT[sitename]}（{DT_PATH}）有权中止或终止会员的会员资格并拒绝会员使用任何现有的服务及以后可能提供的功能或服务。 </p>
<p>6.2 {VIP}会员在此声明并保证所提供的信息和产品不应包含以下内容： </p>
<p>(a) 欺诈、提供虚假要约、销售或试图销售假冒伪劣及盗窃的物品以及其它法律法规限制或禁止销售及推广的物品； </p>
<p>(b) 侵犯或教唆他人侵犯第三方的版权，专利，商业秘密或其它合法权利； </p>
<p>(c) 违反相关法律，法规，规章或决定(包括但不限于国家出口限制，消费者保护，不正当竞争和歧视或虚假广告)； </p>
<p>(d) 侮辱、诽谤，恐吓或非法骚扰等内容； </p>
<p>(e) 淫秽，或包含任何儿童色情内容； </p>
<p>(f) 种族，性别，地区，民族，生理残疾等歧视性或倾向性内容； </p>
<p>(g) 蓄意毁坏、恶意干扰、秘密地截取或侵占任何系统、数据或个人资料的任何病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他电脑程序。 </p>
<p>6.3 {VIP}会员根据本协议使用服务所发布的任何信息或提供的任何资料都必须符合{$DT[sitename]}（{DT_PATH}）网站当时及此后公示的发布须知及相关文字说明。 </p>
<p>6.4 {VIP}会员同意仅为本人与第三方间进行真实的商务沟通或与其他会员联络的目的而使用{$DT[sitename]}（{DT_PATH}）的服务，同意不以各种形式从事信息代理、中介等，否则，{$DT[sitename]}（{DT_PATH}）有权随时终止服务并不予退返服务费。{$DT[sitename]}（{DT_PATH}）保留追究违约会员相关责任的权利。 </p>
<p>6.5{VIP}会员同意并接受{$DT[sitename]}（{DT_PATH}）无须时时监控会员通过服务所提供的信息资料内容，并针对上述事项进行编辑调整。{$DT[sitename]}（{DT_PATH}）对{VIP}会员提供的资料，信息和评述不作确认，检验或其它任何形式的保证。每一个{VIP}会员都必须单独地为其通信内容的合法性负责，并对其提供的资料、信息或评述负全部责任。同时，{$DT[sitename]}（{DT_PATH}）保留删除依据其自行判断确认具有违法性或违反本协议或{$DT[sitename]}（{DT_PATH}）会员服务协议而可能致使{$DT[sitename]}（{DT_PATH}）因此承担责任的任何内容。 </p>
<p>同时，{VIP}会员同意对因违反本协议或会员服务条款使用服务，而{$DT[sitename]}（{DT_PATH}）未能及时张贴或删除该信息所致使的任何损失，包括其公司，雇员或代表人所遭受的全部损失进行赔偿，包括相关律师费，诉讼费等。{VIP}会员进一步同意，{$DT[sitename]}（{DT_PATH}）没有义务，也不应对会员或第三方所张贴或提供的任何资料的真实性、准确性、误导、欺诈、诽谤、侵权或违法负责。如{VIP}会员因此而遭受损失，则应由{VIP}会员自行向张贴人要求赔偿，{VIP}会员放弃追究{$DT[sitename]}（{DT_PATH}）责任的权利。</p>
<p>6.6根据本协议或{$DT[sitename]}（{DT_PATH}）的其它许可，{VIP}会员有权使用{$DT[sitename]}（{DT_PATH}）提供数据库和列表等技术服务。除此以外，其它使用或试图使用{$DT[sitename]}（{DT_PATH}）的各种目录，数据库和列表用作商业性目的或复制，抄袭，进行大规模促销(包括但不限于发送垃圾邮件等)或其它未经许可的目的，将被强行禁止。</p>

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">7. 诚信经营</p>
<p>7.1 {VIP}会员承诺，其将恪守诚信经营原则，在{VIP}服务期内，如{VIP}会员有下列情形之一的，其完全同意{$DT[sitename]}（{DT_PATH}）有权立即单方给与包括但不限于警告、公示、限权、终止服务等不同程度的处罚：会员限权期间服务费用照常计算，且服务期不予延长。被终止服务的会员将在{$DT[sitename]}（{DT_PATH}）网站上进行通告，{$DT[sitename]}（{DT_PATH}）无需退还未履行的服务费用，同时无需承担任何违约责任。 </p>
<p>(a) 涉嫌利用服务实施欺诈或其他违法行为的（{$DT[sitename]}网站有权单方对此做出认定）； </p>
<p>(b) 被任何第三方投诉，称其有未按约定发货、未按约定付款或所发货物数量或质量与约定不符、交货期迟延等违约行为，或称其有生产或销售假冒伪劣产品或侵犯第三方合法权利的产品的行为，且未能在{$DT[sitename]}（{DT_PATH}）要求的合理期限内提供证据，或虽在上述期限内提供了证据，但未能充分证明其不存在上述行为的； </p>
<p>(c) 未经{$DT[sitename]}（{DT_PATH}）书面同意，擅自许可他人使用{VIP}服务或擅自将{VIP}服务转让或部分转让他人的（包括但不限于擅自许可他人使用其帐号和密码，或擅自将其帐号和密码转让或泄露给他人的），或售卖或要约售卖其通过{VIP}服务获知的买家及买家询盘等相关商业信息的； </p>
<p>(d) 利用{VIP}服务或计算机病毒/程序等手段，非法窃取、删除、修改或增加{$DT[sitename]}（{DT_PATH}）网站或{$DT[sitename]}（{DT_PATH}）网站其他会员的任何信息，或以其他任何方式危害{$DT[sitename]}（{DT_PATH}）网站的正常运行的； </p>
<p>(e)存在{$DT[sitename]}（{DT_PATH}）认定的其他不诚信行为的，或违反其他约定或网站规则的。</p>
<p>7.2 {VIP}会员理解并同意，诚信经营的范围包括但不限于{VIP}当前服务期、{VIP}以前服务期、使用{VIP}服务、非使用{VIP}服务。</p>

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">8. 服务的终止</p>
<p>8.1 {$DT[sitename]}（{DT_PATH}）有权在下列情形下拒绝会员的订购或终止您的会员资格： </p>
<p>(a) 会员违反了本协议或会员服务协议的任一条款； </p>
<p>(b) {$DT[sitename]}（{DT_PATH}）或其授权的第三方无法确认会员提供的注册登记资料或身份信息； </p>
<p>(c) 根据本协议第3.2款和第5条而终止服务； </p>
<p>(d) 对于隐瞒其从事互联网服务的会员，{$DT[sitename]}（{DT_PATH}）一经发现，有权立即终止服务。 </p>
<p>8.2 如协议一方，除为重组或兼并的目的外，通过决议或由法院判令解散，则接收方或指定的债权人代表有权经通知后终止本协议。 </p>
<p>8.3协议期内，在会员被第三方多次投诉等合理情形下，为避免会员及{$DT[sitename]}（{DT_PATH}）的损失，{$DT[sitename]}（{DT_PATH}）有权以电子邮件或其他书面形式通知会员后解除本合同，本合同自通知到达会员处时终止。合同解除后，会员有权凭{$DT[sitename]}（{DT_PATH}）就退款申请要求{$DT[sitename]}（{DT_PATH}）退还未履行部分的合同价款。</p>
<p><a href="{$MODULE[1][linkurl]}about/contact.html" style="font-weight:bold;color: #d10504;text-decoration:underline;">退款金额计算方法</a></p>

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">9. 有限责任</p>
<p>9.1 服务将按"现状"和按"可得到"的状态提供。{$DT[sitename]}（{DT_PATH}）在此明确声明对服务不作任何明示或暗示的保证，包括但不限于对服务的可适用性，没有错误或疏漏、持续性、准确性、可靠性，适用于某一特定用途之类的保证、声明或承诺。{$DT[sitename]}（{DT_PATH}）对服务所涉的技术和信息的有效性、准确性、正确性、可靠性、质量、稳定，完整和及时性均不作承诺和保证。 </p>
<p>9.2 使用本服务下载或者获取任何资料的行为均出于用户的独立判断并自行承担风险。每一个会员独自承担因此对其电脑系统或资料灭失造成的损失。{$DT[sitename]}（{DT_PATH}）对{VIP}会员的任何通知，不论是口头还是书面的，均不表示{$DT[sitename]}（{DT_PATH}）做出在本协议陈述以外的任何担保责任。 </p>
<p>9.3 不论在何种情况下，{$DT[sitename]}（{DT_PATH}）均不对由于Internet连接故障，电脑，通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，不可抗力，战争，政府行为，国际国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。 </p>
<p>9.4 每一个用户均同意赔偿由于使用本服务（包括但不限于将用户资料展示在网站上）或违反本协议而给{$DT[sitename]}（{DT_PATH}）造成的任何损失（包括由此产生的全额的诉讼费用和律师费）。每一个用户均同意{$DT[sitename]}（{DT_PATH}）不对任何其他人张贴的资料，包括诽谤性的、攻击性的或非法的资料，承担任何责任；由于此类材料对其它用户造成的损失由用户自行全部承担。 </p>
<p>9.5 不论是否可以预见，不论是源于何种形式的行为，{$DT[sitename]}（{DT_PATH}）不对由以下原因造成的任何特别的、直接的、间接的、惩罚性的、突发性的或有因果关系的损害或其他任何损害（包括但不限于利润或利息的损失，营业中断，资料灭失）承担责任。该条款可以扩展到法律所排斥的或不受法律约束的范畴： </p>
<p>(a) 使用或不能使用本服务； </p>
<p>(b) 通过本服务购买或获取任何商品，样品，数据，信息或进行交易等，或其他可替代上述行为的行为而产生的费用； </p>
<p>(c) 未经授权的存取或修改数据或数据的传输； </p>
<p>(d) 第三方通过服务所作的陈述或行为； </p>
<p>(e) 其它因与服务相关事件，包括疏忽等，所造成的损害。</p>
<p>9.6 无论何种情形，会员同意{$DT[sitename]}（{DT_PATH}）对会员使用服务所致的损害的赔偿限额最高不超过会员当年度实际所支付的服务费。</p>

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">10. 知识产权</p>
<p>10.1 {$DT[sitename]}（{DT_PATH}）及其所属公司是服务所有权利的拥有者。服务包含商业秘密和全世界范围内的版权和其它知识产权。服务的全部权利，包括所有权和知识产权将由{$DT[sitename]}（{DT_PATH}）及其所属公司保留。其它本协议中未经提及的权利亦由{$DT[sitename]}（{DT_PATH}）及其所属公司保留。</p>
<p>10.2 未经{$DT[sitename]}（{DT_PATH}）许可或授权，用户不得复制，模仿，使用或发布“{$DT[sitename]}（{DT_PATH}）”、“{DT_PATH}”、“cn.china.cn”、“{VIP}”及相关的标识和徵记。</p>
<p>10.3 未经{$DT[sitename]}（{DT_PATH}）许可同意，用户不得以任何理由自行或委托第三方以任何方式使用{$DT[sitename]}（{DT_PATH}）及其关联公司的企业名称、企业字号、商标、LOGO、活动品牌等内容从事任何活动，否则{$DT[sitename]}（{DT_PATH}）有权立即单方面终止本协议，并有权要求用户赔偿全部损失（包括但不限于调查取证费用、公证费用、律师费等）。</p>

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">11. 其他</p>
<p>11.1 本协议取代双方就有关本协议所载任何事项于先前以口头及书面达成的共识。 </p>
<p>11.2 本协议将受中国法律约束，并受{$DT[sitename]}（{DT_PATH}）所在地人民法院管辖。 </p>
<p>11.3 如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。 </p>
<p>11.4 本协议的标题仅为方便阅读所设，非对条款的定义、限制、解释或描述其范围或界限。</p>
<p>11.5 {$DT[sitename]}（{DT_PATH}）于会员过失或违约时放弃本协议规定的权利的，不得视为其对会员的其他或以后同类之过失或违约行为弃权。</p>

<p style="text-indent: 0px;font-weight:bold;color: #d10504;">12. 特别声明</p>
<p>12.1 本协议项下的“{VIP}”服务指{$DT[sitename]}（{DT_PATH}）提供的，基于{$DT[sitename]}（{DT_PATH}）中文站的许可及相关技术服务；{$DT[sitename]}（{DT_PATH}）中文站空间及会员在使用{VIP}服务中涉及的互联网信息服务由北京奇志浩天科技有限公司提供。北京奇志浩天科技有限公司、{$DT[sitename]}（{DT_PATH}）、{$DT[sitename]}网站在本协议中可单独或合称为“{$DT[sitename]}（{DT_PATH}）”。 </p>
<p>12.2 在提及知识产权时，“{$DT[sitename]}（{DT_PATH}）”同时包括了其网站及网站运营商。 </p>

	</div>
</div>
{template 'footer', 'vip'}