
/*-------------------------------------------------- 
*@名称:相关的重要css *@作者:小黑 *@QQ: 290948585 *@Date: 2016-08-10 *@版本:st04 *@网站:b2b.bjlsjp.cn *特注：此文件非经许可，请勿修改
--------------------------------------------------*/
@charset "utf-8";

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
hr{border:none;height:1px;*color:#fff}
img{-ms-interpolation-mode:bicubic}
.fd-left{float:left}
.fd-right{float:right}
.fd-clear{clear:both}
.fd-clr{*zoom:1}
.fd-clr:after{display:block;clear:both;height:0;content:"\0020"}
.fd-hide{display:none}
.fd-show{display:block}
.fd-locate{position:relative}
.fd-cny{font-family:Helvetica,Arial}
.fd-gray{color:#666}
.fd-bold{font-weight:700}
.screen{width:990px;margin:0 auto;padding:0 5px}
#header,#content,#footer,.layoutshow{*zoom:1}
#header:after,#content:after,#footer:after,.layoutshow:after{display:block;clear:both;height:0;content:"\0020"}
.layoutshow .grid{float:left}
.layoutshow .grid-fixed{margin-right:0!important}
.w952{width:952px;margin:0 auto;padding:0 4px}
a:hover{color:#ff7300}
a{color:#333}
a,a:hover,a:visited,a:link{text-decoration:none}
body,html{font-family:Arial,"\5FAE\8F6F\96C5\9ED1";color:#333}
button,input,select,textarea{font-family:Arial,"\5FAE\8F6F\96C5\9ED1"}
input.placeholder,textarea.placeholder{color:#aaa}
#alibar-v4 .alibar-container{width:1200px!important}
.layoutshow{width:1200px;margin:0 auto;background: #ffffff url(images/club/2021661_1249217316.png) 0 0 repeat-y;}
.layoutshow .grid-1{float:left;width:30px;margin-right:10px}
.layoutshow .grid-2{float:left;width:70px;margin-right:10px}
.layoutshow .grid-3{float:left;width:110px;margin-right:10px}
.layoutshow .grid-4{float:left;width:150px;margin-right:10px}
.layoutshow .grid-5{float:left;width:190px;margin-right:10px}
.layoutshow .grid-6{float:left;width:230px;margin-right:10px}
.layoutshow .grid-7{float:left;width:280px;-margin-right:10px}
.layoutshow .grid-8{float:left;width:310px;margin-right:10px}
.layoutshow .grid-9{float:left;width:350px;margin-right:10px}
.layoutshow .grid-10{float:left;width:390px;margin-right:10px}
.layoutshow .grid-11{float:left;width:430px;margin-right:10px}
.layoutshow .grid-12{float:left;width:470px;margin-right:10px}
.layoutshow .grid-13{float:left;width:510px;margin-right:10px}
.layoutshow .grid-14{float:left;width:550px;margin-right:10px}
.layoutshow .grid-15{float:left;width:590px;margin-right:10px}
.layoutshow .grid-16{float:left;width:630px;margin-right:10px}
.layoutshow .grid-17{float:left;width:670px;margin-right:10px}
.layoutshow .grid-18{float:left;width:710px;margin-right:10px}
.layoutshow .grid-19{float:left;width:750px;margin-right:10px}
.layoutshow .grid-20{float:left;width:790px;margin-right:10px}
.layoutshow .grid-21{float:left;width:830px;margin-right:10px}
.layoutshow .grid-22{float:left;width:870px;margin-right:10px}
.layoutshow .grid-23{float:left;width:910px;margin-right:10px}
.layoutshow .grid-24{float:left;width:950px;margin-right:10px}
.layoutshow .grid-25{float:left;width:990px;margin-right:10px}
.layoutshow .grid-26{float:left;width:1030px;margin-right:10px}
.layoutshow .grid-27{float:left;width:1070px;margin-right:10px}
.layoutshow .grid-28{float:left;width:1110px;margin-right:10px}
.layoutshow .grid-29{float:left;width:1150px;margin-right:10px}
.layoutshow .grid-30{float:left;width:1200px;margin-right:10px}
.thread-detail .main-content .layoutshow{padding-top:30px;background:transparent url(images/club/2021661_1249217316.png) 0 0 repeat-y}
.thread-detail .main-content .layoutshow .grid-18{margin-left:-10px}
.thread-detail .nav{height:44px}
.thread-detail .circle-nav{display:none}
.thread-detail .mod-circle-info{border:0 none;background-color:transparent}
.thread-detail .mod-circle-info .circle-avatar{margin-top:0}
.join-cirlce-dialog .error-tips{color:#ff3c00}
.delete-thread-dialog .titleclub{font-size:16px;padding:10px 0 10px 0}
.delete-thread-dialog .titleclub span{color:#999;font-size:12px}
.delete-thread-dialog ul{padding:0 0 0 10px}
.delete-thread-dialog li{line-height:28px}
.delete-thread-dialog li input{vertical-align:-3px}
.delete-thread-dialog textarea{padding:5px;height:40px;width:350px}
#alibar-v4{background-color:#fff;border-bottom:1px solid #E6E6E6}
#alibar-v4 .alibar-container{margin:0 auto;padding:0 4px;width:990px;height:29px;_overflow:hidden;font:12px/23px Tahoma,Arial,"\5B8B\4F53",sans-serif;line-height:29px}
#alibar-v4 a{text-decoration:none}
#alibar-v4 a:hover{color:#ff7300!important}
#alibar-v4 .topnav li,#alibar-v4 .nav-arrow,#alibar-v4 .topnav-purchaselist .nav-title span,#alibar-v4 .topnav-favorite .nav-title span,#alibar-v4 .topnav-favorite .nav-content a.news,#alibar-v4 .topnav-tp .contact-us,#alibar-v4 .topnav-tp .apply-form,#alibar-v4 .topnav-tp .join-promotion,#alibar-v4 .topnav-tp .renewal-online,#alibar-v4 .mobile,#alibar-v4 .mobile a{background:url(images/club/2013127_1805353437.png) no-repeat;_background:url(images/club/2013104_1805353437.png) no-repeat}
#alibar-v4 li{float:left}
#alibar-v4 .extra{position:relative;z-index:1804}
#alibar-v4 .account-sign-status{float:left;color:#444}
#alibar-v4 .account-sign-status .account-id,#alibar-v4 .account-sign-status a:link,#alibar-v4 .account-sign-status a:visited{color:#676767}
#alibar-v4 .account-sign-status .account-id a:link,#alibar-v4 .account-sign-status .account-id a:visited{color:#FC6143}
#alibar-v4 .account-sign-status li{padding:0 5px}
#alibar-v4 .account-sign-status a.modify-nick{color:#ff7300}
#alibar-v4 .account-msg a span{margin-left:2px;padding:0 4px;background-color:#ff7300;color:#fff;-moz-border-radius:3px;border-radius:3px}
#alibar-v4 .account-msg a:hover span{background-color:#f30}
#alibar-v4 .topnav{float:right}
#alibar-v4 .topnav a:link,#alibar-v4 .topnav a:visited{color:#666}
#alibar-v4 .topnav li{background-position:right 10px}
#alibar-v4 .nav-title{float:left;padding:0 9px}
#alibar-v4 .extra:hover .nav-title,#alibar-v4 .nav-hover .nav-title{padding:0 8px;height:30px;border-left:solid 1px #d1d1d1;border-right:solid 1px #d1d1d1;background-color:#fff}
#alibar-v4 .topnav li.nav-hover-prev{background:0 0}
#alibar-v4 .nav-arrow{padding-right:10px;background-position:right -160px}
#alibar-v4 .topnav li:hover .nav-arrow,#alibar-v4 .topnav .nav-hover .nav-arrow{background-position:right -190px}
#alibar-v4 .list-first{background:0 0}
#alibar-v4 .nav-content{display:none;border:solid 1px #d1d1d1;border-top:0 none;background-color:#fff;box-shadow:rgba(0,0,0,.2) 1px 1px 1px 0}
#alibar-v4 .topnav .extra:hover .nav-content,#alibar-v4 .topnav .nav-hover .nav-content{display:block;position:absolute;top:30px;z-index:2000}
#alibar-v4 .nav-content dl{float:left;padding:4px 12px}
#alibar-v4 .nav-content dt{font-weight:700;color:#b0b0b0}
#alibar-v4 .nav-content dd{line-height:20px;word-spacing:no-wrap}
#alibar-v4 .nav-content a:link,#alibar-v4 .nav-content a:visited{color:#444}
#alibar-v4 .topnav-myali .nav-content{left:0;width:252px}
#alibar-v4 .topnav-purchaselist .nav-title span{padding-left:12px;background-position:0 -238px}
#alibar-v4 .topnav-purchaselist-stock em{color:#ff7300}
#alibar-v4 .topnav-purchaselist .nav-content{left:0;width:277px}
#alibar-v4 .topnav-purchaselist .product-list{padding:4px 0}
#alibar-v4 .topnav-purchaselist .product-list h3{padding-left:8px}
#alibar-v4 .topnav-purchaselist .product-list p{padding:16px 0;text-align:center;color:#525151}
#alibar-v4 .topnav-purchaselist .purchase-info{padding:10px 0;background-color:#fff;text-align:center}
#alibar-v4 .topnav-purchaselist .purchase-info p{margin-bottom:6px;color:#646464}
#alibar-v4 .topnav-purchaselist .purchase-info em{font-weight:700}
#alibar-v4 .topnav-purchaselist .purchase-info .orange{color:#ff7300}
#alibar-v4 .topnav-purchaselist-stock .product-list p{display:none}
#alibar-v4 .topnav-purchaselist dl{padding:4px 8px}
#alibar-v4 .topnav-purchaselist dd.action a{color:#06c!important}
#alibar-v4 .topnav-purchaselist dl a:hover{color:#ff7300!important}
#alibar-v4 .topnav-purchaselist dt{float:left;margin:4px 8px 0 0;text-align:center}
#alibar-v4 .topnav-purchaselist dt a{display:block;width:50px;height:50px;overflow:hidden}
#alibar-v4 .topnav-purchaselist dd{float:left;width:166px;line-height:1.5}
#alibar-v4 .topnav-purchaselist dd.specInfos{height:18px;overflow:hidden}
#alibar-v4 .topnav-purchaselist dd.specInfos .specItem{margin-right:10px;color:#8c8c8c;word-break:break-all}
#alibar-v4 .topnav-purchaselist dd.specInfos .lastItem{margin:0}
#alibar-v4 .topnav-purchaselist dd.price{color:#8c8c8c;font-family:Helvetica}
#alibar-v4 .topnav-purchaselist dd.action{float:right;width:30px;margin-top:-18px;text-align:right}
#alibar-v4 .topnav-purchaselist dd em{margin:0 2px;color:#ff7300}
#alibar-v4 .topnav-purchaselist a.btn-y{display:inline-block;width:90px;height:24px;border:solid 1px #e89f0e;border-bottom-color:#cf7f01;background-color:#fca000;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fcb10a),color-stop(1,#f18e06));background-image:-webkit-linear-gradient(top,#fcb10a 0,#f18e06 100%);background-image:-moz-linear-gradient(top,#fcb10a 0,#f18e06 100%);background-image:-o-linear-gradient(top,#fcb10a 0,#f18e06 100%);background-image:-ms-linear-gradient(top,#fcb10a 0,#f18e06 100%);background-image:linear-gradient(top,#fcb10a 0,#f18e06 100%);border-radius:3px;color:#fff!important;font-weight:700;line-height:24px;text-align:center}
#alibar-v4 .topnav-purchaselist a.btn-y:hover{background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f29b06),color-stop(1,#e57902));background-image:-webkit-linear-gradient(top,#f29b06 0,#e57902 100%);background-image:-moz-linear-gradient(top,#f29b06 0,#e57902 100%);background-image:-o-linear-gradient(top,#f29b06 0,#e57902 100%);background-image:-ms-linear-gradient(top,#f29b06 0,#e57902 100%);background-image:linear-gradient(top,#f29b06 0,#e57902 100%)}
#alibar-v4 .topnav-purchaselist a.btn-y:active{background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e07f00),color-stop(1,#e48c02));background-image:-webkit-linear-gradient(top,#e07f00 0,#e48c02 100%);background-image:-moz-linear-gradient(top,#e07f00 0,#e48c02 100%);background-image:-o-linear-gradient(top,#e07f00 0,#e48c02 100%);background-image:-ms-linear-gradient(top,#e07f00 0,#e48c02 100%);background-image:linear-gradient(top,#e07f00 0,#e48c02 100%)}
#alibar-v4 .topnav-favorite .nav-title span{padding-left:12px;background-position:0 -521px;_background:0 0;_padding-left:0}
#alibar-v4 .topnav-favorite .nav-content{left:0;width:114px}
#alibar-v4 .topnav-favorite .nav-content a.news{padding-right:8px;background-position:right -485px}
#alibar-v4 .topnav-tp .nav-content{left:0;width:128px}
#alibar-v4 .topnav-tp .nav-content a{padding-left:20px}
#alibar-v4 .topnav-tp .contact-us{background-position:2px -56px}
#alibar-v4 .topnav-tp .order-online{text-decoration:none!important}
#alibar-v4 .topnav-tp .apply-form{background-position:2px -86px}
#alibar-v4 .topnav-tp .join-promotion{background-position:2px -116px}
#alibar-v4 .topnav-tp .renewal-online{background-position:2px -279px}
#alibar-v4 .topnav-sitemap .nav-content{right:0;width:361px}
#alibar-v4 .topnav-sitemap.new-sitemap .nav-content{right:0;width:274px}
#alibar-v4 .topnav-sitemap.new-sitemap .zone{float:none}
#alibar-v4 .topnav-sitemap.new-sitemap .zone span{float:left;display:inline;line-height:24px;word-break:keep-all}
#alibar-v4 .topnav-sitemap.new-sitemap .zone .name,#alibar-v4 .topnav-sitemap.new-sitemap .zone .detail{float:left}
#alibar-v4 .topnav-sitemap.new-sitemap .zone .name{color:#ff7300;font-weight:700;margin-right:15px;line-height:24px}
#alibar-v4 .topnav-sitemap.new-sitemap .zone .detail{zoom:1;width:177px}
#alibar-v4 .topnav-sitemap.new-sitemap .zone .detail:after{content:"\0020";display:block;height:0;clear:both}
#alibar-v4 .topnav-sitemap.new-sitemap .zone .spacing{width:1px;height:24px;margin:0 7px;background-position:right 6px}
#alibar-v4 .topnav-sitemap.new-sitemap .dashedline{background:url(images/club/2013127_1805353437.png) no-repeat;background-position:0 -321px;background-repeat:repeat-x;font-size:0;width:100%;height:1px;margin-top:6px;margin-bottom:8px}
#alibar-v4 .topnav-sitemap.new-sitemap .hangye-category{padding:12px 15px;zoom:1}
#alibar-v4 .topnav-sitemap.new-sitemap .hangye-category dl{padding:0}
#alibar-v4 .topnav-sitemap.new-sitemap .more{height:30px;line-height:30px;background:#f2f2f2}
#alibar-v4 .topnav-sitemap.new-sitemap .more .moreBtn{float:right;padding-right:20px;background-position:40px -329px}
#alibar-v4 .topnav-kf .nav-content{left:0;width:76px}
#alibar-v4 .topnav-supplier .nav-content{left:0;width:88px}
#alibar-v4 .alibar-tips{position:absolute;position:absolute;background:#fffcdc;border:1px solid #e7d4ac;padding:10px 8px 4px;z-index:1500;box-shadow:2px 2px rgba(0,0,0,.1)}
#alibar-v4 .tips-top{position:absolute;display:block;font-size:0;top:-8px;top:-8px\9;left:10px;width:13px;height:8px;background:url(images/club/447550_1451252140.png) no-repeat 0 -60px;z-index:1501}
#alibar-v4 .tip-logo{float:left;width:30px;height:34px;background:url(images/club/447550_1451252140.png) no-repeat}
#alibar-v4 .tips-close{float:left;width:10px;height:10px;background:url(images/club/447550_1451252140.png) no-repeat 0 -40px;cursor:pointer;font-size:0}
#alibar-v4 .tip-text{float:left;padding:0 10px 0 4px;width:156px}
#alibar-v4 .tip-text.add{width:180px}
#alibar-v4 .tip-text .modify_nick_btn{background:#FF7300;width:130px;height:18px;line-height:18px;text-align:center;margin:10px 0;padding:0;cursor:pointer}
#alibar-v4 .tip-text .modify_nick_btn a:link,#alibar-v4 .tip-text .modify_nick_btn a:visited,#alibar-v4 .tip-text .modify_nick_btn a:hover{color:#fff!important}
#alibar-v4 .detail-link{color:#369}
#alibar-v4 .tip-text em{color:#C97831}
#alibar-v4 .tip-text a.i-know{display:block;text-align:right}
#alibar-v4 .alibar-loading{background:url(images/club/loading.gif) no-repeat 50% 50%}
#alibar-v4 .mobile{float:left;padding-right:8px;background-position:right 10px}
#alibar-v4 .mobile a{display:block;float:left;padding-left:16px;background-position:0 -376px}
#alibar-v4 .mobile a:link,#alibar-v4 .mobile a:visited{color:#676767}
#alibar-v4 .account-welcome .sayHello{display:block;float:left;color:#676767}
#alibar-v4 .account-welcome{position:relative;z-index:1000}
#alibar-v4 .account-welcome .nav-content{left:41px;background-color:#fff}
#alibar-v4 .account-welcome .reLoginRemind{padding-left:15px}
#alibar-v4 .account-welcome .reLoginRemind a:link,#alibar-v4 .account-welcome .reLoginRemind a:visited,#alibar-v4 .account-welcome .isSubAccountRemind a:visited{color:#ff7300}
#alibar-v4 .account-welcome .isSubAccountRemind a:link{color:#495B71}
#alibar-v4 .infoHover .nav-title{padding:0 8px;border-left:solid 1px #d1d1d1;border-right:solid 1px #d1d1d1;height:30px;background-color:#fff}
#alibar-v4 .infoHover .nav-content{display:block;position:absolute;top:30px;z-index:2000}
#alibar-v4 .infoHover .nav-arrow{background-position:right -190px}
#alibar-v4 .account-welcome .nav-content{width:211px;padding:5px 10px}
#alibar-v4 .levelWrapper{padding-bottom:8px}
#alibar-v4 .levelWrapper .memberPhoto{float:left;width:56px;height:56px;border:1px solid #efefef;padding:1px;margin-top:3px}
#alibar-v4 .levelWrapper .memberPhoto a{display:block}
#alibar-v4 .levelWrapper .memberPhoto a,#alibar-v4 .levelWrapper .memberPhoto img{width:56px;height:56px}
#alibar-v4 .levelWrapper .level{width:145px;float:right}
#alibar-v4 .levelWrapper .level p{line-height:20px}
#alibar-v4 .levelWrapper .level .account{text-align:right;padding-bottom:5px}
#alibar-v4 .levelWrapper .level .titleclub{color:#666;padding-right:7px}
#alibar-v4 .levelWrapper .level .vipClub,#alibar-v4 .levelWrapper .level .newComer{padding-left:10px;color:#666}
#alibar-v4 .levelWrapper .level .vipClub{font-weight:700}
#alibar-v4 .levelWrapper .level .levelImg img{vertical-align:middle}
#alibar-v4 .levelWrapper .level .account a:link,#alibar-v4 .levelWrapper .level .account a:visited{color:#336799}
#alibar-v4 .levelWrapper .level .account .sep{color:#eaeaea;padding:0 2px}
#alibar-v4 .medalWrapper{padding:10px 0 8px 0;border-top:1px dashed #e0e0e0}
#alibar-v4 .medalWrapper .medal{display:block;width:32px;height:32px;float:left;margin-right:8px}
#alibar-v4 .tip-text a:link,#alibar-v4 .tip-text a:visited{color:#ff7300}
#alibar-v4 .topnav-tp .contact-us-new,#alibar-v4 .topnav-tp .privilege-experience,#alibar-v4 .topnav-tp .newmember-application,#alibar-v4 .topnav-tp .oldmember-xufei,#alibar-v4 .topnav-tp .special-offer{padding-bottom:2px;background:url(images/club/1865237_286271235.png) -999px -999px no-repeat}
#alibar-v4 .topnav-tp .contact-us-new{background-position:0 0}
#alibar-v4 .topnav-tp .privilege-experience{background-position:0 -25px}
#alibar-v4 .topnav-tp .newmember-application{background-position:0 -53px}
#alibar-v4 .topnav-tp .oldmember-xufei{background-position:0 -80px}
#alibar-v4 .topnav-tp .special-offer{background-position:0 -106px}
#alibar-v4 .topnav-tp .nav-content{left:0;width:134px}
#alibar-v4 .topnav-tp .nav-content a{padding-left:26px}
#alibar #alibar-v4 .alibar-container.adapt-201486 .sayHello{display:block;float:left;padding-left:5px;color:#676767}
#alibar-v4 .alibar-container.adapt-201486 .account-welcome .nav-content{left:0}
#alibar-v4 .alibar-container.adapt-201486 .account-sign-status li{padding:0 5px 0 0}
.mod-circle-info{width:188px;padding:0 0 50px 0;-border:1px solid #e8e8e8;background-color:#fff}
.mod-circle-info .circle-avatar{display:block;text-align:center;margin-top:10px}
.mod-circle-info .circle-avatar img{display:block;width:118px;height:118px;margin:0 auto;border-radius:50%;border:4px solid #fff;box-shadow:0 -1px 6px #ddd}
.mod-circle-info .circle-avatar span{display:block;padding:0 20px;margin-top:16px;font-size:21px;color:#333}
.mod-circle-info .circle-name{display:block;padding:16px 20px 0 20px;font-size:21px;color:#333}
.mod-circle-info .circle-name h1,.mod-circle-info .circle-name span{display:block;text-align:center}
.mod-circle-info .circle-name h1 i,.mod-circle-info .circle-name span i{display:inline-block;margin:0 0 -2px 4px;width:18px;height:20px;background:transparent url(images/club/2239398_1249217316.png) 0 0 no-repeat}
.mod-circle-info .circle-data{margin:0 20px;padding-top:36px}
.mod-circle-info .circle-data li{float:left;width:66px;text-align:center}
.mod-circle-info .circle-data li.split{width:1px;border-left:1px solid #eee;height:34px;margin:7px 6px 0 4px}
.mod-circle-info .circle-data li a,.mod-circle-info .circle-data li span{display:block}
.mod-circle-info .circle-data li a{color:#333;font-size:18px}
.mod-circle-info .circle-data li span{color:#999;font-size:12px}
.mod-circle-info .button-action{margin:13px 0 0 -8px;text-align:center}
.mod-circle-info .button-action a{margin:0 0 0 8px;color:#FFF}
a.rpl:link,a.rpl:visited,a.rpl:active{float:left;display:block;line-height:23px;padding:0 15px 0 15px;border-radius:5px;margin-left:6px;background:#ff500b;color:#FFFFFF;letter-spacing:2px;font-size:14px;}
a.rpl:hover{background:#ff500b;}
.mod-circle-info .circle-bbs{margin:46px 24px 0 24px}
.mod-circle-info .circle-bbs h3{font-size:14px;color:#333;padding-bottom:6px;font-weight:700}
.mod-circle-info .circle-bbs p{color:#999;line-height:22px;word-break:break-all}
.qui-btn{display:inline-block;padding:6px 18px;*padding:6px 18px 2px 18px;border:1px solid #d8d8d8;border-radius:3px;color:#333;vertical-align:middle;cursor:pointer;overflow:visible;background-color:#f7f7f7;font-size:14px}
.qui-btn-small{padding:2px 17px;font-size:12px}
.qui-btn-disHover:hover{color:#333}
.qui-btn-action{background-color:#ff500b;color:#fff;border-color:#ff500b}
.qui-btn-action-disHover:hover{color:#fff}
.qui-btn-disable{border-color:#d8d8d8;background-color:#fff;color:#aaa}
.qui-btn-disable-disHover:hover{color:#aaa}
.thread-detail-comment-users{display:none;margin:30px 10px 0 0;padding-top:30px;color:#666;border-top:1px solid #e6e6e6}
.thread-detail-comment-users h3{font-size:14px}
.thread-detail-comment-users ol{margin-top:6px}
.thread-detail-comment-users li{float:left;height:35px;margin:0 6px 6px 0;    list-style-type: none;}
.thread-detail-comment-users li img{border:1px solid #eee;width:34px;height:34px;border-radius:5px}

.thread-operation-area{position:fixed;display:none;border-top:1px solid #ececec;border-left:1px solid #ececec;background-color:#fff;bottom:0;margin-left:-70px;top:290px!important;height: 120px;width:49px;font-size:0;}
.thread-operation-area li{float:left;width:48px;height:60px}
.thread-operation-area a{float:left;display:block;width:48px;height:60px;border-bottom:1px solid #ececec;color:#666;font-size:12px}
.thread-operation-area a:hover span{color:#fff}
.thread-operation-area a span{display:block;margin-top:4px;text-align:center}
.thread-operation-area a i{display:block;margin:0 auto;width:26px;height:28px;background:transparent url(images/club/2258386_1249217316.png) 0 0 no-repeat}
.thread-operation-area a.like i{margin-top:7px;background-position:0 -76px}
.thread-operation-area a.like:hover{background-color:#ff500b}
.thread-operation-area a.like:hover i{background-position:-104px -76px}
.thread-operation-area a.hasLike{background-color:#ff500b;color:#fff}
.thread-operation-area a.hasLike i{display:none}
.thread-operation-area a.hasLike .count{font-size:14px;margin-top:6px}
.thread-operation-area a.hasLike .txt{font-size:12px}
.thread-operation-area a.comments i{margin-top:7px;background-position:-30px -76px}
.thread-operation-area a.comments:hover{background-color:#ff500b}
.thread-operation-area a.comments:hover i{background-position:-133px -76px}
.thread-operation-area a.zhuanfa i{margin-top:7px;background-position:-62px -76px}
.thread-operation-area a.zhuanfa:hover{background-color:#ff500b}
.thread-operation-area a.zhuanfa:hover i{background-position:-162px -76px}
.thread-detail-content{padding:10px 0 0 10px}
.thread-detail-content .thread-title{font-size:24px;color:#333;;height:50px;line-height:50px;overflow:hidden;vertical-align:middle;}
.thread-detail-content .thread-title .thread-type{font-size:24px;color:#c00;}
.thread-detail-content .thread-title h1{font-size:24px;padding-right:6px;float:left;height:50px;line-height:50px;overflow:hidden;}
.thread-detail-content .ico{display:inline-block;margin:0 6px -2px 0;width:22px;height:17px;background:transparent url(images/club/2253036_1249217316.png) 0 -650px no-repeat}
.thread-detail-content .ico-perfect{background-position:0 -650px}
.thread-detail-content .ico-top{background-position:-30px -650px}
.thread-detail-content .ico-pk{width:17px;background-position:-192px -650px}
.thread-detail-content .ico-best{width:17px}
.thread-detail-content .thread-info{margin:12px 0 0 0;padding-left:30px;height:30px;line-height:30px;color:#999;background-color:#fafafa}
.thread-detail-content .thread-info .thread-split{display:inline-block;margin:8px 11px 0 11px;width:1px;height:13px;background:transparent url(images/club/2258386_1249217316.png) 0 0 no-repeat}
.thread-detail-content .thread-info .count{color:#666}
.thread-detail-content .thread-info .actions{margin:3px 10px 0 0}
.thread-detail-content .thread-info .actions .item{float:right;margin-left:14px}
.thread-detail-content .thread-info .actions .manage-func{width:55px;border:1px solid #e6e6e6;background:#fff url(images/club/2258386_1249217316.png) -39px -310px no-repeat}
.thread-detail-content .thread-info .actions .post-action{color:#666;display:block;height:22px;text-align:center;line-height:22px;padding-right:14px}
.thread-detail-content .thread-info .actions .manage-func .popup{display:none;background-color:#fff}
.thread-detail-content .thread-info .actions .manage-func-hover{position:relative;z-index:10;background-position:41px -311px}
.thread-detail-content .thread-info .actions .manage-func-hover div.popup{position:absolute;display:block;padding-top:6px;border:1px solid #e6e6e6;background-color:#fff;z-index:11;width:55px;top:22px;left:-1px;*top:-70px}
.thread-detail-content .thread-info .actions .manage-func-hover div.popup a:link,.thread-detail-content .thread-info .actions .manage-func-hover div.popup a:visited{line-height:24px;height:24px;display:block;text-align:center}
.thread-detail-content .thread-info .actions .manage-func-hover div.popup a:hover,.thread-detail-content .thread-info .actions .manage-func-hover div.popup a:active{background-color:#eaeaea;color:#258!important;text-decoration:none}
.thread-detail-content .thread-info .resize-fontsize{margin-top:8px;height:16px;width:60px;float:right}
.thread-detail-content .thread-info .resize-fontsize .normal,.thread-detail-content .thread-info .resize-fontsize .big{float:left;display:block;width:20px;height:16px;background:transparent url(images/club/2258386_1249217316.png) 0 0 no-repeat}
.thread-detail-content .thread-info .resize-fontsize .normal{margin-right:8px;background-position:0 -47px}
.thread-detail-content .thread-info .resize-fontsize .normal.current{background-position:0 -22px}
.thread-detail-content .thread-info .resize-fontsize .big.current{background-position:-29px -47px}
.thread-detail-content .thread-info .resize-fontsize .big{background-position:-29px -21px}
.thread-detail-content .thread-body{font-size:16px;line-height:36px;padding-top:11px;word-wrap:break-word;word-break:break-all}
.thread-detail-content .thread-body img{max-width:670px}
.thread-detail-content .thread-body pre{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word}
.thread-detail-content .thread-footer{margin-top:30px;font-size:14px;*zoom:1}
.thread-detail-content .thread-footer:after{display:block;clear:both;height:0;content:"\0020"}
.thread-detail-content .thread-footer .thread-tags{width:300px}
.thread-detail-content .thread-footer .thread-tag{display:inline-block;line-height:22px;padding:0 4px;margin:0 6px 10px 0;border-radius:2px;border:1px solid #e8e8e8}
.thread-detail-content .thread-footer .share{float:right;position:relative}
.thread-detail-content .thread-footer .share .titleclub{margin:5px 0 0 0;color:#666}
.thread-detail-content .thread-footer .share .bdsharebuttonbox a{float:left;display:block;width:24px;height:24px;margin:0 0 0 5px;padding:0;font-size:10px;line-height:24px;background:transparent url(images/club/2258386_1249217316.png) 0 0 no-repeat}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .weixin-share{position:relative;width:126px;background-position:0 -568px}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .weixin-share .weixin-share-detail{display:none;padding:10px;background:transparent url(images/club/2251404_1249217316.png) 0 0 repeat-y;opacity:1;border-radius:10px;position:absolute;top:-252px;left:-70px;color:#333}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .weixin-share .wrap{display:block;background-color:#fff;border:1px solid #b4b4b4;border-radius:5px;width:238px;text-align:center}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .weixin-share .wrap .triger{position:absolute;left:120px;bottom:-5px;width:28px;height:16px;background:transparent url(images/club/2258386_1249217316.png) 0 -634px no-repeat}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .weixin-share .wrap .weixin-share-title{padding:16px 0;font-size:14px;font-weight:700}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .weixin-share .wrap .weixin-help{font-size:13px;padding:10px 0 10px 0}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .weixin-share .wrap .weixin-qrcode{height:120px;text-align:center}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .weixin-share .wrap .weixin-qrcode img{width:120px;height:120px}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .weixin-share:hover{opacity:1;background-position:0 -600px}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .weixin-share:hover .weixin-share-detail{display:block}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .bds_alibaba{background-position:0 -525px}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .bds_tsina{background-position:-29px -525px}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .bds_qzone{background-position:-58px -525px}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .bds_tqq{background-position:-87px -525px}
.thread-detail-content .thread-footer .share .bdsharebuttonbox .bds_renren{background-position:-116px -525px}
.thread-detail-content .thread-extra{border-top:1px solid #eee;margin-top:50px;padding-top:19px}
.thread-detail-content .thread-extra .thread-go-index{width:250px;float:left;margin:70px 0 0 30px;background-color:#fafafa;border:1px solid #eee}
.thread-detail-content .thread-extra .thread-go-index a{display:inline-block;padding-left:20px;width:103px;height:34px;line-height:34px;color:#333;background:transparent url(images/club/2258386_1249217316.png) 77px -362px no-repeat}
.thread-detail-content .thread-extra .thread-go-index a.quan-index{border-right:1px solid #eee}
.thread-detail-content .thread-extra .thread-recommend{float:left;width:394px;border-right:1px solid #eee}
.thread-detail-content .thread-extra .thread-recommend h3{font-size:14px;font-weight:700;color:#333;padding-bottom:10px}
.thread-detail-content .thread-extra .thread-recommend-item{width:352px;line-height:28px}
.thread-detail-content .thread-extra .thread-recommend-item a{float:left;font-size:14px;color:#666}
.thread-detail-content .thread-extra .thread-recommend-item a:hover{color:#ff7300}
.thread-detail-content .thread-extra .thread-recommend-item span{float:right;color:#999}
.thread-detail-content .thread-offers .thread-offer{padding:20px 0 20px 20px;margin-top:30px;background:#f6f6f6 url(images/club/2021801_1249217316.png) 0 0 repeat-y}
.thread-detail-content .thread-offers .thread-offer .thread-offer-img{float:left;overflow:hidden;width:308px;height:428px}
.thread-detail-content .thread-offers .thread-offer .thread-offer-img img{max-width:308px}
.thread-detail-content .thread-offers .thread-offer .thread-offer-info{float:left;width:320px;margin-left:20px}
.thread-detail-content .thread-offers .thread-offer .thread-offer-info .thread-offer-title{width:300px;padding-top:5px;font-size:16px;line-height:26px;color:#333}
.thread-detail-content .thread-offers .thread-offer .thread-offer-info .thread-offer-desc{width:300px;margin-top:25px;padding-bottom:40px;border-bottom:1px solid #eee;color:#999;line-height:26px}
.thread-detail-content .thread-offers .thread-offer .thread-offer-info .thread-offer-buy{display:inline-block;margin-top:30px;width:210px;height:50px;padding-left:30px;line-height:50px;color:#fff;font-size:24px;background:transparent url(images/club/2258386_1249217316.png) 0 -422px no-repeat}
.thread-detail-content .thread-offers .thread-offer .thread-offer-info .thread-offer-img-nav{margin-top:112px;margin-left:-5px;height:60px}
.thread-detail-content .thread-offers .thread-offer .thread-offer-info .thread-offer-img-nav li{float:left;margin-left:5px;position:relative}
.thread-detail-content .thread-offers .thread-offer .thread-offer-info .thread-offer-img-nav li img{width:58px;height:58px;border:1px solid #eee}
.thread-detail-content .thread-offers .thread-offer .thread-offer-info .thread-offer-img-nav li.thread-offer-nav-selected img{width:56px;height:56px;border:2px solid #ff3c00}
.thread-detail-content .thread-offers .thread-offer-want-to-buy{width:600px;margin:0 auto}
.thread-detail-content .thread-offers .thread-offer-want-to-txt{display:block;margin:0 auto;width:110px;height:178px;background:transparent url(images/club/2258386_1249217316.png) 0 -111px no-repeat;text-align:center;color:#333;font-size:16px}
.thread-detail-content .thread-offers .thread-offer-want-to-txt span{display:block;padding-top:104px}
.thread-detail-content .thread-offers .thread-offer-want-to-shopname{display:block;padding-top:17px;color:#999;font-size:14px;text-align:center}
.thread-detail-content .offer-card{margin:10px 0 0 0;border:1px solid #e6e6e6;padding:15px;background-color:#fafafa}
.thread-detail-content .offer-card-img{width:120px;height:120px}
.thread-detail-content .offer-card-img img{border:1px solid #e6e6e6;width:118px;height:118px}
.thread-detail-content .offer-card-content{margin:0 0 0 18px;width:510px;word-wrap:break-word;word-break:break-all}
.thread-detail-content .offer-card-content .offer-card-title{display:block;margin:0 0 9px 0;font-size:14px;font-weight:700}
.thread-detail-content .offer-card-content .offer-card-reason{border-top:1px solid #e5e5e5;padding:10px 0 0 0;line-height:22px;margin:-1px 0 0 0;color:#999}
.thread-detail-content .offer-card-content .offer-price{font-size:24px}
.thread-detail-content .offer-card-content .offer-xl{padding:0 0 0 20px;color:#999}
.right-content{-margin:0 0 0 20px;padding: 5px 10px 0 20px;}
.thread-detail .main-content{background:transparent url(images/club/2039744_1249217316.png) right 0 repeat-y}
#thread-detail-comments-area{margin:50px 0 0 0}
.mod-vote{margin:16px 29px 0 29px}
.mod-vote .titleclub{padding-left:30px;background:#ebf7fc url(images/club/1913640_1249217316.png) 8px -18px no-repeat;height:30px;line-height:30px;font-size:14px;color:#444}
.mod-vote .titleclub .split{color:#ddd;padding:0 10px;float:left}
.mod-vote .titleclub .deadline{float:right;margin-right:23px}
.mod-vote .titleclub .h{color:#c00}
.mod-vote.vote-close .titleclub{color:#c00;font-weight:700}
.mod-vote .content{margin:20px 0 0 9px;width:100%}
.mod-vote .submit-vote{padding:2px 16px;display:inline-block;border:1px solid #c40200;color:#fff;vertical-align:middle;cursor:pointer;overflow:visible;background-color:#e13f3c;background-image:-moz-linear-gradient(top,#e13f3c,#d23b36);background-image:-ms-linear-gradient(top,#e13f3c,#d23b36);background-image:-webkit-gradient(linear,0 0,0 100%,from(#e13f3c),to(#d23b36));background-image:-webkit-linear-gradient(top,#e13f3c,#d23b36);background-image:-o-linear-gradient(top,#e13f3c,#d23b36);background-image:linear-gradient(top,#e13f3c,#d23b36);font-weight:700;font-size:14px}
.mod-vote .submit-vote-closed{padding:2px 16px;display:inline-block;border:1px solid #ddd;color:#888;vertical-align:middle;cursor:pointer;overflow:visible;background-color:#f7f7f7;font-weight:700;font-size:14px}
.mod-vote .vote-items{float:left;margin-right:16px}
.mod-vote .vote-items li{margin-bottom:16px}
.mod-vote .vote-items .vote-item{margin-top:3px}
.mod-vote .vote-items .vote-option .option-content{width:240px}
.mod-vote .vote-items .vote-option .option-content label{margin-left:6px;max-width:210px;word-break:break-all;*width:210px}
.mod-vote .vote-items .vote-option .option-content button{margin-top:11px}
.mod-vote .vote-items .vote-option .line{margin-top:2px;width:258px;height:16px;background-color:#f2f7fc}
.mod-vote .vote-items .vote-option .r{float:left;background:transparent url(images/club/1913640_1249217316.png) 0 -148px no-repeat;width:4px;line-height:16px;height:16px}
.mod-vote .vote-items .vote-option .l{float:left;background:transparent url(images/club/1913640_1249217316.png) 0 -52px no-repeat;line-height:16px;height:16px}
.mod-vote .vote-option .line-2 .l{background-position:0 -68px}
.mod-vote .vote-option .line-2 .r{background-position:0 -164px}
.mod-vote .vote-option .line-3 .l{background-position:0 -84px}
.mod-vote .vote-option .line-3 .r{background-position:0 -180px}
.mod-vote .vote-option .line-4 .l{background-position:0 -100px}
.mod-vote .vote-option .line-4 .r{background-position:0 -196px}
.mod-vote .vote-option .line-5 .l{background-position:0 -116px}
.mod-vote .vote-option .line-5 .r{background-position:0 -212px}
.mod-vote .vote-option .line-6 .l{background-position:0 -132px}
.mod-vote .vote-option .line-6 .r{background-position:0 -228px}
.mod-thread-author .m-header .titleclub{font-size:16px;color:#fff}
.mod-thread-author .m-content{padding:20px 0 0 0}
.mod-thread-author .m-content .titleclub{font-size:12px;line-height:1.5;font-weight:700;color:#fff}
.mod-thread-author .m-content .user-info img{float:left;width:58px;height:58px;border:1px solid #e8e8e8;border-radius:10px}
.mod-thread-author .m-content .user-info .user-name{float:left;width:190px;margin-left:10px}
.mod-thread-author .m-content .user-info .nickname{font-size:14px}
.mod-thread-author .m-content .user-info .follow-me{float:right;margin:-4px 0 0 0;color:#444;text-decoration:none;background-color:#fff;border:1px solid #e6e6e6;padding:4px 10px}
.mod-thread-author .m-content .user-menu{color:#fff;height:24px;line-height:24px;margin:14px 0 0 -10px}
.mod-thread-author .m-content .user-menu a{display:block;float:left;padding:0 5px;text-align:center}
.mod-thread-author .m-content .user-threads{margin-top:16px}
.mod-thread-author .m-content .user-threads .me-thread{float:left}
.mod-thread-author .m-content .user-threads .more{float:right}
.mod-thread-author .m-content .user-threads .thread-list{padding-top:10px}
.mod-author-threads{margin:36px 0 26px 0}
.mod-author-threads .m-header .titleclub{font-size:16px;color:#fff}
.mod-author-threads .m-content{padding:15px 0 0 0}
.mod-author-threads .m-content .list-item{background:transparent url(images/club/2261029_1249217316.png) 0 -568px no-repeat;margin:0 0 7px 0;padding:0 0 0 12px;font-size:14px}
.mod-author-threads .m-content .list-item a{display:block;width:196px;overflow:hidden;white-space:nowrap;    color: #fefefe;}
.mod-sale-group{padding:0 0 15px 0}
.mod-sale-group .m-header .titleclub{font-size:16px;color:#fff}
.mod-sale-group .m-header .subtitle{margin:4px 0 0 10px}
.mod-sale-group .m-header .subtitle .count{color:#ff3c00}
.mod-sale-group .m-content{padding:15px 0 0 0}
.mod-sale-group .m-content .lists li{margin:0 0 18px 0}
.mod-sale-group .m-content .lists li a{color: #fff;font-size: 14px;}
.mod-sale-group .m-content .lists li a span{padding:5px 0 0 60px;display:block}
.mod-sale-group .m-content .lists li img{float:left;width:48px;height:48px;border:1px solid #eee;border-radius:10px}
.mod-sale-group .m-content .lists li .info{margin:6px 0 0 60px}
.mod-sale-group .m-content .lists li .renqi{padding:0 0 0 10px;    color: #606060;}
.mod-interesting-circle{padding:0 0 20px 0;display:none}
.mod-interesting-circle .titleclub{float:left;font-size:16px;color:#444}
.mod-interesting-circle .more{margin:4px 0 0 10px;float:right}
.mod-interesting-circle .m-content{margin-top:10px}
.mod-interesting-circle .m-content .prev,.mod-interesting-circle .m-content .next{width:30px;height:200px}
.mod-interesting-circle .m-content .prev a,.mod-interesting-circle .m-content .next a{display:block;width:100%;height:30px;background:transparent url(images/club/2261029_1249217316.png) 0 -102px no-repeat}
.mod-interesting-circle .m-content .prev a{margin-top:78px;background-position:0 -110px}
.mod-interesting-circle .m-content .next a{margin-top:78px;background-position:-250px -110px}
.mod-interesting-circle .list{width:160px;overflow:hidden}
.mod-interesting-circle .list .item{height:56px;margin-bottom:14px}
.mod-interesting-circle .list .item a{display:block}
.mod-interesting-circle .list .item .link span{padding-left:9px}
.mod-interesting-circle .list .item .join-circle{margin:6px 0 0 65px;padding-left:20px;width:46px;height:24px;line-height:24px;border:1px solid #d8d8d8;border-radius:3px;color:#444;background:transparent url(images/club/2261029_1249217316.png) 6px -82px no-repeat}
.mod-interesting-circle .list .item img{float:left;width:50px;height:50px;border-radius:50%;border:3px solid #fff}
.mod-shop-recommend{padding:0 0 15px 0}
.mod-shop-recommend .m-header .titleclub{font-size:16px;color:#444}
.mod-shop-recommend .m-content{padding:14px 0 0 0}
.mod-shop-recommend .m-content .item{margin-bottom:20px;height:60px;overflow:hidden;font-size:0}
.mod-shop-recommend .m-content .item img{width:230px;height:60px}
.mod-shop-recommend .m-content .item-txt{height:auto}
.mod-shop-recommend .m-content .item-txt a{font-size:14px}
.mod-tips{padding:30px 0 0 0}
.mod-tips .m-header .titleclub{font-size:16px;color:#444}
.mod-tips .mod-content li{padding:0 0 0 8px;margin:0 0 9px 0;background:transparent url(images/club/2261029_1249217316.png) 0 -567px no-repeat}
.mod-tips .mod-content li a{color:#444;line-height:22px}
.mod-tips .mod-content li a:hover{color:#D8624F}
.mod-sidebar{position:fixed;right:-100px;top:0;border-left:1px solid #f0f0f0;background-color:#fbfbfb;width:50px}
.mod-sidebar .titleclub,.mod-sidebar .login,.mod-sidebar .publishThread,.mod-sidebar .myTask,.mod-sidebar .announce{background:transparent url(images/club/2261029_1249217316.png) 0 0 no-repeat}
.mod-sidebar .titleclub{display:block;height:22px;background-color:#ff500b;background-position:-255px -386px}
.mod-sidebar .cont{position:relative;height:300px;background-color:#fbfbfb;z-index:10}
.mod-sidebar .cont .login,.mod-sidebar .cont .publishThread,.mod-sidebar .cont .myTask,.mod-sidebar .cont .isLogin,.mod-sidebar .cont .announce{display:block;padding:55px 0 16px 0;font-size:13px;color:#333;text-align:center}
.mod-sidebar .cont .login:hover,.mod-sidebar .cont .publishThread:hover,.mod-sidebar .cont .myTask:hover,.mod-sidebar .cont .isLogin:hover,.mod-sidebar .cont .announce:hover{background-color:#eee}
.mod-sidebar .cont .login{background-position:7px -373px}
.mod-sidebar .cont .login:hover,.mod-sidebar .cont .login.hover{background-position:7px -708px}
.mod-sidebar .cont .publishThread{background-position:-82px -708px}
.mod-sidebar .cont .publishThread:hover{background-position:-82px -708px}
.mod-sidebar .cont .myTask{background-position:-173px -373px}
.mod-sidebar .cont .myTask:hover{background-position:-172px -708px}
.mod-sidebar .cont .announce{display:block;background-position:-248px -373px}
.mod-sidebar .cont .announce:hover{background-position:-241px -708px}
.mod-sidebar .cont .announce span{position:absolute;top:-3px;left:28px;font-size:30px;color:#ff500b}
.mod-sidebar .cont .isLogin{text-align:center;height:73px;padding:17px 0 0 0}
.mod-sidebar .cont .isLogin img{width:32px;height:32px;border-radius:50%;display:block;margin:0 auto 5px auto}
.mod-sidebar .cont .isLogin span{display:block;margin:6px 0 0 0}
.mod-sidebar .quan-sidebar-login{display:none;width:310px;position:absolute;z-index:8;top:22px;right:50px}
.mod-sidebar .quan-sidebar-login iframe{border:0 none}
.mod-sidebar .sidebar-action{z-index:10}
.mod-sidebar .qui-sidebar-actions .qui-bar-li{width:50px;height:49px;border-top:1px solid #e8e8e8}
.mod-sidebar .qui-sidebar-actions .qui-bar-li:last-child{border-bottom:1px solid #e8e8e8}
.mod-sidebar .qui-sidebar-actions .qui-bar-li a{display:block;width:100%;height:49px;background:#fff url(images/club/2261029_1249217316.png) 0 0 no-repeat}
.mod-sidebar .qui-sidebar-actions .qui-bar-li a:hover{background-color:#fbfbfb}
.mod-sidebar .qui-sidebar-actions .qui-investigate a{background-position:17px -990px}
.mod-sidebar .qui-sidebar-actions .qui-gotop a{background-position:17px -909px}
.mod-sidebar .qui-sidebar-actions .qui-close a{background-position:14px -1161px}
.mod-sidebar-announce{position:absolute;z-index:0;left:-252px;top:0;width:250px;border:1px solid #f0f0f0;font-size:13px;background-color:#fff;opacity:0}
.mod-sidebar-announce .announce-title{font-weight:700;padding:10px 0 0 14px}
.mod-sidebar-announce .announce-content{padding:5px 14px 1px 14px;line-height:22px}
.mod-sidebar-announce .triggle{position:relative;left:250px;top:-48px;width:10px;height:10px;background:transparent url(images/club/2261029_1249217316.png) -2px -1270px no-repeat}
.mod-sidebar-closed .mod-sidebar-announce{display:none!important}
.mod-sidebar-closed .mod-sidebar-expand{right:-50px;bottom:10px;position:fixed}
.mod-sidebar-closed .mod-sidebar-expand a{display:block;width:50px;height:36px;cursor:pointer;background:transparent url(images/club/2261029_1249217316.png) 0 -1225px no-repeat}
.mod-comment{padding:0 0 0 0;margin:0 auto;font-family:"\5B8B\4F53"}
.mod-comment .user-photo{width:50px;height:50px;display:block;float:left}
.mod-comment .user-photo img{border-radius:5px;width:50px;height:50px}
.mod-comment .postreplyfield{margin:0 auto;border-top:1px #ececec solid;background-color:#fafafa;padding:24px 29px 0 29px}
.mod-comment .postreplyfield .comment-head{position:relative}
.mod-comment .postreplyfield .comment-head .trig{width:5px;height:9px;position:absolute;top:10px;left:56px;background:transparent url(images/club/1898921_1249217316.png) 0 0 no-repeat}
.mod-comment .postreplyfield .comment-head .input-area{margin-left:60px;border:1px solid #ececec;padding-right:6px;overflow:hidden;background-color:#fff}
.mod-comment .postreplyfield .comment-head .input-area .comment-input{padding:4px 4px 4px 10px;width:98%;height:72px;font-size:14px;border:0 none;overflow:auto}
.mod-comment .postreplyfield .reply-refer{display:none;height:30px;font-size:14px;line-height:30px;padding:0 0 0 11px;margin:0 0 10px 61px}
.mod-comment .postreplyfield .reply-refer .icon-refer-img{display:inline-block;height:14px;width:14px;vertical-align:-2px;background:transparent url(images/club/1909146_1249217316.png) -19px 0 no-repeat;*background:transparent url(images/club/1909147_1249217316.png) -19px 0 no-repeat}
.mod-comment .postreplyfield .error_msg{height:28px;line-height:28px;text-align:right;color:#ff2a00}
.mod-comment .send{text-align:right;margin-top:6px;padding-left:61px;_padding-left:44px}
.mod-comment .send .g-f2{font:600 20px Constantia,Georgia,sans-serif}
.mod-comment .small_cursor img{cursor:url(//view.1688.com/book/cur/201403/small.cur),auto!important}
.mod-comment .big_cursor img{cursor:url(//view.1688.com/book/cur/201403/big.cur),auto!important}
.mod-comment .post-list-li{border-bottom:1px solid #eee;padding:16px 0 10px 0;*padding-top:13px;margin:0 29px}
.mod-comment .post-list-li .author-info{width:50px;float:left;display:inline;margin-top:4px;font-size:0}
.mod-comment .post-list-li .author-info img{display:block;width:50px;height:50px;border-radius:5px}
.mod-comment .post-list-li .comment-body{margin-left:62px}
.mod-comment .post-list-li .comment-body .comment-info{height:21px}
.mod-comment .post-list-li .comment-body .comment-info .uname{float:left;font-size:14px;font-weight:700;color:#258;margin-right:8px}
.mod-comment .post-list-li .comment-body .comment-info .posttime{float:left;font-size:12px;color:#888;margin-top:2px}
.mod-comment .post-list-li .comment-body .comment-info .publish-from{float:left;color:#888}
.mod-comment .post-list-li .comment-body .comment-info .publish-from i{display:inline-block;height:12px;width:1px;background:transparent url(images/club/1909146_1249217316.png) -19px -21px no-repeat;*background:transparent url(images/club/1909147_1249217316.png) -19px -21px no-repeat;margin:0 10px 0 10px;vertical-align:-2px}
.mod-comment .post-list-li .comment-body .comment-info .publish-from a{color:#258}
.mod-comment .post-list-li .comment-body .comment-info .floor{float:right;padding-left:6px;margin-top:4px;font-size:14px;font-family:Arial;font-weight:700;color:#444}
.mod-comment .post-list-li .comment-body .comment-info .resouce-creator{float:left;padding:2px 6px 1px 14px;margin-left:1px;color:#444;font-size:12px;font-weight:700;background:transparent url(images/club/1909146_1249217316.png) -39px 4px no-repeat;*background:transparent url(images/club/1909147_1249217316.png) -39px 4px no-repeat}
.mod-comment .post-list-li .comment-body .comment-info .resouce-no{float:left;padding:2px 6px 1px 14px;margin-left:1px;font-size:12px;font-weight:700;}
.mod-comment .post-list-li .comment-body .comm-content{margin-top:12px;word-wrap:break-word;word-break:break-all;font-size:14px;line-height:24px;color:#444;min-height:40px}
.mod-comment .post-list-li .comment-body .comm-content .comment-main-content a{color:#444}
.mod-comment .post-list-li .comment-body .comm-content .comment-image{height:75px;width:70px;margin-top:7px;border:1px solid #ddd;padding:5px;background-color:#fcfcfc;text-align:center}
.mod-comment .post-list-li .comment-body .comm-content .comment-image img{cursor:hand;cursor:pointer;width:70px;height:75px;margin:0 auto}
.mod-comment .post-list-li .comment-body .postrelate{margin-top:17px}
.mod-comment .post-list-li .postaction{float:right}
.mod-comment .post-list-li .postaction .postdelete,.mod-comment .post-list-li .postaction .settop,.mod-comment .post-list-li .postaction .add-to-black-list{display:none}
.mod-comment .post-list-li .postaction a{color:#888;margin-left:16px;text-decoration:none}
.mod-comment .post-list-li .postaction a:hover{color:#d8624f}
.mod-comment .post-list-li .postaction .post-dig span{display:inline-block}
.mod-comment .post-list-li .postaction .post-dig i{display:inline-block;width:16px;height:16px;background:transparent url(images/club/1909146_1249217316.png) 0 1px no-repeat;*background:transparent url(images/club/1909147_1249217316.png) 0 1px no-repeat;vertical-align:-4px;*vertical-align:0}
.mod-comment .post-list-li .postaction .post-dig:hover i{background-position:0 -20px}
.mod-comment .post-list-li .postaction .post-dig-disable i{background-position:0 -20px}
.mod-comment .post-list-li .info-bar .info-bar-floor,.mod-comment .post-list-li .info-bar .info-bar-title{font-size:14px;font-weight:700}
.mod-comment .post-list-li .info-bar .info-bar-floor{color:#258}
.mod-comment .post-list-li .info-bar .info-bar-title{color:#888}
.mod-comment .post-list-li .info-bar .uname{margin-left:8px;color:#258;font-size:14px}
.mod-comment .post-list-li .info-bar .posttime{color:#888;font-size:12px;margin-left:15px}
.mod-comment .post-list-li .info-content{line-height:22px;padding-top:4px;font-size:14px}
.mod-comment .post-list-li .info-content-delete{color:#ff7300}
.mod-comment .post-list-li .refer-body{border:1px solid #ece3cd;border-left:3px solid #ece3cd;background-color:#fcf9f1;padding:11px 21px 11px 12px;margin-top:7px}
.mod-comment .post-list-li .refer-body .refer-img{height:75px;width:70px;margin-top:7px;border:1px solid #ddd;padding:5px;background-color:#fcfcfc;text-align:center}
.mod-comment .post-list-li .refer-body .refer-img img{width:70px;height:75px;margin:0 auto}
.mod-comment .post-list-li .comm-content .info-bar{margin-bottom:4px}
.mod-comment .post-list-li-first{border-top:none}
.mod-comment .post-list-li .showBigPic{overflow:hidden}
.mod-comment .post-list-li .showBigPic .pic_close{background:transparent url(images/club/422034_2091977944.png) no-repeat;padding-left:18px;margin-right:12px;font-size:12px;background-position:0 -189px}
.mod-comment .post-list-li .showBigPic .pic_detail{padding-left:18px;margin-right:12px;background-color:#a0f;background:transparent url(images/club/422034_2091977944.png) no-repeat;background-position:0 -229px;font-size:12px;color:#444}
.mod-comment .post-list-li .showBigPic .pic_content{width:100%;overflow:hidden}
.mod-comment .post-list-li .showBigPic img{max-width:100%}
.mod-comment .post-list-li-top-comment,.mod-comment .post-list-li-renqi{margin-left:0;margin-right:0;margin-bottom: 10px;padding-left:29px;padding-right:29px;border-bottom: 0;border-top:2px solid #ede3d9;}
.mod-comment .post-list-li-top-comment{background: #fdfdfd;}
.mod-comment .post-list-li-renqi{background:#fafafa url(images/club/1903958_1249217316.png) right 23px no-repeat;*background:#fafafa url(images/club/1903959_1249217316.png) right 23px no-repeat}
.mod-comment .post-list-li-last{border-bottom:0 none}
.mod-comment .mod-not-login{border-top:1px #ececec solid;background-color:#fafafa;padding:13px 29px 7px 29px}
.mod-comment .mod-not-login .default-photo,.mod-comment .mod-not-login .login-tips{float:left}
.mod-comment .mod-not-login .login-tips{margin:9px 0 0 12px;font-size:14px}
.mod-comment .mod-not-login .login-tips a{color:#258;padding:0 5px}
.mod-comment .paging-wrap{padding:50px 29px 0 60px;display:none}
.sendopr{float:left;line-height:28px}
.sendopr input{vertical-align:-2px;margin-right:4px}
.media-input{float:left;z-index:20;position:relative}
.media-input .image,.media-input .emotion,.media-input .at{float:left;margin-right:14px;*margin-right:7px;padding-left:22px;font-size:12px;font-family:"\5b8b\4f53",sans-serif;line-height:28px}
.media-input .emotion,.media-input .at{background:transparent url(images/club/422034_2091977944.png) no-repeat}
.media-input .emotion{background-position:0 -64px;background-position:0 -66px\9}
.media-input .at{background-position:2px -460px;*background-position:2px -462px;background-position:2px -463px\0}
.media-input .image{padding-left:0}
.media-input a:link,.media-input a:visited{color:#444}
.media-input a:hover{color:#ff7300;text-decoration:underline}
.media-box{position:absolute;background:#7a7a7a;background:rgba(122,122,122,.9);padding:5px;z-index:9999}
.media-box .media-arrow{position:absolute;top:0;left:28px;border-style:solid;border-width:0 6px 8px;border-color:#fff #7a7a7a;border-color:#fff rgba(122,122,122,0);height:0;width:0;overflow:hidden}
.media-box.image-box{top:26px;left:60px}
.media-box.image-box .media-content{width:80px;height:80px;background-color:#fff;overflow:hidden;text-align:center}
.media-box.image-box .media-content .uploading{margin-top:20px;text-align:center}
.media-box.image-box .media-content .uploading img{margin-left:31px}
.media-box.image-box .media-content .normal{display:none;width:70px;height:70px;margin:5px 0 0 5px}
.media-box.image-box .media-content .close{display:none;width:14px;height:14px;position:absolute;right:13px;top:13px;background:transparent url(images/club/1900056_1249217316.png) 0 0 no-repeat}
.media-box.image-box .media-content .close:hover{background-position:0 -14px}
.media-box.emotion-box{top:26px;left:0}
.media-box.emotion-box .media-content{width:310px;height:252px;overflow:hidden;padding:4px;background:#fff url(images/club/345646_823742341.png) no-repeat 0 0}
.media-box.emotion-box .media-content a{float:left;display:inline;width:24px;height:24px;overflow:hidden;margin:0;padding:1px;background-color:transparent;background-image:none;border:1px solid #fff}
.media-box.emotion-box .media-content a:link,.media-box.emotion-box .media-content a:visited{border-color:#fff}
.media-box.emotion-box .media-content a :hover{border-color:#999;cursor:pointer}
.layoutshow .grid-7{-background-color:#f5f5f5;}
.circle-avatar{display:block;text-align:center;margin-top:10px}
.circle-avatar1 img{display:block;width:55px;height:55px;margin:0 auto;border-radius:50%;border:4px solid #fff;box-shadow:0 -1px 6px #ddd}
.circle-avatar span{display:block;padding:0 20px;margin-top:16px;font-size:21px;color:#333}

.nav_new {padding: 0 10px 0 10px;font-size: 14px;height: 40px;line-height: 40px;margin-top: 20px;background: #ffffff;}

/*圈主供应货源*/
.hotproduct{width:1200px;height:auto;margin:0 auto;border-top: 2px solid #ec3901;background:#fff;margin-bottom: 20px !important;margin-top: 20px;}
.hotproductT{height:49px;border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;text-align: center;}
.hotproductT h2{font-size: 18px;line-height:50px;color:#333;font-weight: 700;}
.hotproductT h2 span{font-size:14px;margin-left:20px}
.hotproductT h2 span a{color:#888888}
.hotproductC{width:1200px;height: 310px;border-bottom:1px solid #eee;overflow:hidden;position:relative;margin: 0 auto;}
.hotproductC ul{position:absolute;left:0px;top:0px;border-right: 1px solid #eee;}
.hotproductC ul li{width: 218.8px;height:auto;padding:10px;float:left;position:relative;border-left:1px solid #eee;}
.hotproductC ul li .li_img{width: 220px;height: 220px;display: table-cell;vertical-align: middle;text-align: center;}
.hotproductC ul li .li_img img{max-height:205px;max-width:205px;_height:205px;_width:205px; border:none;}
.hotproductC ul li p.newborder_price{width:100%;height: 30px;line-height:30px;font-size:12px;font-size:14px; color:#ec3901;}
.hotproductC ul li p.newborder_text{height: 30px;line-height: 30px;margin:5px 0;font-size:14px;color:#333;overflow: hidden;}
.hotproductC ul li:hover a{color:#ec3901;}
.hotproductC ul li .li_img img{-webkit-transition:all .4s linear;-moz-transition:all .4s linear;-ms-transition:all .4s linear;-o-transition:all .4s linear;transition:all .4s linear;}
.hotproductC ul li:hover .li_img img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
