@charset "utf-8";
/*ST05-CSS-xiaohei-b2b.bjlsjp.cn-20170629*/

.mt20{margin-top:20px}
.info_main{padding:10px 10px 0 10px;}
.info_main li{padding:8px 0 8px 15px;}
.brand{padding:5px 0 5px 0;}
.brand img{padding:3px;}
.brand li{height:22px;line-height:22px;overflow:hidden;}
/*20170628-index-xiaohei*/
/*主体*/
.pagecontent{width:1200px;margin:0 auto;clear:both;}
/*滚动头部*/
#loutinav{height:41px;background:#1269d3;width:100%;z-index:998;position:fixed;top:0;display:none;}
#loutinav.on{display:block;}
.loutinav{height:41px;width:1200px;margin:0 auto;}
.toperleft{float:left;}
.toperleft li{float:left; width:auto; height:41px; padding-left:13px; padding-right:13px;}
.toperleft li span{float:left;height:41px; width:auto; line-height:41px; color:#ffffff; font-size:14px;}
.toperleft li span:hover{text-decoration:none; color:#fff;cursor: pointer;}
.toperleft li.active,.toperleft li:hover{text-decoration:none; color:#FFF; background:#F60; padding:0 13px 0 13px; font-size:18px;}
.toperright{float:right;}
.toperright span{display:block; height:35px; line-height:35px; padding:0 28px 0 35px;margin-top: 3px; font-size:14px; color: #fff;}
/*1p*/
#wrap_1{width:1200px; height:auto; _height:388px; min-height:388px; clear:both; margin:20px auto; margin-bottom: 30px;}
#banner{height:388px; border:1px solid #ddd;}
#banner .imgs{float:left; width:815px; height:388px;}
#banner .imgs ul
#banner .imgs ul li{}
#banner .imgs ul li img{width:815px; height:388px;}
#banner .tabs{float:right; width:382px; overflow:hidden;height: 388px;background: #fff;}
#banner .tabs ul.tit{height:60px;line-height: 60px;border-bottom: 0;}
#banner .tabs ul.tit li{float:left; width:191px; height:59px; border-left:1px solid #ddd; border-bottom:1px solid #ddd; background:#f4f4f4; margin:0 0 0 -1px; color:#000; font: 16px/59px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1"; text-align:center; cursor:pointer;}
#banner .tabs ul.tit li.on{border-bottom:1px solid #fff; background:#fff; color:#f40;}
#banner .tabs .con{padding: 5px 25px 0;background:#fff;}
#banner .tabs .hd{height:60px;line-height: 60px;}
#banner .tabs .bd{border:0}
/*登录状态*/
#banner .tabs .btn-wrap{height: 57px;line-height: 57px;margin: 0 auto;text-align: center;padding-left: 54px;border-top: 1px solid #dddddd;padding-top: 10px;}
#banner .tabs .sign-in, #banner .tabs .sign-up{margin-right: 10px;border-radius: 2px;font-size: 16px;text-align: center;}
#banner .tabs .btn-wrap .sign-in{float: left;width: 109px;height: 35px;line-height: 35px;margin-right: 40px;background: #0f69dc;border: 1px solid #0f69dc;color: #fff;}
#banner .tabs .btn-wrap .sign-up{float: left;width: 109px;height: 35px;line-height: 35px;margin-right: 0px;border: 1px solid #0f69dc;color: #0f69dc;}
#banner .tabs .btn-wrap .sign-up:hover{background-color:#666666;border: 1px solid #666666;color: #ffffff;}
#banner .tabs .btn-wrap .sign-in:hover{background: #0f29dc;border: 1px solid #0f29dc;color: #ffffff;}
/*发布按钮*/
#banner .tabs .con a.btn_buyer,#banner .tabs .con a.btn_seller{height:40px;color:#fff;font: 18px/40px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";display:block;height:40px;text-align:center;text-decoration:none;margin-bottom:10px;}
#banner .tabs .con a.btn_buyer{background:url(images/buy/ico_buyer.png) no-repeat 30px -4px #ec3901;}
#banner .tabs .con a.btn_buyer:hover{background-color:#ec6901}
#banner .tabs .con a.btn_seller{background:url(images/buy/ico_seller.png) no-repeat 25px -3px #ec3901;}
#banner .tabs .con a.btn_buyer:hover,#banner .tabs .con a.btn_seller:hover{background-color:#ec6901}
#banner .tabs .con h6{color:#333; height:40px; font:bold 12px/40px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";}
#banner .tabs .con ul{margin-bottom: 5px;}
#banner .tabs .con ul.hot-brand-list li{border-bottom: 1px dotted #dddddd;padding: 14px 0;cursor: pointer;}
#banner .tabs .con ul.hot-brand-list li.no_bm{border-bottom: 0}
#banner .tabs .con ul.hot-brand-list img{float: left;width: 105px;height: 55px;border: 1px solid #e8e8e8;margin-right: 15px;}
#banner .tabs .con ul.hot-brand-list h1{font: 15px/18px "Microsoft Yahei";height: 22px;line-height: 22px;overflow: hidden;}
#banner .tabs .con ul.hot-brand-list p{font: 12px/18px "Microsoft Yahei";height: 36px;overflow: hidden;}
#banner .tabs .con ul.hot-brand-list a h1{color: #333333;}
#banner .tabs .con ul.hot-brand-list a p{color: #888888;}
#banner .tabs .con ul.hot-brand-list li:hover a h1{color: #ff0000;}
/*鼠标特效*/
/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal{16.65%{-webkit-transform: translateX(8px); transform: translateX(8px);} 33.3%{-webkit-transform: translateX(-6px); transform: translateX(-6px);} 49.95%{-webkit-transform: translateX(4px); transform: translateX(4px);} 66.6%{-webkit-transform: translateX(-2px); transform: translateX(-2px);} 83.25%{-webkit-transform: translateX(1px); transform: translateX(1px);} 100%{-webkit-transform: translateX(0); transform: translateX(0);}}
@keyframes hvr-wobble-horizontal{16.65%{-webkit-transform: translateX(8px); transform: translateX(8px);} 33.3%{-webkit-transform: translateX(-6px); transform: translateX(-6px);} 49.95%{-webkit-transform: translateX(4px); transform: translateX(4px);} 66.6%{-webkit-transform: translateX(-2px); transform: translateX(-2px);} 83.25%{-webkit-transform: translateX(1px); transform: translateX(1px);} 100%{-webkit-transform: translateX(0); transform: translateX(0);}}
.hvr-wobble-horizontal{vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale;}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active{-webkit-animation-name: hvr-wobble-horizontal; animation-name: hvr-wobble-horizontal; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; -webkit-animation-iteration-count: 1; animation-iteration-count: 1;}
.fullSlide{width:100%;position:relative;z-index:2;min-width:1200px; clear:both;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;overflow:hidden;text-align:center;}
.fullSlide .bd li img{filter:alpha(opacity=0);opacity:0.0;-moz-opacity:0.0;}
.fullSlide .bd li a{display:block; width:100%;}
.fullSlide .hd{width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:40px;height:13px;margin:1px 2px 1px 2px;overflow:hidden;background:url(images/info/bnbtn.png) no-repeat; line-height:9999px;}
.fullSlide .hd ul .on{;background:url(images/info/bnbtn.png) no-repeat left -13px; width:43px;}
.fullSlide .prev,.fullSlide .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-53px;left:13%;z-index:1;width:51px;height:51px;background:url(images/info/bnar.png) left top no-repeat;cursor:pointer;filter:alpha(opacity=90);opacity:0.9;-moz-opacity:0.9;display:none;}
.fullSlide .next{left:auto;right:13%;background-position:-51px top;}
.z3{clear:both;}
.z3top{height:85px; width:1200px; position:relative; z-index:2; background:url(images/info/bgline.gif) repeat-x left 48px; padding-top:23px; text-align:center;}
.z3top i{display:inline-block; height:50px; line-height:50px; padding-left:30px; background:#FFF; font-size:31px; font-weight:700; color:#f8521e; font-style:normal;}
.z3top span{display:inline-block; height:50px; line-height:50px; padding-right:30px; background:#FFF; font-size:29px; color:#262626; font-style:normal;}
.z3top em{display:block; width:91px; height:29px; background:url(images/info/bao.png) no-repeat; line-height:20px; text-align:center; color:#FFF; position:absolute; left:665px; top:0px; font-style:normal; font-size:14px;}
.z3pic{height:auto;overflow:hidden;clear:both;margin-bottom: 15px;}
.ad_all{width:1200px;height:200px;overflow:hidden;clear:both;}
.ad_all img{width:1200px;height:200px;}
.z4,.louxhinfo{height: 1040px;clear:both;margin-top: 20px;}
.z4top{height:85px; width:1200px; position:relative; z-index:2; background:url(images/info/bgline.gif) repeat-x left 26px; text-align:center;}
.z4top i{display:inline-block; height:50px; line-height:50px; padding-left:30px; background:#FFF; font-size:31px; font-weight:700; color:#f8521e; font-style:normal;}
.z4top i a{color:#f8521e;}
.z4top span{display:inline-block; height:50px; line-height:50px; padding-left:54px; background:url(images/info/z4topico.gif) no-repeat 2px 6px #FFF; padding-right:30px; font-size:29px; color:#262626; font-style:normal;}
.z4list{clear:both;width:1200px;margin:0 auto;}
.xhlist_hot{height: 230px;}
.xhlist{height: 460px;}
.z4list div.blank{height:1px;}
.z4list li{display:block; height:229px; float:left; margin-right: 40px;}
.z4list li.list_info div.pic{display:block; width:373px; height:177px; position:relative; z-index:3;}
.z4list li.list_info div.pic em{display:block; width:373px; height:30px; position:absolute; left:0px; top:147px; z-index:3; background:#121414;filter:alpha(opacity=35);opacity:0.35;-moz-opacity:0.35;}
.z4list li.list_info div.pic p{display:block; padding:0px; position:absolute; z-index:2; left:0px; top:0px;}
.z4list li.no_mr{margin-right:0}
.z4list li.list_info div.pic p a{display:block; width:373px; height:177px; overflow:hidden; position:relative; z-index:3;display:table-cell;text-align:center;vertical-align:middle;}
.z4list li.list_info div.pic p a img{vertical-align:middle;max-width:373px;-max-width:373px;max-height: 170px;-max-height: 170px;}
.z4list li.list_info div.pic:hover em{filter:alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}
.z4list li.list_info div.pic strong{display:block; width:260px; height:30px; position:absolute; z-index:4; line-height:30px; overflow:hidden; font-weight:normal; left:0px; top:147px; color:#FFF; padding:0 0 0 9px;}
.z4list li.list_info div.pic strong a{color:#ffffff}
.z4list li.list_info div.pic span{display:none; width:88px; height:21px; position:absolute; left:277px; top:152px; z-index:4;}
.z4list li.list_info div.pic:hover span{display:block;}
.z4list li.list_info div.pic span a{display:block; width:58px; padding-left:30px; color:#F60; height:21px; line-height:21px; background:url(images/info/sxfavbtn.png) no-repeat;}
.z4list li.list_info div.pic span a:hover{text-decoration:none; color:#FFF; background:url(images/info/sxfavbtn.png) no-repeat left -21px;}
.z4list li.list_info div.pic b{display:block; width:33px; height:38px; background:url(images/info/shot.png) no-repeat; position:absolute; z-index:4; top:0px; right:11px;}
.z4list li.list_info div.pic i{display:block; width:33px; height:38px; background:url(images/info/snew.png) no-repeat; position:absolute; z-index:4; top:0px; right:11px;}
.z4list li.list_info div.text{clear:both; height:34px; width:373px;}
.z4list li.list_info div.text strong{display:block; height:34px; float:left; /*width:316px;*/ overflow:hidden; line-height:34px; font-size:14px; font-weight:normal; padding-left:10px; color:#000;}
.z4list li.cat{position:relative; z-index:2; vertical-align:top;}
.z4list li.cat em{display:block; width:373px; height:177px;}
.z4list li.cat div{display:block; padding:0px; width:265px; height:123px; background:#FFF; border:1px solid #ffa163; position:absolute; left:54px; top:23px;}
.z4list li.cat dl{display:block; width:243px; height:38px; position:absolute; left:11px; top:27px; overflow:hidden;}
.z4list li.cat dd{display:block; width:78px; padding-left:3px; float:left; height:38px;}
.z4list li.cat span{display:block; width:132px; height:26px; position:absolute; left:66px; top:82px;}
.z4list li.cat span a{display:block; width:922px; height:26px; background:url(images/info/moreppbtn.png) no-repeat; line-height:24px; padding-left:40px; color:#F60; font-size:14px;}
.z4list li.cat span a:hover{text-decoration:none; color:#FFF; background:url(images/info/moreppbtn.png) no-repeat left -26px;}

/*楼文字招商*/
.z4list_text{overflow:hidden}
.z4list_text .z4list_text_x{height: 40px; line-height: 40px;  border-bottom: 2px solid #1093f3; margin-bottom: 15px;}
.z4list_text .z4list_text_x h3{font-size: 18px; color: #f8521e;float:left;}
.z4list_text .z4list_text_x span{float:right;padding-right:10px;font-size:14px;}
.z4list_text li.no_mr{margin-right:0}

.z4list_text li{position:relative;float:left;margin:0 20px 15px 0;width:285px;height:70px;background:#fff;}
.z4list_text li p{height:32px;line-height:32px;-webkit-text-overflow: ellipsis;-moz-text-overflow: ellipsis;-o-text-overflow: ellipsis;-ms-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;}
.z4list_text li p.p_1{font-size:16px;}
.z4list_text li p.p_2{color: #888888;font-size:12px}
.z4list_text li i{position:absolute;top:0;right:0;bottom:0;left:0;z-index:0;display:block;border-radius:6px;background: #ededed;content:' ';opacity:0;-webkit-transition:-webkit-transform .4s ease,opacity .4s;transition:transform .4s ease,opacity .4s;-webkit-transform:scale(.3,1);transform:scale(.3,1);}
.z4list_text li:hover i{opacity:1;-webkit-transform:scale(1,1);transform:scale(1,1);}
.z4list_text li:hover p{color: #3F51B5;white-space: nowrap;}
.z4list_text li:hover p.p_1{color: #E91E63;font-size:16px;}
.z4list_text li a{position:relative;z-index:1;display:block;padding:4px 4px;height:60px;border:1px solid #e6e6e6;border-radius:4px;color:#333;text-align:center;line-height:20px;}
.z4list_text li:hover a{border: 1px dotted #0983EC;}

/*委托找货*/
.rt1{width:298px;height:291px;border:1px solid #e2e2e2;}
.rt1top{width:298px;height:43px;border-bottom:1px solid #e2e2e2;background:#f1f1f1;}
.rt1top strong{display:block;height:43px;line-height:43px;width:auto;padding-left:12px;font-size:18px;color:#000;font-weight:normal;float:left;}
.rt1top span{display:block;height:36px;padding-top:7px;line-height:36px;color:#666;float:left;width:auto;padding-left:7px;}
.rt1top span i{font-style:normal;color:#ff7300;}
.rt1content{clear:both;height:321px;vertical-align:top;}
.rt1content p{padding:13px 0 0 14px;height:159px;display:block;}
.rt1content p textarea{width:238px;height:136px;border:1px solid #e2e2e2;background:#f1f1f1;line-height:24px;padding:6px 15px 6px 15px;font-family:"微软雅黑";color:#999;}
.rt1content span{display:block;height:58px;padding-left:14px;clear:both;}
.rt1content span input{height:45px;width:270px;background:#ff7300;color:#FFF;border:0px;margin:0px;padding:0px;font-family:"微软雅黑";font-size:16px;cursor:pointer;}
.rt1content span input:hover{background:#ff510c;}
/*分享*/
span.share{width:34px; height:34px; position:relative; z-index:5; display:block; float:left; cursor:pointer; background:url(images/info/sharebtn.png) no-repeat; font-size:12px;}
span.share:hover{background:url(images/info/sharebtn.png) no-repeat left -34px;}
span.share dl{display:none; position:absolute; left:-10px; top:30px; width:86px; height:109px; padding:14px 0 0 10px; background:url(images/info/sharebg.png) no-repeat;}
span.share dl dd{display:block; width:55px; float:left; height:25px; clear:both; line-height:25px;}
span.share dl dd a{display:block; color:#333; height:25px; float:left; width:55px; line-height:25px; padding-left:25px; background:url(images/info/wxhy.gif) no-repeat left 4px;}
span.share dl dd a.sr2{background:url(images/info/txqq.gif) no-repeat left 4px;}
span.share dl dd a.sr3{background:url(images/info/qqkj.gif) no-repeat left 4px;}
span.share dl dd a.sr4{background:url(images/info/slwb.gif) no-repeat left 4px;}
span.share dl dd a:hover{text-decoration:none; color:#F60;}
span.share:hover dl{display:block;}
/*招商排行*/
.info-cat{height: 426px;margin-bottom: 20px;}
.info-cat h3{font-size:20px;height:45px;line-height:45px;text-align: center;}
.info-div{overflow:hidden;background: #ffffff;border-top: 3px solid #1093f3;}
.hot-div{border-top: 3px solid #1093f3;padding-top: 20px;}
.info_hot{width:283px;float:left;margin-right:20px;border: 1px solid #dddddd;background:#ffffff}
.info_hot.no_mr{margin-right:0}
.info_hot .info_hot_x{height:35px;line-height: 35px;border-top: 2px solid #f60;margin-top: -2px;border-bottom: 1px solid #dddddd;}
.info_hot .info_hot_x h2{padding-left:10px;font-size: 16px;float:left;}
.info_hot .info_hot_x span{color:#ff2427;padding-right:8px;font-size:14px;font-weight:700}
.info_hot .info_hot_text{padding:10px;font-size: 14px;}
.info_hot .info_hot_text .hot_info{height:30px;line-height: 30px;white-space: nowrap; -webkit-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden;}
.info_hot .info_hot_text .hot_info i{display: inline-block;color:#ffffff;font-size:10px;width:16px;height:16px;line-height:15px;margin-right:8px;text-align:center;vertical-align:middle;padding: 0;}
.info_hot .info_hot_text .hot_info i.hot_ss{background:#f60;}
.info_hot .info_hot_text .hot_info i.hot_s{background: #dddddd;color:#000}

/*按行业找招商*/
.com-cat{clear: both;margin-bottom: 20px;}
.com-cat h3{font-size:20px;height:45px;line-height:45px;text-align: center;}
.com-div{overflow:hidden;background: #ffffff;border: 1px solid #dddddd;border-top: 3px solid #1093f3;}
.com-list{padding: 15px;overflow: hidden;font-size: 14px;}
.com-list li{float:left;width: 116px;height:35px;line-height:35px;overflow: hidden;text-align: center;}

/*20170621-xiaohei*/
.color-666, a.color-666,.color-666 a{color: #666666;}
.color-red, a.color-red{color: #e11708;}

/*list*/
.data-list{background: #ffffff;border:#ebebeb solid 1px;margin-bottom: 15px;}
.data-list:hover{box-shadow: 0 1px 2px #666666;}
.info-project-list{height: 250px;position: relative;}
.info-project-list .left-img-con{width: 500px;height: 250px;float: left;overflow: hidden;border-right: 1px solid #ededed;}
.info-project-list .left-img-con .info-img-tit{width: 500px;height:250px;display:inline-block;}
.info-project-list .left-img-con .info-img-tit img{width: 500px;height: 250px;}
.info-project-list .right-text-con{width: 462px;overflow:hidden;margin-left:15px;padding-left: 0;height:100%;float: left;}
.info-project-list .right-text-con .time{border-bottom:#e6e6e6 dashed 1px;padding:15px 0;font-size:14px;margin-bottom: 20px;color:#888;}
.info-project-list .right-text-con .info-tit3{font-size:20px;font-weight:bold;line-height:30px;height: 60px;margin-top: 10px;margin-bottom: 10px;overflow: hidden;}
.info-project-list .right-text-con .color-666{font-size:14px;height: 25px;line-height: 25px;}
.info-project-list .right-text-con .may-join-btn-fl{font-size: 14px;margin-top: 15px;}
.info-project-list .right-text-con .may-join-btn-fl em{color:#e60000;font-size: 18px;}
.info-project-list .right-text-con .may-join-btn{background:#c50006; color:#fff; text-align:center; border-radius:4px; border:0; font-size:20px; padding:8px 22px; position: absolute; right:20px; bottom: 20px;}
.info-project-list .right-text-con .may-join-btn:hover{background: #A1191D;}


/*show*/
.personal_bottom span.e_code{float:left;margin-top:0px}
.logo_bj{background: #ffffff;}
.green-investment-template{background: url(images/info/show_bg.png) repeat;}
.h4, h4{font-size: 18px;}
.h4, .h5, .h6, h4, h5, h6{margin-top: 10px; margin-bottom: 10px;}
.bst{font-weight: bold;}
.container-fuild-banner{height:400px;margin-bottom:15px;}
.container{width: 1200px; height: auto; margin:0 auto;}
.container-product{background: #fff; font-size: 14px; line-height: 26px; padding-bottom: 40px;}
.mod-product-con{overflow:hidden; width:100%; height:auto; margin-top:20px;}
.mod-product-con .grid-header{background:url(images/info/info_nav.jpg) no-repeat; height:40px; line-height:40px; font-size:22px; text-indent:48px; color:#fff; font-weight:bold;}
.mod-product-con .compnay-intro-left{height:auto; min-height:200px; margin-left:20px; margin-right:20px; margin-top:20px; margin-bottom:30px;}
.mod-product-con .compnay-intro-right{float:right; margin:25px; margin-top:5px;width:450px;height:300px;}
.mod-product-con .compnay-intro-right img{width:450px;height:300px;border-radius:10px;}
.mod-product-detail-con{overflow:hidden; width:100%; height:auto; margin-top:20px;}
.mod-product-detail-con .grid-content{padding:30px;}
.title_trade{height:45px;line-height:45px;font-size:24px;text-align:center;font-family:\9ED1\4F53;font-weight:normal;margin:0 0 8px 0;border-bottom:#F1F1F1 1px solid;padding:0 0 10px 0;}
.content{border-top: #F1F1F1 1px solid;}
.content{padding-top:30px;overflow: hidden;}
.bd-share{overflow: hidden;}
.grid-content{overflow:hidden}
.grid-content-img{padding:30px 0;overflow:hidden}
.img_show{margin-top:10px;padding:15px;}
.img_show li{width: 380px;float: left;margin-right: 15px;}
.img_show li img{width:380px;}
.infocs{overflow:hidden}
.infocs li{float:left;width:370px;margin-right: 15px;height:40px;line-height:40px}
.infocs li.no_mr{margin-right: 0}
.bond-btn{border-top:#d2d2d1 solid 1px; padding-top:40px; text-align:center; margin-top:20px; margin-bottom:40px;}
.bond-btn .btn-get-into-zt{background: #F44336;font-size:16px;padding:8px 22px;overflow:hidden;color: #fff;}
.bond-btn .btn-get-into-zt:hover{background: #C0372D;}
.bond-btn .btn-get-into-sp{background: #3F51B5;font-size:16px;padding:8px 22px;overflow:hidden;color: #fff;margin-right:30px;}
.bond-btn .btn-get-into-sp:hover{background: #203195;}
.grid-bond-leftcon{width:500px;float:left;margin-left:30px;margin-top:20px;line-height:30px;padding-bottom:10px;}
.grid-bond-leftcon .span-bond-left-tit{width:100px; text-align:right; display:inline-block; padding-right:10px;}
.grid-bond-leftcon .btn-get-into-zt{background:#f19b3e; font-size:16px; padding:8px 22px; overflow:hidden; color: #fff; border: 1px solid transparent;
border-radius: 4px;}
.btn-warning:hover{color: #fff;background-color: #ec971f;border-color: #d58512;}
.grid-bond-leftcon .bond-btn{border-top:#d2d2d1 solid 1px; padding-top:20px; text-align:center; margin-top:20px; margin-bottom:20px;}
.grid-bond-rightcon{width:500px; float:right; margin-right:30px; margin-top:20px; line-height:30px;}
.grid-apply-form-con{width:600px; float:left; border-right:#e0e0e0 dashed 1px; height:550px; padding-bottom:20px; overflow:hidden; padding-top:10px;}
.grid-common-question-con{width:470px; float:left; margin-left:20px; position:relative;}
.grid-common-question-con .btn-raise-questions{background:#32a3dc; border-color:#32a3dc; font-size:14px; padding:8px 18px; overflow:hidden;color:#fff;}
.grid-common-question-con .btn-raise-questions-con{position:absolute; right:10px; top:0;}
.container-product{background: #fff; font-size: 14px; line-height: 26px; padding-bottom: 40px;}
.info-form-group{margin-bottom: 10px;}
.col-xs-3{width: 25%; float:left;}
.col-xs-9{width: 75%; float:left;}
.green-investment-template .grid-news-con{border-top-color:#00ab24;}
.box_head{border-top:0}
.grid-news-con{border:#e7e7e7 solid 1px;border-top:#c50006 solid 6px;margin:0 15px;position:relative;}
.grid-news-con ul{overflow:hidden}
.grid-news-con ul li{line-height:35px; height:35px; margin:0 20px;float:left;width:320px;}
.grid-news-con .li_dot li{background: url('image/li_dot.gif') no-repeat 3px 16px;padding: 0 10px 0 12px;}
