{template 'header-showinfo'}
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class="container-fuild container-fuild-banner" style="background:#fff url({if $banner}{$banner}{else}{DT_SKIN}images/info/no_i_banner.jpg{/if}) center center no-repeat;" alt="{$title}"></div>
 <div class="m location_an mt_10"> <a href="{$MODULE[1][linkurl]}" title="首页" target="_blank">首页</a><span class="s">&gt;</span><a href="{$MOD[linkurl]}">{$MOD[name]}</a><span class="s">&gt;</span>{cat_pos($CAT, '<span class="s">&gt;</span>')}<span class="s">&gt;</span>{$title}</div>
<div class="container">
  <div class="container-product">
	<div class="mod-product-con">
	  <div class="grid-header">公司简介</div>
	  <div class="grid-content">
		<div class="compnay-intro-left">
		{if $username}
           {$xhmember[introduce]}
           <p>
            欢迎您来电来函，期望与您携手并进，供求双赢！ <a href="{userurl($username, 'file=introduce')}" target="_blank" title="查看更多" style="color: red;">查看更多 &gt;</a></p>
            {else}
            <br/>
            <br/>
            <br/>
      <strong class="f_red">注意</strong>:发布人未在本站注册，建议优先选择&nbsp;<a href="{$MODULE[2][linkurl]}grade.php"><strong  class="f_red">{VIP}会员</strong></a>
            {/if} 
		</div>
	  </div>
	  	</div>
{if $thumb}
<div class="mod-product-con">
	  <div class="grid-header">项目展图</div>
	  <div class="grid-content-img">
     <div class="img_show">
		  {if $thumb}<li style="text-align:center;"><img src="{$thumb}" /></li>{/if}
		  {if $thumb1}<li style="text-align:center;"><img src="{$thumb1}" /></li>{/if}
		  {if $thumb2}<li style="text-align:center; margin-right: 0;"><img src="{$thumb2}" /></li>{/if}
      </div>
	  </div>
	  </div>
{/if}
	<div class="mod-product-con mod-product-detail-con">
	  <div class="grid-header">项目介绍</div>
	  <div class="grid-content">
	   <h1 class="title_trade">招商项目：<span id="title">{$title}</span></h1>
	       <ul class="infocs">
	        <li><strong>投资额度</strong>：{$tzed}</li>
	        <li><strong>发展分销</strong>：{$fenxiao}</li>
			<li class="no_mr"><strong>需交保证金</strong>：{$baozj}</li>
			</ul>
			<ul class="infocs">
	        <li><strong>店铺面积要求</strong>：{$dianpumj}</li>
	        <li><strong>网店类型</strong>：{$wangdian}</li>
			<li class="no_mr"><strong>{$MOD[name]}区域</strong>：{area_pos($areaid, '')} </li>
			</ul>
	       <ul class="infocs">
			{if $n1 && $v1}<li><strong>{$n1}</strong>：{$v1}</li>{/if}
			{if $n2 && $v2}<li><strong>{$n2}</strong>：{$v2}</li>{/if}
			{if $n3 && $v3}<li class="no_mr"><strong>{$n3}</strong>：{$v3}</li>{/if}
			</ul>
			<ul class="infocs">
			<li><strong>发布日期</strong>：{$editdate}</li>
			<li><strong>有效期至</strong>：{if $todate}{$todate}{else}长期有效{/if}{if $expired} <span class="f_red">[已过期]</span>{/if}</li>
			<li class="no_mr"><strong>浏览次数</strong>：<span id="hits">{$hits}</span> </li>
			</ul>
	   {if $CP}{template 'property', 'chip'}{/if}
	   	<div class="b10">&nbsp;</div>
		<div class="content" id="content">{$content}</div>
		<!--baidu-share S-->
		<div class="b10">&nbsp;</div>
		<div class="bd-share">
		  <div class="bdsharebuttonbox fr"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
   </div>
		<!--baidu-share END-->
		{if $username}
		<div class="bond-btn">
			<a class="btn-warning btn-get-into-sp" href="javascript:;" target="_blank" onclick="Go('{userurl($username)}');">企业商铺</a>
		{if $MOD[show_message] && $username && !$expired}
			<a class="btn-warning btn-get-into-zt" href="javascript:;" target="_blank" onclick="Go('{$MOD[linkurl]}{rewrite('message.php?itemid='.$itemid)}');">留言咨询</a>
			 {/if}
		  </div>
		  {/if}
		<center>
		[ <a href="{$MOD[linkurl]}search.php" rel="nofollow">{$MOD[name]}搜索</a> ]&nbsp;
		[ <a href="javascript:SendFav();">加入收藏</a> ]&nbsp;
		[ <a href="javascript:SendPage();">告诉好友</a> ]&nbsp;
		[ <a href="javascript:Print();">打印本文</a> ]&nbsp;
		[ <a href="javascript:SendReport();">违规举报</a> ]&nbsp;
		[ <a href="javascript:window.close()">关闭窗口</a> ]
		</center>
		<br/>
		{template 'comment', 'chip'}
		<br/>
		</div>
	</div>
		<div class="mod-product-con">
	  <div class="grid-header">联系方式</div>
	  <div class="grid-content">
		<div class="grid-bond-leftcon contact_left">
		  <div id="contact">{template 'contact', 'chip'}</div>
		</div>
				
		<div class="grid-bond-rightcon" style="width: 590px; height: 350px; overflow: hidden; position: relative; z-index: 0; color: rgb(0, 0, 0); text-align: left; background-color: rgb(243, 241, 236);">
	<!--公司地图-->
            <iframe src="{DT_PATH}api/map/sellmap.php?address={$uaddress}&comname={$comname}" style="width:99%;height:350px;" scrolling="no" frameborder="0"></iframe>
              <div class="map_cpy"><span style="display: inline;">{$DT[sitename]}© xiaohei</span></div>
	  </div>
	</div>
	</div>
	<div class="mod-product-con">
	  <div class="grid-news-con">
		{if $username}
		<div class="box_head"><div><strong>该企业最新{$MOD[name]}</strong></div></div>
		<div class="box_body f_gray li_dot">
		<!--{tag("moduleid=$moduleid&condition=status=3 and username='$username'&pagesize=12&order=addtime desc", -2)}-->
		</div>
		{else}
		<div class="box_head"><div><strong>同类{$MOD[name]}</strong></div></div>
		<div class="box_body f_gray li_dot">
		<!--{tag("moduleid=$moduleid&condition=status=3&catid=$catid&areaid=$cityid&pagesize=12&order=addtime desc")}-->
		</div>
		{/if}
		

	  </div>
	</div>
  </div>
</div>
<script type="text/javascript" src="{DT_STATIC}file/script/album.js"></script>
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
{template 'footer'}