{template 'header', 'memberwap'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="add"><a href="?action=add"><span>提交新问题</span></a></td>
<td class="tab" id="home"><a href="?action=index"><span>问题及解答</span></a></td>
{if $support}
<td class="tab" id="support"><a href="support.php"><span>客服专员</span></a></td>
{/if}
</tr>
</table>
</div>

{if $action == 'add'}
<form method="post" action="?" onsubmit="return check();">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="itemid" value="{$itemid}"/>
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl"> <span class="f_red">*</span> 分 类</td>
<td class="tr">{$type_select} <span id="dtypeid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"> <span class="f_red">*</span> 标 题</td>
<td class="tr"><input type="text" size="30" name="title" id="title" value="{$title}" placeholder="限5-30字之间"/><span id="dtitle" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"> <span class="f_red">*</span> 内 容</td>
<td class="tr">
<textarea name="content" id="content" class="dsn" placeholder="限10-5000字之间">{$content}</textarea>
{deditor($moduleid, 'content', 'Simple', '95%', 200)}<br/>[限10-5000字之间] <span id="dcontent" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"> </td>
<td class="tr"><input type="submit" name="submit" value=" 提 交 " class="btn_g"/></td>
</tr>
</table>
</form>
<script type="text/javascript">s('ask');m('add');</script>
{elseif $action == 'edit'}
<form method="post" action="?" onsubmit="return check();">
<input type="hidden" name="forward" value="{$forward}"/>
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="itemid" value="{$itemid}"/>
<table cellspacing="1" cellpadding="3" class="tb">
<tr>
<td class="tl"> <span class="f_red">*</span> 分 类</td>
<td class="tr">{$type_select} <span id="dtypeid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"> <span class="f_red">*</span> 标 题</td>
<td class="tr"><input type="text" size="30" name="title" id="title" value="{$title}" placeholder="限5-30字之间"/><span id="dtitle" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"> <span class="f_red">*</span> 内 容</td>
<td class="tr"><textarea name="content" id="content" class="dsn">{$content}</textarea>
{deditor($moduleid, 'content', 'Simple', '95%', 200)}<br/>[限10-5000字之间] <span id="dcontent" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="50"><input type="submit" name="submit" value=" 修 改 " class="btn_g"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 返 回 " class="btn_2" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
<script type="text/javascript">s('ask');m('home');</script>
{elseif $action == 'show'}
<table cellspacing="1" cellpadding="10" class="tb">
<tr>
<td class="tl2">问题分类</td>
<td class="tr">{$TYPE[$typeid][typename]}</td>
</tr>
<tr>
<td class="tl2">问题标题</td>
<td class="tr f_b">{$title}</td>
</tr>
{if $qid}
<tr>
<td class="tl2">来源问题</td>
<td class="tr"><a href="?action=show&itemid={$qid}" class="t">点击查看</a></td>
</tr>
{/if}
<tr>
<td class="tl2">问题内容</td>
<td class="tr" style="line-height:180%;">{$content}</td>
</tr>
<tr>
<td class="tl2">提交时间</td>
<td class="tr">{$addtime}</td>
</tr>
<tr>
<td class="tl2">受理状态</td>
<td class="tr">{$dstatus[$status]}</td>
</tr>
{if $status > 1}
<tr>
<td class="tl2">问题回复</td>
<td class="tr" style="line-height:180%;background:#FAFAFA;">{$reply}</td>
</tr>
<tr>
<td class="tl2">受理时间</td>
<td class="tr f_blue">{$edittime}</td>
</tr>
<tr>
<td class="tl2">受理人</td>
<td class="tr">{$editor}</td>
</tr>
<tr>
<td class="tl2">我的评分</td>
<td class="tr">
{if $star}
{$stars[$star]}
{else}
<form method="post" action="?action=star&itemid={$itemid}">
<input type="radio" name="star" value="1" id="star_1" onclick="if(confirm('确定评分为不满意吗？')) Go('?action=star&itemid={$itemid}&star=1');"/><label for="star_1"> 不满意</label>
<input type="radio" name="star" value="2" id="star_2" onclick="if(confirm('确定评分为基本满意吗？')) Go('?action=star&itemid={$itemid}&star=2');"/><label for="star_2"> 基本满意</label>
<input type="radio" name="star" value="3" id="star_3" onclick="if(confirm('确定评分为非常满意吗？')) Go('?action=star&itemid={$itemid}&star=3');"/><label for="star_3"> 非常满意</label>
</form>
{/if}
</td>
</tr>
{if $star != 3}
<tr>
<td class="tl"></td>
<td class="tr"><input type="button" value=" 继续提问 " class="btn_g" onclick="Go('?action=add&itemid={$itemid}');"/></td>
</tr>
{/if}
{/if}
</table>
</form>
<script type="text/javascript">s('ask');m('home');</script>
{else}
<form action="?">
<div class="tt">
{$type_select}&nbsp;
<input type="text" size="20" name="kw" value="{$kw}" title="关键词"/>&nbsp;
<input type="submit" value=" 搜 索 " class="btn"/>
</div>
</form>
<div class="ls">
<table cellspacing="0" cellpadding="0" class="tb">
<tr>
<th>信息</th>
<th width="90">管理(左划)</th>
</tr>
</table>
{loop $asks $k $v}
<div class="list-bian">
<table cellpadding="0" cellspacing="0" class="tb">
<tr onmouseover="this.className='on';" onmouseout="this.className='';" align="center">
<td align="left">
<ul style="width:360px">
<li>标题：<a href="?action=show&itemid={$v[itemid]}" class="t">{$v[title]}</a></li>
<li class="bianji-1"><div class="bianji-1-1">流水号: {$v[itemid]}</div><div class="bianji-1-2">状态: {$v[dstatus]}</div></li>
<li class="bianji-1"><div class="bianji-1-1">分类：<a href="?typeid={$v[typeid]}">{$v[type]}</a></div><div class="bianji-1-2">评分：{$v[dstar]}</div></li>
<li class="bianji-1"><div class="bianji-1-1">添加时间：{$v[adddate]}</div><div class="bianji-1-2">受理时间：{$v[editdate]}</div></li>
</ul>
</td>
<td>
<ul class="guanli-txt">
<li class="guanli-3">{if $v[status] == 0}<a href="javascript:confirmURI('确定要删除吗？此操作将不可撤销', '?action=delete&itemid={$v[itemid]}&forward={urlencode($DT_URL)}');">删除</a>{else}<a href="?action=show&itemid={$v[itemid]}">评价</a>{/if}</li>
<li class="guanli-1">{if $v[status] == 0}<a href="?action=edit&itemid={$v[itemid]}&forward={urlencode($DT_URL)}">修改</a>{else}已解决{/if}</li>
</ul>
</td>
</tr>
</table>
</div>
{/loop}
</div>
<div class="pages">{$pages}</div>
<script type="text/javascript">s('ask');m('home');</script>
{/if}
{if $action=='add' || $action=='edit'}
<script type="text/javascript">
function check() {
	var len;
	if(Dd('typeid').value == 0) {
		Dmsg('请选择分类', 'typeid');
		return false;
	}
	len = Dd('title').value.length;
	if(len < 5 || len > 30) {
		Dmsg('标题不能少于5个字多于30个字，当前已输入'+len+'个字', 'title');
		return false;
	}
	len = FCKLen();
	if(len < 10 || len > 5000) {
		Dmsg('内容不能少于10个字多于5000个字，当前已输入'+len+'个字', 'content');
		return false;
	}
	return true;
}
</script>
{/if}
{template 'footer', 'memberwap'}