{template 'header', 'memberwap'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="action_buy"><a href="?action=buy"><span>{$DT[credit_name]}购买</span></a></td>
<td class="tab" id="action"><a href="?action=index"><span>{$DT[credit_name]}记录</span></a></td>
<td class="tab" id="action_invite"><a href="?action=invite"><span>推广赚{$DT[credit_name]}</span></a></td>
{if $action == 'less'}
<td class="tab" id="action_less"><a href="?action=less"><span>{$DT[credit_name]}不足</span></a></td>
{/if}
{if $MOD[credit_qd]}
<!--S 每日签到-->
<td class="tab" id="action_qiandao"><a href="wapcredit.php?action=qiandao"><span>签到</span></a></td>
<!--E 每日签到-->
{/if}
</tr>
</table>
</div>
{if $action == 'exchange'}
<form method="post" action="?" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="submit" value="1"/>
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl">可用{$MOD[ex_name]}</td>
<td class="tr"><strong class="f_blue">{$num}</strong></td>
</tr>
<tr>
<td class="tl">兑换比率</td>
<td class="tr"><span class="f_blue">1</span> {$MOD[ex_name]} 兑换 <span class="f_red">{$MOD[ex_rate]}</span> {$DT[credit_name]}</td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 兑换额度</td>
<td class="tr"><input type="text" size="8`" name="amount"/> <span id="damount" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="50"><input type="submit" value=" 确 定 " class="btn"/></td>
</tr>
</table>
</form>

<script type="text/javascript">
function check() {
	m = parseInt(Dd('amount').value);
	n = {$num};
	if(m > 0 && m < n) {
		return confirm('确定要兑换'+m+'{$MOD[ex_name]}吗？ 可换取'+(m*{$MOD[ex_rate]})+'{$DT[credit_name]}\n\n注意:兑换{$MOD[ex_name]}可能会降低您在论坛的会员级别');
	} else {
		Dd('amount').value = '';
		Dmsg('请填写兑换额度', 'amount');
		return false;
	}
}
</script>
<script type="text/javascript">s('credit');m('action_exchange');</script>
{elseif $action == 'buy'}
<form method="post" action="?" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="forward" value="{$forward}"/>
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl1">账户余额</td>
<td class="tr"><span class="f_blue">{$_money}</span> {$DT[money_unit]}</td>
</tr>
<tr>
<td class="tl1"><span class="f_red">*</span> 购买额度</td>
<td class="tr c_p">
<table cellpadding="5" cellspacing="3">
<tr align="center">
<td>选</td>
<td>&nbsp;&nbsp;{$DT[credit_name]}({$DT[credit_unit]})&nbsp;&nbsp;</td>
<td>&nbsp;&nbsp;{$DT[money_name]}({$DT[money_unit]})&nbsp;&nbsp;</td>
</tr>
{loop $C $k $v}
<tr align="center" onclick="Dd('type_{$k}').checked=true;k={$k};">
<td><input type="radio" name="type" id="type_{$k}" value="{$k}" {if $k==$select}checked{/if}/></td>
<td class="f_red" id="c_{$k}">{$v}</td>
<td class="f_blue" id="p_{$k}">{$P[$k]}</td>
</tr>
{/loop}
</table>
</td>
</tr>
<tr id="payword" style="display:none;">
<td class="tl"><span class="f_red">*</span> 支付密码</td>
<td class="tr">{template 'password', 'chip'}&nbsp;<span id="dpassword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="50"><input type="submit" name="submit" value=" 立即购买 " class="btn_g"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
var k = {$select};
function check() {
	if($('#p_'+k).html() > {$_money}) {
		Go('charge.php?action=pay&reason=credit|'+k+'&amount='+($('#p_'+k).html() - {$_money}));
		return false;
	}
	var f,l;
	f = 'password';
	l = Dd(f).value.length;
	if(l < 6) {
		Dmsg('请填写支付密码', f);
		return false;
	}
	return true;
}
window.setInterval(
	function() {
		$('#p_'+k).html() > {$_money} ? Dh('payword') : Ds('payword');
	}, 
500);
</script>
<script type="text/javascript">s('credit');m('action_buy');</script>
{elseif $action == 'invite'}
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl1">引导至</td>
<td class="tr">
<input type="radio" name="goto" value="1" id="goto_1" onclick="Dd('codes').value='{$url}';" checked/><label for="goto_1"> 网站首页</label>&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="goto" value="2" id="goto_2" onclick="Dd('codes').value='{$url}&goto=register';"/><label for="goto_2"> 会员注册</label>&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="goto" value="3" id="goto_3" onclick="Dd('codes').value='{$url}&goto=homepage';"/><label for="goto_3"> 我的主页</label>
</td>
</tr>
<tr>
<td class="tl1">推广网址</td>
<td class="tr"><input type="text" name="code" value="{$url}" size="25" id="codes" onmouseover="this.select();" style="padding:3px;"/></td>
</tr>
<tr>
<td class="tl1">推广方法</td>
<td class="tr">
- 将上面的网址发给您QQ/MSN/Email等好友<br/>
- 在论坛签名,博客链接,网站等加上上面的网址<br/>
</td>
</tr>
<tr>
<td class="tl1">奖励方法</td>
<td class="tr">
- 每引导一个IP访问您可以获赠 <strong class="f_blue">{$MOD[credit_ip]}</strong> {$DT[credit_name]} (24小时内最多积{$MOD[credit_maxip]}{$DT[credit_name]})<br/>
- 每引导一个用户注册您可以获赠 <strong class="f_blue">{$MOD[credit_user]}</strong> {$DT[credit_name]}<br/>
</td>
</tr>
<tr>
<td class="tl1">备注事项</td>
<td class="tr">
- 无论引导至那个页面，系统均会自动记录您为用户注册推荐人<br/>
- 引导用户需注册成功完善资料后方可为您加分<br/>
- 同一IP 24小时内计算一次<br/>
</td>
</tr>
<tr>
<td class="tl1">推广记录</td>
<td class="tr"><a href="?kw={urlencode('推广')}" class="t">点击查看&raquo;</a></td>
</tr>
</table>
<script type="text/javascript">s('credit');m('action_invite');</script>
{elseif $action == 'less'}
<div class="warn">抱歉！由于您的{$DT[credit_name]}不足，无法进行此操作</div>
<table cellspacing="1" cellpadding="6" class="tb">
<td class="tl1">可用{$DT[credit_name]}</td>
<td class="tr"><strong class="f_blue">{$_credit}</strong></td>
</tr>
<tr>
<td class="tl1">您可以...</td>
<td class="tr">
<a href="?action=buy" class="t">购买{$DT[credit_name]}</a> &nbsp;|&nbsp;
{if $MOD[credit_exchange]}
<a href="?action=exchange" class="t">兑换{$DT[credit_name]}</a> &nbsp;|&nbsp; 
{/if}
<a href="?action=invite" class="t">推广赚{$DT[credit_name]}</a>
</td>
</tr>
</table>
<script type="text/javascript">s('credit');m('action_less');</script>
<!--E 每日签到-->
{elseif $action == 'qiandao'}
<style>
/*今日签到*/
.singer{ float:left; border:0px solid #DCDBDB;padding:10px 5px 10px 0;height:45px;line-height:45px;width: 98.5%;}
.singer_l_cont, .singer_r_r{float:left;}
.singer_l_cont{width: 65%;background:url(image/sing_per.gif) no-repeat left 12px;text-indent:23px;font-size:12px;}
.singer_r_img{display:block;width:114px;height:52px;background:url(images/img/sing_week.gif) right 2px no-repeat;vertical-align:middle;float:left;*margin-bottom:-10px;}
.singer_r_img:hover{background-position:right -53px;text-decoration:none;}
.singer_r_img span{margin-left:14px;font-size:16px;font-family:'Hiragino Sans GB','Microsoft YaHei',sans-serif !important;font-weight:700;color:#165379;}
.singer_r_img.current{background:url(images/img/sing_sing.gif) no-repeat 0 2px;}
.singer_l_cont a.red{color:red;font-weight: 700;}
.red{color: #dd2726;}
</style>
<!--{php $qd=$db->get_one("SELECT itemid,addtime FROM ".$DT_PRE."qiandao WHERE userid=$_userid order by itemid desc");}-->
<div class="singer">
		<div class="singer_l_cont">
			<span>每天签到，轻松领取积分{if timetodate($qd['addtime'], 3)== timetodate($DT_TIME, 3) && $qd['addtime']}<b class="red">打卡成功</b>{else}<a href="wapqiandao.php" class="red">立刻打卡</a>{/if}</span>
		</div>
		<div class="singer_r_r">
        {if timetodate($qd['addtime'], 3)== timetodate($DT_TIME, 3) && $qd['addtime']}
			<b class="singer_r_img">	
				<span id="sing_for_number"></span>
			</b>
            {else}
            <a href="wapqiandao.php" class="singer_r_img">	
				<span id="sing_for_number"></span>
			</a>
            {/if}
		</div>
</div>
  <script type="text/javascript">
/*签到模块日期捕捉：*/
function week(){
	var objDate= new Date();
	var week = objDate.getDay();
	switch(week)
		{
			case 0:
			week="周日";
			break;
			case 1:
			week="周一";
			break;
			case 2:
			week="周二";
			break;
			case 3:
			week="周三";
			break;
			case 4:
			week="周四";
			break;
			case 5:
			week="周五";
			break;
			case 6:
			week="周六";
			break;
		}
	$("#sing_for_number").html( week );
}

$(document).ready(function(){
	week();
	//$(".singer_r_img").click(function(){
		//$(this).addClass("current");
	//})
})
</script>
 <script type="text/javascript">
	{if timetodate($qd['addtime'], 3)== timetodate($DT_TIME, 3) && $qd['addtime']}
	$(".singer_r_img").addClass("current");
	$(".singer_r_img").removeAttr("onclick");
	{else}
	{/if}
</script>
  <div class="bd">
<table cellpadding="1" cellspacing="0" class="tb">
<tr>
<th>签到时间</th>
<th>连签</th>
<th>奖励</th>
<th>签到IP</th>
</tr>
{loop $qiandaos $k $v}
<tr align="center">
<script type="text/javascript">
function qiandao(page,uid){
	$(".news_more").html("<img src='/mobile/static/img/my_loading.gif' />");
	var aciton = "list";
	$.ajax({
		type:"post",
		url:"wapqiandao.php",
		dataType:'text',
		data:{'action':aciton,'page':page,'uid':uid},
		success:function(data){
			$(".qiandao_list").append(data);
			if(data == ''){
				$(".news_more").html('已全部加载完成');
			}else{
				$(".news_more").html('加载更多');
			}
		}
	});
}

$(document).ready(function(){
	qiandao();
	var page = 1;
	var uid = '';
	$(".qiandaolist").click(function(){
		location.reload();
	});
	$(".myqiandao").click(function(){
		$(".qiandao_list").empty();
		uid = {$_userid};
		page = 1;
		qiandao(page,uid);
	});
	$(".news_more").click(function(){
		page++;
		qiandao(page,uid);
	});	
	
});
</script>

<td height="30" class="px11">{$v[addtime]}</td>
<td>{$v[signdays]} 天</td>
<td class="px11 f_blue">{$v[feeadd]} 积分</td>
<td class="px11 f_red">{$v[ip]}</td>
</tr>
{/loop}
</table>
<div class="pages">{$pages}</div>
</div>
<script type="text/javascript">s('credit');m('action_qiandao');</script>
<!--E 每日签到-->
{else}

<form action="?">
<div class="tt">
<select name="type">
<option value="0">类型</option>
<option value="1" {if $type==1}selected{/if}>收入</option>
<option value="2" {if $type==2}selected{/if}>支出</option>
</select>&nbsp;
<input type="text" size="23" name="kw" value="{$kw}" title="关键词"/>&nbsp;
<input type="submit" value=" 搜 索 " class="btn"/>
</div>
</form>
<div class="bd">
<table cellpadding="1" cellspacing="0" class="tb">
<tr>
<th>{$DT[credit_name]}流水相关记录</th>
</tr>
</table>
{loop $records $k $v}
<div class="list-bian-140">
<table cellpadding="0" cellspacing="0" class="tb">
<tr>
<td align="left">
<ul class="bianji">
<li class="bianji-1" style="text-align:left;"><div class="bianji-1-1 f_blue">收入：{if $v[amount] > 0}{$v[amount]}{else}&nbsp;{/if}</div><div class="bianji-1-2 f_red">支出：{if $v[amount] < 0}{$v[amount]}{else}&nbsp;{/if}</div></li>
<li class="bianji-1">余额：{if $v[balance]}<strong>{$v[balance]}</strong>{else}&nbsp;{/if}</li>
<li class="bianji-1"><div class="bianji-1-1">流水号：{$v[itemid]}</div><div class="bianji-1-2">发生时间：{$v[addtime]}</div></li>
<li class="bianji-1">事由：{$v[reason]}</li>
<li class="bianji-1">备注：{$v[note]}</li>
</ul>
<td>
</tr>
</table>
</div>
{/loop}
<table cellpadding="0" cellspacing="0" class="tb">
<tr align="center">
<td height="35"><strong>小计</strong></td>
<td class="px11 f_blue">收入：{$income}</td>
<td class="px11 f_red">支出：{$expense}</td>
<td colspan="4">&nbsp;</td>
</tr>
</table>
<div class="pages">{$pages}</div>
<script type="text/javascript">s('credit');m('action');</script>
{/if}
{template 'footer', 'memberwap'}