{template 'header', 'memberwap'}
<div class="menu">
<ul>
<li>
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="add"><a href="?mid={$mid}&action=add"><span>添加{$MOD[name]}</span></a></td>
{if $_userid}
<td class="tab" id="s3"><a href="?mid={$mid}"><span>已发布<span class="px10">({$nums[3]})</span></span></a></td>
<td class="tab" id="s2"><a href="?mid={$mid}&status=2"><span>审核中<span class="px10">({$nums[2]})</span></span></a></td>
<td class="tab" id="s1"><a href="?mid={$mid}&status=1"><span>未通过<span class="px10">({$nums[1]})</span></span></a></td>
<td class="tab" id="s4"><a href="?mid={$mid}&status=4"><span>已过期<span class="px10">({$nums[4]})</span></span></a></td>
{/if}
</tr>
</table>
</li>
</ul>
</div>
{if $action=='add' || $action=='edit'}
<iframe src="" name="send" id="send" style="display:none;"></iframe>
<form method="post" action="?" id="dform" target="send" onsubmit="return check();">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="mid" value="{$mid}"/>
<input type="hidden" name="itemid" value="{$itemid}"/>
<input type="hidden" name="forward" value="{$forward}"/>
<table cellpadding="6" cellspacing="1" class="tb">
{if $status==1 && $action=='edit' && $note}
<tr>
<td class="tl">未通过原因</td>
<td class="tr f_blue">{$note}</td>
</tr>
{/if}
<tr>
<td class="tl"><span class="f_red">*</span> 分类</td>
<td class="tr">{category_select('post[catid]', '选择分类', $catid, $moduleid)} <span id="dcatid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 名称</td>
<td class="tr"><input name="post[title]" type="text" id="title" size="38" value="{$title}"/> <span id="dtitle" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 标图</td>
<td class="tr"><input name="post[thumb]" id="thumb" type="text" size="20" value="{$thumb}" readonly/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dthumb({$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb').value, true);" class="t">[上传]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="_preview(Dd('thumb').value);" class="t">[预览]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dd('thumb').value='';" class="t">[删除]</a> <span id="dthumb" class="f_red"></span></td>
</tr>
{if $action=='add' && $could_color}
<tr>
<td class="tl">标色</td>
<td class="tr">
{dstyle('color')}&nbsp;
设置信息标题颜色需消费 <strong class="f_red">{$MOD[credit_color]}</strong> {$DT[credit_name]}
</td>
</tr>
{/if}
{if $CP}
<script type="text/javascript">
var property_catid = {$catid};
var property_itemid = {$itemid};
var property_admin = 0;
</script>
<script type="text/javascript" src="{DT_STATIC}file/script/property.js"></script>
<tbody id="load_property" style="display:none;">
<tr><td></td><td></td></tr>
</tbody>
{/if}
{if $FD}{fields_html('<td class="tl">', '<td class="tr">', $item)}{/if}
<tr>
<td class="tl">说明</td>
<td class="tr"><textarea name="post[content]" id="content" class="dsn">{$content}</textarea>{deditor($moduleid, 'content', $group_editor, '94%', 200)}<br/><span id="dcontent" class="f_red"></span>
</td>
</tr>
<tr>
<td class="tl">模式</td>
<td class="tr">
<input type="radio" name="post[open]" value="3"{if $open==3} checked{/if} id="o_3" onclick="Dh('op_2');Dh('op_1');"/><label for="o_3"> 开放</label>
<input type="radio" name="post[open]" value="2"{if $open==2} checked{/if} id="o_2" onclick="Ds('op_2');Dh('op_1');"/><label for="o_2"> 密码验证</label>
<input type="radio" name="post[open]" value="1"{if $open==1} checked{/if} id="o_1" onclick="Dh('op_2');Ds('op_1');"/><label for="o_1"> 问题验证</label>
</td>
</tr>

<tr id="op_2" style="display:{if $open==2}{else}none{/if};">
<td class="tl"><span class="f_red">*</span> 密码</td>
<td class="tr"><input name="post[password]" type="text" id="pass" size="30" value="{$password}"/> <span id="dpass" class="f_red"></span></td>
</tr>

<tr id="op_1" style="display:{if $open==1}{else}none{/if};">
<td class="tl"><span class="f_red">*</span> 问题</td>
<td class="tr"><input name="post[question]" type="text" id="qa" size="30" value="{$question}"/> 
答案 <input name="post[answer]" type="text" id="an" size="30" value="{$answer}"/> <span id="dqa" class="f_red"></span></td>
</tr>
{if $fee_add}
<tr>
<td class="tl">交费</td>
<td class="tr"><span class="f_b f_red">{$fee_add}</span> {$fee_unit}</td>
</tr>
{if $fee_currency == 'money'}
<tr>
<td class="tl">余额</td>
<td class="tr"><span class="f_blue f_b">{$_money}{$fee_unit}</span> <a href="charge.php?action=pay" target="_blank" class="t">[充值]</a></td>
</tr>
{else}
<tr>
<td class="tl">余额</td>
<td class="tr"><span class="f_blue f_b">{$_credit}{$fee_unit}</span> <a href="credit.php?action=buy" target="_blank" class="t">[购买]</a></td>
</tr>
{/if}
{/if}
{if $need_password}
<tr>
<td class="tl"><span class="f_red">*</span> 支付密码</td>
<td class="tr">{template 'password', 'chip'} <span id="dpassword" class="f_red"></span></td>
</tr>
{/if}
{if $need_question}
<tr>
<td class="tl"><span class="f_red">*</span> 验证问题</td>
<td class="tr">{template 'question', 'chip'} <span id="danswer" class="f_red"></span></td>
</tr>
{/if}
{if $need_captcha}
<tr>
<td class="tl"><span class="f_red">*</span> 验证码</td>
<td class="tr">{template 'captcha', 'chip'} <span id="dcaptcha" class="f_red"></span></td>
</tr>
{/if}
{if $action=='add'}
<tr style="display:none;" id="weibo_sync">
<td class="tl">同步</td>
<td class="tr" id="weibo_show"></td>
</tr>
{/if}
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="50"><input type="submit" name="submit" value="{if $action=='add'}下一步{else} 提 交 {/if}" class="btn_g"/>{if $action=='edit'}&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 上传图片 " class="btn_b" onclick="Go('?mid={$mid}&action=item&itemid={$itemid}');"/>{/if}&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 返 回 " class="btn_2" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
{load('clear.js')}
{if $action=='add'}
<script type="text/javascript">s('mid_{$mid}');m('{$action}');</script>
{else}
<script type="text/javascript">s('mid_{$mid}');m('s{$status}');</script>
{/if}
{elseif $action == 'item'}
<div class="tt">
<span class="f_r">
已上传：<strong class="f_green">{$items}</strong>/<strong class="f_red">{$MOD[maxitem]}</strong>&nbsp;&nbsp;
</span>
<strong>上传图片至：</strong><a href="{$EXT[mobile_url]}{mobileurl($moduleid, 0, $item['itemid'])}" class="t">{$item[title]}</a>
</div>
<form method="post" action="?" id="dform">
<input type="hidden" name="mid" value="{$mid}"/>
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="itemid" value="{$itemid}"/>
<input type="hidden" name="forward" value="{$forward}"/>
<input type="hidden" name="update" value="1"/>
<input type="hidden" name="swf_upload" id="swf_upload"/>
<table cellpadding="2" cellspacing="1" class="tb">
<tr>
<td>
{loop $lists $k $v}
<div style="width: 48%;float:left; margin-top: 10px; margin-left: 5px;">
	<input type="hidden" name="post[{$v[itemid]}][thumb]" id="thumb{$v[itemid]}" value="{$v[thumb]}"/>
	<table width="97%">
	<tr align="center" height="160" class="c_p">
	<td width="97%"><img src="{$v[thumb]}" width="98%" height="150" id="showthumb{$v[itemid]}" title="预览图片" alt="" onclick="if(this.src.indexOf('{$EXT[mobile_url]}image/waitpic-150.gif') == -1){_preview(this.src, 1);}else{Dphoto({$v[itemid]},{$mid},150,150, Dd('thumb{$v[itemid]}').value, true);}"/></td>
	</tr>
	<tr align="center">
	<td height="80">
	<ul class="tu">
	<li class="tu-1" onclick="Dphoto({$v[itemid]},{$mid},150,150, Dd('thumb{$v[itemid]}').value, true);">上传图片</li>
    <a href="?mid={$mid}&action=item_delete&itemid={$v[itemid]}" onclick="return _delete();"><li class="tu-2" onclick="return _delete();"/>删除图片</li></a>
	</ul>
	</td>
	</tr>
	<tr align="center" title="{$v[introduce]}">
	<td><textarea name="post[{$v[itemid]}][introduce]" style="width:90%;height:40px;" onfocus="if(this.value=='简介：')this.value='';">{$v[introduce]}</textarea></td>
	</tr>
	<tr align="center" title="排序">
	<td><input type="text" size="3" name="post[{$v[itemid]}][listorder]" value="{$v[listorder]}"/></td>
	</tr>
	</table>
</div>
{/loop}
{if $items < $MOD[maxitem]}
<div style="width: 48%;float:left; margin-top: 10px; margin-left: 5px;">
	<input type="hidden" name="post[0][thumb]" id="thumb0"/>
	<table width="100%">
	<tr align="center" height="160" class="c_p">
	<td width="100%"><img src="{$EXT[mobile_url]}image/waitpic-150.gif" width="97%" height="150" id="showthumb0" title="预览图片" alt="" onclick="if(this.src.indexOf('{$EXT[mobile_url]}image/waitpic-150.gif') == -1){_preview(this.src, 1);}else{Dphoto(0,{$mid},150,150, Dd('thumb0').value, true);}"/></td>
	</tr>
	<tr align="center">
	<td height="80">
	<ul class="tu">
	<li class="tu-1" onclick="Dphoto(0,{$mid},150,150, Dd('thumb0').value, true);">上传图片</li>
	</ul>
	</tr>
	<tr align="center" title="简介">
	<td><textarea name="post[0][introduce]" style="width:90%;height:40px;" onfocus="if(this.value=='简介：')this.value='';">简介：</textarea></td>
	</tr>
	<tr align="center" title="排序">
	<td><input type="text" size="3" name="post[0][listorder]" value="0"/></td>
	</tr>
	</table>
</div>
{/if}
</td>
</tr>
</table>
<div class="sbt"><input type="submit" value=" 更 新 " class="btn_g"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 返 回 " class="btn_2" onclick="Go('?mid={$mid}');"/></div>
</form>
<div class="pages">{$pages}</div>
{else}
<div class="tt">
<form action="?">
<input type="hidden" name="mid" value="{$mid}"/>
<input type="hidden" name="status" value="{$status}"/>
<input type="text" size="32" name="kw" value="{$kw}" title="关键词"/>&nbsp;
<input type="submit" value=" 搜 索 " class="btn"/>
</form>
</div>
<div class="ls">
<form method="post">
<table cellpadding="0" cellspacing="0" class="tb">
<tr>
<th width="20"><input type="checkbox" onclick="checkall(this.form);"/></th>
<th>图片</th>
<th>相关信息</th>
<th width="90">管理(左划)</th>
</tr>
</table>
{loop $lists $k $v}
<div class="list-bian">
<table cellpadding="0" cellspacing="0" class="tb">
<tr onmouseover="this.className='on';" onmouseout="this.className='';" align="center">
<td><input type="checkbox" name="itemid[]" value="{$v[itemid]}"/></td>
<td><a href="javascript:_preview('{$v[thumb]}');"><img src="{$v[thumb]}" width="60" class="thumb"/></a></td>
<td align="left">
<ul class="bianji" style="margin-left: 10px;">
<li class="bianji-0" style="text-align:left;width: 290px">{if $v[open]<3}<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/ico_lock.gif"/> {/if}{if $v[status]==3}<a href="{$EXT[mobile_url]}index.php?moduleid={$mid}&itemid={$v[itemid]}" target="_blank" class="t">{else}<a href="?mid={$mid}&action=edit&itemid={$v[itemid]}" class="t">{/if}{$v[title]}</a>{if $v[status]==1 && $v[note]} <a href="javascript:" onclick="alert('{$v[note]}');"><img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/why.gif" title="未通过原因"/></a>{/if}</li>
<li class="bianji-1">已上传：<strong>{$v[items]}</strong> 张图片</li>
{if $timetype=='add'}
<li class="bianji-1">添加时间: {timetodate($v[addtime], 5)}</li>
	   {else}
<li class="bianji-1">更新时间: {timetodate($v[edittime], 5)}</li>
		{/if}
<li class="bianji-1">【<a href="{$EXT[mobile_url]}{mobileurl($moduleid, $v[catid])}" target="_blank">{$v[catname]}</a>】 浏览：{$v[hits]}</li>
</ul>
</td>
<td>
<ul class="guanli">
{if $MG[delete]}<li class="guanli-3"><a href="?mid={$mid}&action=delete&itemid={$v[itemid]}" onclick="return confirm('确定要删除吗？此操作将不可撤销');">删除</a></li>{/if}
<li class="guanli-2"><a href="?mid={$mid}&action=item&itemid={$v[itemid]}">管理</a></li>
<li class="guanli-1"><a href="?mid={$mid}&action=edit&itemid={$v[itemid]}">修改</a></li>
</ul>
</td>
</tr>
</table>
</div>
{/loop}
</div>

{if $MG[delete]}
<div class="btns">
<input type="submit" value=" 删除选中 " class="btn" onclick="if(confirm('确定要删除选中{$MOD[name]}吗？')){this.form.action='?mid={$mid}&status={$status}&action=delete'}else{return false;}"/>
</div>
{/if}
</form>
</div>
{if $MG[photo_limit] || (!$MG['fee_mode'] && $MOD[fee_add])}
<div class="limit">
{if $MG[photo_limit]}
总共可发 <span class="f_b f_red">{$MG[photo_limit]}</span> 条&nbsp;&nbsp;&nbsp;
当前已发 <span class="f_b">{$limit_used}</span> 条&nbsp;&nbsp;&nbsp;
还可以发 <span class="f_b f_blue">{$limit_free}</span> 条&nbsp;&nbsp;&nbsp;
{/if}
{if !$MG['fee_mode'] && $MOD[fee_add]}
发布信息收费 <span class="f_b f_red">{$MOD[fee_add]}</span> {if $MOD[fee_currency] == 'money'}{$DT[money_unit]}{else}{$DT[credit_unit]}{/if}/条&nbsp;&nbsp;&nbsp;
可免费发布 <span class="f_b">{if $MG[photo_free_limit]<0}无限{else}{$MG[photo_free_limit]}{/if}</span> 条&nbsp;&nbsp;&nbsp;
{/if}
</div>
{/if}
<div class="pages">{$pages}</div>
<script type="text/javascript">s('mid_{$mid}');m('s{$status}');</script>
{/if}

{if $action == 'add' || $action == 'edit'}
<script type="text/javascript">
function check() {
	var l;
	var f;
	f = 'catid_1';
	if(Dd(f).value == 0) {
		Dmsg('请选择所属分类', 'catid', 1);
		return false;
	}
	f = 'title';
	l = Dd(f).value.length;
	if(l < 2 || l > 30) {
		Dmsg('标题应为2-30字，当前已输入'+l+'字', f);
		return false;
	}
	f = 'thumb';
	l = Dd(f).value.length;
	if(l < 10) {
		Dmsg('请上传LOGO', f);
		return false;
	}
	if(Dd('o_2').checked) {
		f = 'pass';
		l = Dd(f).value.length;
		if(l < 1) {
			Dmsg('请填写密码', f);
			return false;
		}
	}
	if(Dd('o_1').checked) {
		f = 'qa';
		l = Dd(f).value.length;
		if(l < 1) {
			Dmsg('请填写问题', 'qa');
			return false;
		}
		f = 'an';
		l = Dd(f).value.length;
		if(l < 1) {
			Dmsg('请填写答案', 'qa');
			return false;
		}
	}
	{if $FD}{fields_js()}{/if}
	{if $CP}{property_js()}{/if}
{if $need_password}
	f = 'password';
	l = Dd(f).value.length;
	if(l < 6) {
		Dmsg('请填写支付密码', f);
		return false;
	}
{/if}
{if $need_question}
	f = 'answer';
	l = Dd(f).value.length;
	if(l < 1) {
		Dmsg('请填写验证问题', f);
		return false;
	}
	if(Dd('c'+f).innerHTML.indexOf('error') != -1) {
		Dd(f).focus();
		return false;
	}
{/if}
{if $need_captcha}
	f = 'captcha';
	l = Dd(f).value;
	if(!is_captcha(l)) {
		Dmsg('请填写正确的验证码', f);
		return false;
	}
	if(Dd('c'+f).innerHTML.indexOf('error') != -1) {
		Dd(f).focus();
		return false;
	}
{/if}
	return true;
}
var destoon_oauth = '{$EXT[oauth]}';
</script>
{/if}
{if $action=='add' && strlen($EXT[oauth]) > 1}{load('weibo.js')}{/if}
{template 'footer', 'memberwap'}