{template 'headerqiandao'}
<link rel="stylesheet" href="css/qiandao_style.css">

    <script type="text/javascript" src="js/doT.min.js"></script>
    <script type="text/javascript">
    {if $signed==1}var qd_yes = 1;{else}var qd_yes = 0;{/if}
	{if $_userid}var qd_login = 1;{else}var qd_login = 0;{/if}
    </script>
    <div class="qiandao-warp">
        <div class="qiandap-box">
            <div class="qiandao-banner">
            <img src="images/qiandao_banner.gif" height="554" width="1120" alt="">
            </div>
            <div class="qiandao-con clear">
                <div class="qiandao-left">
                    <div class="qiandao-left-top clear">
                        <div class="current-date">2016年8月5日</div>
                        <div class="qiandao-history qiandao-tran qiandao-radius" id="js-qiandao-history">签到记录</div>
                    </div>
                    <div class="qiandao-main" id="js-qiandao-main">
                        <ul class="qiandao-list" id="js-qiandao-list">
                        </ul>
                    </div>
                </div>
                <div class="qiandao-right">
                <div class="member"><a href="{$MODULE[2][linkurl]}">返回会员中心</a></div>
                    <div class="qiandao-top">
                    {if !$_userid}
                    <div class="no-login qiandao-sprits" id="no-login"></div>
                    {else}
                        <div class="just-qiandao qiandao-sprits {if $signed==1}qiandao-yes{/if}" id="js-just-qiandao"></div>
                        {/if}
                        {if $signed==1}
                        <p class="qiandao-notic">今日已领<span id="todayget">{$todayget}</span>{$DT[credit_name]}，请明日继续签到</p>
                         {else}
                         <p class="qiandao-notic">今日尚未签到，立即签到免费得{$DT[credit_name]}</p>
                         {/if}
                    </div>
                    <div class="qiandao-bottom">
                        <div class="qiandao-rule-list">
                            <h4>签到规则</h4>
                            <p>首次签到获得5{$DT[credit_name]}奖励</p>
                            <p>连续签到每天增加3{$DT[credit_name]}奖励</p>
                        </div>
                        <div class="qiandao-rule-list">
                            <h4>其他说明</h4>
                            <p>如果中间有一天间断未签到的，重先开始计算连续签到时间。</p>
                        </div>
                        <div class="qiandao-rule-list">
                            <h4>积分用途</h4>
                            <p>可以兑换广告位</p>
                            <p>可以兑换实物</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 我的签到 layer start -->
    <div class="qiandao-layer qiandao-history-layer">
        <div class="qiandao-layer-con qiandao-radius">
            <a href="javascript:;" class="close-qiandao-layer qiandao-sprits"></a>
            <ul class="qiandao-history-inf clear">
                <li>
                    <p>连续签到</p>
                    <h4 id="qd_lianxu">5</h4>
                </li>
                <li>
                    <p>本月签到</p>
                    <h4 id="qd_benyue">17</h4>
                </li>
                <li>
                    <p>总共签到数</p>
                    <h4 id="qd_total">28</h4>
                </li>
                <li>
                    <p>签到累计奖励</p>
                    <h4 id="qd_gets">30</h4>
                </li>
            </ul>
            <div class="qiandao-history-table">
                <ul class="my_qdtitle">
                <li>签到日期</li>
                            <li>奖励</li>
                            <li>说明</li>
                        </ul>
             
                    <ul class="my_qdlists">
                             <script id="qiandao-template" type="text/x-dot-template">
                    {{ for(var i=0, len=it.length; i<len; i++) {}}
<li>
                            <span class="qd-list">{{=it[i].adddate}}</span>
                            <span class="qd-list">{{=it[i].feeadd}}</span>
                            <span class="qd-list">连续签到{{=it[i].signdays}}天奖励</span>
</li>
                    {{ } }}
                </script>

                <div id="qiandao-content"></div>
  	

                    </ul>
            </div>
        </div>
        <div class="qiandao-layer-bg"></div>
    </div>
    <!-- 我的签到 layer end -->
    <!-- 签到 layer start -->
    <div class="qiandao-layer qiandao-active">
        <div class="qiandao-layer-con qiandao-radius">
            <a href="javascript:;" class="close-qiandao-layer qiandao-sprits"></a>
            <div class="yiqiandao clear">
                <div class="yiqiandao-icon qiandao-sprits"></div>您已连续签到<span id="signday">{$feeadd}</span>天
            </div>
            <div class="qiandao-jiangli qiandao-sprits">
                <span class="qiandao-jiangli-num" id="signget">{$todayget}<em>{$DT[credit_name]}</em></span>
            </div>
        </div>
        <div class="qiandao-layer-bg"></div>
    </div>
        <script src="js/qiandao_js.js"></script>
    <!-- 签到 layer end -->
    {template 'footer'}