var destoon_userid = {$_userid};
var destoon_username = '{$_username}';
var destoon_message = {$_message};
var destoon_chat = {$_chat};
var destoon_cart = get_cart();
var xh_member = '';
var xh_memberimg = '';
{if $_userid}
xh_member += '<span class="f_b" title="{$MG[groupname]}">{$_truename}</span> <a href="{$MODULE[2][linkurl]}line.php" title="{if $_online}在线，点击隐身{else}隐身，点击上线{/if}"><img src="{DT_SKIN}image/user_{if $_online}on{else}off{/if}line.png" width="10" height="10" align="absmiddle"/></a> | <a href="{$MODULE[2][linkurl]}">商务中心</a> | <a href="{$MODULE[2][linkurl]}message.php">站内信(<span class="head_t" id="destoon_message">{if $_message}<strong>{$_message}</strong>{if $_sound}'+sound('message_{$_sound}')+'{/if}{else}0{/if}</span>)</a>{if $DT[im_web]} | <a href="{$MODULE[2][linkurl]}chat.php">新对话(<span class="head_t" id="destoon_chat">{if $_chat}<strong>{$_chat}</strong>'+sound('chat_new')+'{else}0{/if}</span>)</a>{/if} | <a href="{$MODULE[2][linkurl]}logout.php">退出</a>';
xh_memberimg += '<img src="{useravatar($_username, 'large')}&time={$DT_TIME}" class="brand_img"/><div class="u-info"><div id="login_user">Hi，{$_truename}</div><div class="u-wel"><span>欢迎来到{$DT[jdname]}</span></div></div>';
{else}
	{if $EXT[oauth]}
	var oauth_site = '{get_cookie('oauth_site')}';
	var oauth_user = '{get_cookie('oauth_user')}';
	xh_member += (oauth_user && oauth_site) ? '<img src="{DT_PATH}api/oauth/'+oauth_site+'/ico.png" align="absmiddle"/> 欢迎，<strong>'+oauth_user+'</strong> | <a href="{DT_PATH}api/oauth/'+oauth_site+'/index.php?time={$DT_TIME}">绑定帐号</a> | <a href="{$MODULE[2][linkurl]}{$DT[file_login]}">注销登录</a>' : '欢迎来到{$DT[jdname]}！&nbsp;&nbsp;<a class="login" href="{$MODULE[2][linkurl]}{$DT[file_login]}">请登录</a> | <a class="login" href="{$MODULE[2][linkurl]}{$DT[file_register]}">免费注册</a>';
	xh_memberimg += '<img src="{DT_SKIN}css/img/head_picture.png" class="brand_img"/>';
	{else}
	xh_member += '欢迎来到{$DT[jdname]}！&nbsp;&nbsp;<a class="login" href="{$MODULE[2][linkurl]}{$DT[file_login]}">请登录</a> | <a class="login" href="{$MODULE[2][linkurl]}{$DT[file_register]}">免费注册</a>';
	xh_memberimg += '<img src="{DT_SKIN}css/img/head_picture.png" class="brand_img"/>';
	{/if}
{/if}
$('#xh_member').html(xh_member);
$('#xh_memberimg').html(xh_memberimg);
{if $DT[city]}
$('#destoon_city').html('{$city_name}');
{/if}
{if isset($MODULE[16])}
$('#destoon_cart').html(destoon_cart > 0 ? '<strong>'+destoon_cart+'</strong>' : 0);
{/if}
{if $_message}
Dnotification('new_message', '{$MODULE[2][linkurl]}message.php', '{useravatar($_username, 'large')}', '站内信 ({$_message})', '收到新的站内信件，点击查看');
{/if}
{if $_chat}
Dnotification('new_chat', '{$MODULE[2][linkurl]}chat.php', '{useravatar($_username, 'large')}', '新对话 ({$_chat})', '收到新的对话请求，点击交谈');
{/if}
{if $_userid && $DT[pushtime]}window.setInterval('PushNew()',{$DT[pushtime]}*1000);{/if}