<input name="password" type="password" class="text" style="width:190px;" id="password"{if isset($password)} value="{$password}" placeholder="6-16位字母、数字或符号" {/if}/><i class="icon icon_password"></i>&nbsp;
<script type="text/javascript" src="{DT_STATIC}file/script/keyboard.js"></script>
<img src="{DT_STATIC}file/image/keyboard.gif" title="密码键盘" alt="" class="c_p" onclick="_k('password', 'kb', this);"/>
<div id="kb" style="display:none;"></div>
{if $DT[md5_pass] && ($action != 'login' || ($action == 'login' && !$MOD[passport]))}
<script type="text/javascript" src="{DT_STATIC}file/script/md5.js"></script>
<script type="text/javascript">init_md5();</script>
{/if}