<footer class="jd-footer">
  <div class="jd-1px-line-up"></div>
  <ul class="jd-footer-links">
  {if $_userid}
    <li class=""><a rel="nofollow" class="J_ping" href="my.php?action=member">{$_username}</a></li>
    <li><a rel="nofollow" class="J_ping" href="my.php?action=member">会员中心</a></li>
    {else}
    <li class=""><a rel="nofollow" class="J_ping" href="login.php?forward=my.php">登录</a></li>
    <li><a rel="nofollow" class="J_ping" href="login.php?forward=my.php">注册</a></li>
    {/if}
    <li><a rel="nofollow" class="J_ping"  href="guestbook.php">反馈</a></li>
    <li><a class="J_ping" report-eventid="MCommonHTail_ToTop" report-eventparam="" page_name="index" href="javascript:void(0)" onclick="window.scrollTo(0,0);">回到顶部</a></li>
  </ul>
  <div class="jd-1px-line-up"></div>
  <div class="jd-footer-copyright">Copyright © 2004-2017 {$DT[jdname]} {$DT[jdhttp]} 版权所有</div>
  <!--div class="jd-footer-copyright-footer"></div--> 
</footer>
    <div class="fix-nav" id="fix-nav">
        <div class="fix-nav-wrap">
            <img class="i-totop" src="images/img/scroll-to-top-icon.png">
        </div>
    </div>
    <script type="text/javascript">
        jQuery(function($){
            $(window).bind("scroll",function() { 
                initScroll() 
            });

            var $fixnav = $('#fix-nav');
            function initScroll()
            {
                if ($(window).scrollTop() > $(window).height()/4) {
                    $fixnav.show();
                } else {
                    $fixnav.hide();
                }
            }

            $('.fix-nav-wrap').bind('click', function(e){
                $(window).scrollTop(0);
            });
        });
        

    </script>
