{template 'header', 'mobile'}
<link rel="stylesheet" type="text/css" href="images/wapuser.css?v=1.0"/>
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
<a href="javascript:Dback();" data-direction="reverse"><img src="static/img/icon-back.png" width="24" height="24"/><span>返回</span></a>
</div>
<div class="head-bar-title">会员登录</div>
<div class="head-bar-right">
<a href="index.php" data-transition="none" data-ajax="false"><span>首页</span></a>
</div>
</div>
<div class="head-bar-fix"></div>
</div>
	<div id="tbh5v0">
	<div class="screen-wrap fullscreen login">
 <div class="m311 log_reg_box">
    <div id="logRegTabCon">
      <div class="log_reg_item" id="phonearea"> 
    <section class="innercontent">
     <form action="login.php" method="post" id="form-login" class="c-form login-form">
	<input type="hidden" name="forward" value="{$forward}"/>
	<input type="hidden" name="auth" value="{$auth}"/>
	<input type="hidden" name="ok" value="1"/>
        <fieldset>
         <div class="register"><a href="register.php?act=register">没有帐号,免费注册</a> </div>
          <div class="field username">
            <div class="c-form-search">
			<input type="text" name="username" id="login-username" value="{$username}" placeholder="用户名/Email/已认证手机" onblur="window.scrollTo(0,0);"/>
            </div>
          </div>
          <div class="field pwd">
		  <input type="password" name="password" id="login-password" placeholder="请填写密码" onblur="window.scrollTo(0,0);" class="c-form-txt-normal"/>
          </div>
		  {if $MOD[captcha_login]}
            <div class="field identifyCode">
                <div class="c-form-search">
  {template 'captcha', 'mobile'}
            </div>
	{/if}

	
            <div class="field submit-btn">
            <input type="submit" class="c-btn-orange" onclick="Dlogin();" value="登 录">
          </div>
          <div class="field">
            <label class="bf1 login_ffri"><input type="checkbox" name="remember" value="1" checked="">&nbsp;保存登录信息</label>
        
               <a class="login_ffleft" style="border:none;" href="forgot.php">找回密码</a>
          
          <div style="height:20px; line-height:20px; clear:both"></div>
  <div class="field">

           	使用合作网站账号登录：
           </div>
           <div class="signIn_coo">
       <ul class="coo_panel cssBox">
	   {if $oa}
{loop $OAUTH $k $v}
{if $v[enable]}<li class="box_flex_1"><a href="{DT_PATH}api/oauth/{$k}/connect.php" rel="external"><img src="{DT_PATH}api/oauth/{$k}/ico-wap.png"></a></li>{/if}
{/loop}
{/if}
                   </ul>
		</div>
           </div>
           
        </div></fieldset>
      </form>
    </section>
    

      </div>
    </div>
    
  </div>

    

  </div>
   
<script type="text/javascript">
function Dlogin() {
	if(Dd('login-username').value.length < 3) {
		Dtoast('请填写用户名/Email/已认证手机');
		return false;
	}
	if(Dd('login-password').value.length < 5) {
		Dtoast('请填写密码');
		return false;
	}
	{if $MOD[captcha_login]}
	if(!is_captcha(Dd('captcha').value)) {
		Dtoast('请填写验证码');
		return false;
	}
	{/if}
	Dd('form-login').submit();
}
$(document).on('pageinit', function(event) {
	{if $MOD[captcha_login]}
	$('#captcha').css({'width':'100px','border':'none','padding':'0','font-size':'16px'});
	showcaptcha();
	{/if}
	$('#login-username').bind('keyup blur', function() {
		$(this).val(DTrim($(this).val()));
	});
});
</script>
{template 'footer-mini', 'mobile'}