{loop $tags $i $t}
<li class="goods f-cb" id="{$t[itemid]}">
    <a href="{$t[linkurl]}" class="pic" target="_blank">
    <img src="{$t[thumb]}" title="{$t[alt]}" onerror="this.src='{DT_SKIN}image/sx_nopic90_90.png'">
    {if $i==0}<span class="custom-corner"><b>超级推荐</b></span>{/if}               
    </a>
    <div class="detail_mall">
     <h3 class="intro"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></h3>
     <h3 class="shortTitle"><a href="{$t[linkurl]}" target="_blank">{dsubstr($t[introduce], 60, '…')} </a></h3>
     <p class="price"><b>{$DT[money_sign]}</b>{$t[price]}</p>
     {if $i==0}
      <div class="process"><b style="width: 80%;"></b><p class="text">剩余20%</p></div>
      {elseif $i==1}
       <div class="process"><b style="width: 50%;"></b><p class="text">剩余50%</p></div>
      {elseif $i==2}
       <div class="process"><b style="width: 40%;"></b><p class="text">剩余60%</p></div>
      {elseif $i==3}
       <div class="process"><b style="width: 70%;"></b><p class="text">剩余30%</p></div>
      {/if}
      <a class="btn_mall f-hover" href="{$t[linkurl]}" target="_blank">立即抢购</a>
      </div>
</li>
{/loop}