{loop $tags $i $t}
 <li>
   <dl>
     <dt><a href="{$t[linkurl]}">{$t[title]}</a></dt>
     <dd class="goods-pic"><a href="{$t[linkurl]}"><span class="thumb_mall size50"><i></i><img src="{$t[thumb]}" alt="{$t[alt]}" onerror="this.src='{DT_SKIN}image/sx_nopic90_90.png'" onload="javascript:DrawImage(this,50,50);" width="50" height="50"></span></a>
     <p><span class="thumb_mall size100"><i></i><img src="{$t[thumb]}" alt="{$t[alt]}" onerror="this.src='{DT_SKIN}image/sx_nopic90_90.png'" onload="javascript:DrawImage(this,100,100);" title="{$t[alt]}" width="100" height="100"><big></big><small></small></span></p>
     </dd>
     <dd class="price pngFix">{$t[price]}</dd>
     <dd class="selled pngFix">售出：<strong>{$t[orders]}</strong>笔</dd>
   </dl>
</li>
{/loop}