{php $CSS = array('index');}
{template 'header-index'}
<div id="ipad_tips" style="display:none;"></div>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}css/index_banner.css" />
    <div class="prime" role="navigation">
    <!-- 分类 -->
    <div class="categorys j_categorys">
    <div class="cate-wrap" id="nav">
        <div class="cate-title-list" style="display: block;">
       {php $mid=5}
		   {php $child = get_maincat(0,$mid,1);$cols=6}
		   {loop $child $i $c}
           {if $i < $cols}
            <div class="cate-m fore{$i+1}">
                <div class="cate-mt">
                    <h2 class="title_cat">
					<a class="text" target="_blank" href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{$c[catname]}</a>
                    </h2>
                    <div class="extra">
	{if $c[child]}
    {php $sub = get_maincat($c[catid],$mid,1);}
    {loop $sub $j $s}{if $j < 3}
      <a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a>
    {/if}{/loop}
    {/if}
                    </div>
                    <span class="angle"></span>
                </div>
				
                <div class="cate-content-list cate-mc fore{$i+1}" style="display: none;">
                <div class="title_cat">
                    <span class="text">{$c[catname]}</span>
                    <span class="extra">专业的B2B电商交易平台</span>
                    <a target="_blank" href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" class="more">更多<i></i></a>
                </div>
                <div class="goods-list">
    {if $c[child]}
    {php $sub = get_maincat($c[catid],$mid,1);}
    {loop $sub $j $s}{if $j<45}
      <a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a>
    {/if}{/loop}
    {/if}
	</div>
      <div class="goods-promotion j_categorysPromotion1">
	  {if $i==0}
	  <a href="{$MODULE[5][linkurl]}{$c[linkurl]}" target="_blank" rel="nofollow" ><img src="{DT_SKIN}images/fenlei/1.jpg" width="500" height="200" alt=""/></a>
	  {elseif $i==1}
	  <a href="{$MODULE[5][linkurl]}{$c[linkurl]}" target="_blank" rel="nofollow" ><img src="{DT_SKIN}images/fenlei/2.jpg" width="500" height="200" alt=""/></a>
	   {elseif $i==2}
	  <a href="{$MODULE[5][linkurl]}{$c[linkurl]}" target="_blank" rel="nofollow" ><img src="{DT_SKIN}images/fenlei/3.jpg" width="500" height="200" alt=""/></a>
	   {elseif $i==3}
	  <a href="{$MODULE[5][linkurl]}{$c[linkurl]}" target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/4.jpg" width="500" height="200" alt=""/></a>
	   {elseif $i==4}
	  <a href="{$MODULE[5][linkurl]}{$c[linkurl]}" target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/5.jpg" width="500" height="200" alt=""/></a>
     {elseif $i==5}
    <a href="{$MODULE[5][linkurl]}{$c[linkurl]}" target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/4.jpg" width="500" height="200" alt=""/></a>
	  {/if}
	  </div>
     <div class="goods-extra">
       <div class="content_gg rel">
{if $i==0}
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/1-1.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/1-2.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/1-3.jpg" width="210px" height="160px"/></a>
{elseif $i==1}
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/2-1.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/2-2.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/2-3.jpg" width="210px" height="160px"/></a>
{elseif $i==2}
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/3-1.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/3-2.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/3-3.jpg" width="210px" height="160px"/></a>
{elseif $i==3}
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/4-1.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/4-2.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/4-3.jpg" width="210px" height="160px"/></a>
{elseif $i==4}
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/5-1.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/5-2.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/5-3.jpg" width="210px" height="160px"/></a>
{elseif $i==5}
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/3-1.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/3-2.jpg" width="210px" height="160px"/></a>
<a href="/." target="_blank" rel="nofollow"><img src="{DT_SKIN}images/fenlei/3-3.jpg" width="210px" height="160px"/></a>
{/if}
<i class="adicon"></i>
</div>
                </div>
            </div>
            </div>
{/if}
{/loop} 
            <div class="cate-m fore7">
                <div class="cate-mt">
                    <div class="img j_categorysPromotion7">
     <a href="javascript:;" target="_blank" onclick="Go('{DT_PATH}sitemap/{rewrite('index.php?mid=5')}');"><img src="{DT_SKIN}images/huoyuan.png" width="170" height="43" alt="更多行业货源"></a>
                    </div>
                </div>
            </div>
        </div>
<div class="cate-tabs-list">
    <ul>
        <li class="fore1 curr"></li>
    </ul>
</div>
   </div>
</div> 
    <!-- 分类 end -->
<script type="text/javascript">
jQuery("#nav").slide({ 
type:"menu", //效果类型
titCell:".cate-m", // 鼠标触发对象
targetCell:".cate-mc", // 效果对象，必须被titCell包含
delayTime:300, // 效果时间
triggerTime:0, //鼠标延迟触发时间
defaultPlay:false,//默认执行
returnDefault:true//返回默认
});
</script> 
 <div class="index_c">
    <!-- 幻灯焦点图 -->
<link rel="stylesheet" type="text/css" href="{DT_SKIN}ppad_index.css">
<script type="text/javascript" src="{DT_SKIN}js/ppad.js"></script>
<div class="fuSlide" id="banner">
<div class="imgs rel" id="focus">
<ul>
<li><a target="_blank" href="{$MODULE[2][linkurl]}{$DT[file_register]}" rel="nofollow"><img src="{DT_SKIN}images/aa/aa710x300_1.jpg" alt="" /></a></li>
<li><a target="_blank" href="{$MODULE[1][linkurl]}vip/jianzhan.php" rel="nofollow"><img src="{DT_SKIN}images/aa/aa710x300_2.png" alt="" /></a></li>
<li><a target="_blank" href="{$MODULE[1][linkurl]}vip/spmuban.php" rel="nofollow"><img src="{DT_SKIN}images/aa/aa710x300_3.jpg" alt="" /></a></li>
<li><a target="_blank" href="{$MODULE[1][linkurl]}vip" rel="nofollow"><img src="{DT_SKIN}images/aa/aa710x300_4.jpg" alt="" /></a></li>
</ul>
<i class="adicon"></i>
</div>
</div>
<!-- 幻灯焦点图 end -->
<div class="index_c_sell">
<div class="hotproductC">
<div class="tempWrap_2">
<ul>
  <!--{tag("moduleid=5&length=16&condition=status=3 and level>0 and thumb<>''&areaid=$cityid&pagesize=12&order=hits desc,vip desc,addtime desc&width=140&height=135&target=_blank&lazy=$lazy&dir=xhtag&template=xh-thumb-tableindex")}--> 
  </ul>
</div>
<div class="hotproductT">
<a class="hotproductT_r prev"><i></i></a>
<a class="hotproductT_l next"><i></i></a>
</div>
  <script type="text/javascript">
jQuery(".index_c_sell").slide({titCell:".hotproductT ul",mainCell:".tempWrap_2 ul",autoPage:true,effect:"left",autoPlay:true,scroll:1,vis:4,delayTime:1500});
</script>
</div>
</div>
</div>
<div class="prime-s">
<div class="prime-s-r">
<!--1-->
<div class="tl-brand-item-3">
<!--状态 S-->
<div class="xh_dl">
<script language="javaScript"> 
    function showwenhou()
    {
        now = new Date(),hour = now.getHours() 
        if(hour < 6){document.write("凌晨好！")} 
        else if (hour < 9){document.write("早上好！")} 
        else if (hour < 12){document.write("上午好！")} 
        else if (hour < 14){document.write("中午好！")} 
        else if (hour < 17){document.write("下午好！")} 
        else if (hour < 19){document.write("傍晚好！")} 
        else if (hour < 22){document.write("晚上好！")} 
        else {document.write("夜里好！")} 
    }
</script>
<div class="brand_login"><img src="{DT_SKIN}css/img/head_picture.png" class="brand_img"/><div class="u-info"><div id="login_user">Hi，<i id="showWelTime"><script type="text/javascript">showwenhou();</script></i></div><div class="u-wel"><span>欢迎来到{$DT[jdname]}</span></div></div></div><div class="brand_botton"><a class="u-btn login-btn" rel="nofollow" href="{$MODULE[2][linkurl]}{$DT[file_login]}" title="登录">登录</a><a class="u-btn sign-btn" rel="nofollow" href="{$MODULE[2][linkurl]}{$DT[file_register]}" title="免费注册">免费注册</a></div>
</div>
<div class="xh_dl_2_no">
<div class="brand_login" id="xh_member_img"></div><!--chip-line-->
<div class="brand_botton"><a class="u-btn login-btn-y" rel="nofollow" href="{$MODULE[2][linkurl]}" title="商务中心">商务中心</a><a class="u-btn sign-btn-y" rel="nofollow" href="{$MODULE[2][linkurl]}logout.php" title="退出">退出</a></div>
</div>
<!--状态 END-->
</div>
<!--2-->
 <div class="xub-news">
<div class="xub-tab hd">
<ul>
<li class="on"><span>网站公告</span></li>
<li class=""><span>常见问题</span></li>
</ul>
</div>
<div class="bd">
<div class="hover" style="display: block;">
<ul class="xubt-list">
<!--{tag("table=announce&condition=totime=0 or totime>$today_endtime-86400&areaid=$cityid&pagesize=4&order=listorder desc,addtime desc&length=26&cname=公告&dir=xhtag&template=xiaohei-gonggao")}-->
</ul>
</div>
<div style="display: none;">
<ul class="xubt-list">
<!--{tag("moduleid=52&length=26&condition=status=3&areaid=$cityid&pagesize=4&order=addtime desc&cname=帮助&dir=xhtag&template=xiaohei-gonggao")}--> 
      </ul>
    </div>
      </div>
    </div>
<script type="text/javascript">
jQuery(".xub-news").slide({});
</script>
<!--3-->
<div class="xub-server">
                <div class="xubs-tit"><span class="icon-redbar"></span>{VIP}</div>
                <a href="{$MODULE[1][linkurl]}vip" rel="nofollow" target="_blank">
                <span style="top: 0px;">
                    <i class="icon-vip"></i>
                    <p class="xubs-name">{VIP}</p>
                </span>
                </a>
                <a href="{$MODULE[1][linkurl]}vip/hyfw.php" rel="nofollow" target="_blank">
                <span style="top: 0px;">
                    <i class="icon-hyfw"></i>
                    <p class="xubs-name">会员服务</p>
                </span>
                </a>
                <a href="{$MODULE[1][linkurl]}vip/jianzhan.php" rel="nofollow" target="_blank">
                <span style="top: 0px;">
                    <i class="icon-jzfw"></i>
                    <p class="xubs-name">建站服务</p>
                </span>
                </a>
                <a href="{$MODULE[2][linkurl]}grade.php" rel="nofollow" target="_blank">
                <span style="top: 0px;">
                    <i class="icon-hysj"></i>
                    <p class="xubs-name">会员升级</p>
                </span>
                </a>
                <a href="{$EXT[gift_url]}index2.php" rel="nofollow" target="_blank">
                <span style="top: 0px;">
                    <i class="icon-jfsc"></i>
                    <p class="xubs-name">积分商城</p>
                </span>
                </a>
                <a href="{$EXT[ad_url]}" rel="nofollow" target="_blank">
                <span style="top: 0px;">
                    <i class="icon-adfw"></i>
                    <p class="xubs-name">广告服务</p>
                </span>
                </a>
            </div>
<!--3 END-->
</div>
</div>
</div>
<div class="zhanting">
<div class="zhanting1">
    <p class="zhanting1_p1">管道厂商推荐</p>
	 <!--{tag("moduleid=4&catid=8302&length=26&condition=level=1 and catids<>''&areaid=$cityid&pagesize=1&order=userid desc&dir=xhtag&template=xiaohei-indexcomtj")}-->
    </div>
    <div class="zhanting1">
    <p class="zhanting1_p1">商储厂商推荐</p>
       <!--{tag("moduleid=4&catid=8317&length=26&condition=level=1 and catids<>''&areaid=$cityid&pagesize=1&order=userid desc&dir=xhtag&template=xiaohei-indexcomtj")}-->
    </div>
    <div class="zhanting1" style="border-right:1px solid #eee;">
    <p class="zhanting1_p1">橡塑厂商推荐</p>
       <!--{tag("moduleid=4&catid=8348&length=26&condition=level=1 and catids<>''&areaid=$cityid&pagesize=1&order=userid desc&dir=xhtag&template=xiaohei-indexcomtj")}-->
    </div>
    <div class="zhanting2">
    <div class="zhanting2_title">信息动态</div>
        <div class="zhanting2_content">
        <ul>
  <!--{tag("moduleid=6&length=50&condition=status=3&areaid=$cityid&pagesize=20&order=addtime desc&dir=xhtag&template=xiaohei-txtbuy")}--> 
          </ul>
        </div>
    </div>
<script type="text/javascript">jQuery(".zhanting2").slide({titCell:".hd ul",mainCell:".zhanting2_content ul",autoPage:true,effect:"top",autoPlay:true,effect:"topLoop",vis:3,delayTime:1000,pnLoop:false});</script>
    <div class="zhanting03">  
<div class="zhanting1">
    <p class="zhanting1_p1">农机厂商推荐</p>
   <!--{tag("moduleid=4&catid=8369&length=26&condition=level=1 and catids<>''&areaid=$cityid&pagesize=1&order=userid desc&dir=xhtag&template=xiaohei-indexcomtj")}-->
    </div>
    <div class="zhanting1">
    <p class="zhanting1_p1">阀门厂商推荐</p>
       <!--{tag("moduleid=4&catid=8383&length=26&condition=level=1 and catids<>''&areaid=$cityid&pagesize=1&order=userid desc&dir=xhtag&template=xiaohei-indexcomtj")}-->
    </div>
    <div class="zhanting1" style="border-right:1px solid #eee;">
    <p class="zhanting1_p1">线缆厂商推荐</p>
       <!--{tag("moduleid=4&catid=8412&length=26&condition=level=1 and catids<>''&areaid=$cityid&pagesize=1&order=userid desc&dir=xhtag&template=xiaohei-indexcomtj")}-->
    </div>
    </div>
    <div class="zhanting4">
	<div class="zhanting_content">
<ul>
 <!--{tag("moduleid=5&length=50&condition=status=3&areaid=$cityid&pagesize=30&order=addtime desc&dir=xhtag&template=xiaohei-sell-gundong")}-->
 </ul>
</div>
    </div>
</div>
<script type="text/javascript">jQuery(".zhanting4").slide({titCell:".hd ul",mainCell:".zhanting_content ul",autoPage:true,effect:"top",autoPlay:true,effect:"topLoop",vis:1,delayTime:2000,pnLoop:false});</script>
<div class="tl_gg rel">
<ul>
<li class="tlgg_90"><a target="_blank" href="http://b2b.bjlsjp.cn" rel="nofollow"><img src="{DT_SKIN}images/aa/tl_muban.jpg" alt="" /></a></li>
</ul>
<i class="adicon"></i>
</div>
<div class="brand" id="lous">
<div class="brand_title">
   <h2>品牌推荐</h2>
   <a id="changes" style="cursor:pointer;">换一批</a>
</div>
    <div class="brand_content">
	<!--推荐级别1-->
	     <!--{tag("moduleid=13&length=20&condition=status=3 and level=1&areaid=$cityid&pagesize=32&order=addtime desc&lazy=$lazy&dir=xhtag&template=xiaohei-brandtj")}--> 
		    </div>
<div class="brand_content_line"></div>
</div>
<script>
$(function(){
var tit = $("#changes"),
con = $(".brand_content>ul"),
page = con.length,
index = 0;
if (page>=2) {
tit.click(function(){
if(index < (page-1)){
index++;
}else{
index = 0;
}
con.eq(index).show(500).siblings().hide(500);
});
}
});
</script>
<!--楼层S-->
<div id="main">
  {php $mid=5}
  {php $child = get_maincat(0,$mid,1);}
  {loop $child $i $c}
  {php $kk=$i+1}
{if $i < 5}
<div class="louxh">
<!--AD-->
<div class="tl_gg rel">
<span t="{$kk}" id="f{$kk}" name="f{$kk}"></span>
<ul>
{if $kk==1}
<li class="tlgg_40"><a target="_blank" href="{$MODULE[2][linkurl]}{$DT[file_register]}" rel="nofollow"><img src="{DT_SKIN}images/aa/tl_1.jpg" alt="" /></a></li>
{elseif $kk==2}
<li class="tlgg_90"><a target="_blank" href="{$MODULE[2][linkurl]}{$DT[file_register]}" rel="nofollow"><img src="{DT_SKIN}images/aa/tl_2.jpg" alt="" /></a></li>
{elseif $kk==3}
<li class="tlgg_90"><a target="_blank" href="{$MODULE[2][linkurl]}{$DT[file_register]}" rel="nofollow"><img src="{DT_SKIN}images/aa/tl_3.jpg" alt="" /></a></li>
{elseif $kk==4}
<li class="tlgg_90"><a target="_blank" href="{$MODULE[2][linkurl]}{$DT[file_register]}" rel="nofollow"><img src="{DT_SKIN}images/aa/tl_4.jpg" alt="" /></a></li>
{elseif $kk==5}
<li class="tlgg_90"><a target="_blank" href="{$MODULE[2][linkurl]}{$DT[file_register]}" rel="nofollow"><img src="{DT_SKIN}images/aa/tl_5.jpg" alt="" /></a></li>
{else}
<li class="tlgg_90"><a target="_blank" href="{$MODULE[2][linkurl]}{$DT[file_register]}" rel="nofollow"><img src="{DT_SKIN}images/aa/tl_6.jpg" alt="" /></a></li>
{/if}
</ul>
<i class="adicon"></i>
</div>
<div class="floor">
<div class="floor_title">
    <h2><span>{$kk}F</span><a target="_blank" href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{$c[catname]}</a></h2>
        <p><a target="_blank" href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=5&action=add">免费加入{$c[catname]}市场</a></p>
    </div>
    <div class="floor_content">
    <div class="floor_content_left">
  <div class="floor_content_left_ad  rel">
        {if $kk==1} 
            <a href="/." target="_blank" ><img src="{DT_SKIN}images/ff/1.png" width="249" height="239" alt="广告招商"/></a>
      {elseif $kk==2} 
            <a href="/." target="_blank" ><img src="{DT_SKIN}images/ff/2.png" width="249" height="239" alt="广告招商"/></a>
      {elseif $kk==3} 
            <a href="/." target="_blank" ><img src="{DT_SKIN}images/ff/3.png" width="249" height="239" alt="广告招商"/></a>
      {elseif $kk==4} 
            <a href="/." target="_blank" ><img src="{DT_SKIN}images/ff/4.png" width="249" height="239" alt="广告招商"/></a>
      {elseif $kk==5} 
            <a href="/." target="_blank" ><img src="{DT_SKIN}images/ff/5.png" width="249" height="239" alt="广告招商"/></a>
      {/if}
      <i class="adicon"></i>
      </div>
        <ul>
		 {if $c[child]}
    {php $sub = get_maincat($c[catid],5,1);}
    {loop $sub $j $s}{if $j < 12}
    <li><a target="_blank" href="{$MODULE[5][linkurl]}{$s[linkurl]}" title="{$s[alt]}">{set_style($s[catname], $s[style])}</a></li>
    {/if}{/loop}
    {/if}
		 </ul>
    </div>
        <div class="floor_content_center">
<!--当前分类下的产品-->
        <ul>
		<!--{php $xhbq=tag("moduleid=5&catid=".$c[catid]."&condition=status=3 and thumb!=''&areaid=$cityid&pagesize=8&order=addtime desc&length=20&lazy=$lazy&template=null");}--> 
     {loop $xhbq $k $t}
	<li>
      <a href="{$t[linkurl]}" class="floor_content_img"><img onerror="this.src='{DT_SKIN}image/nopic100.gif'" src="{$t[thumb]}" alt="{$t[alt]}" title="{$t[alt]}" /></a>
      <p class="floor_content_center_li_p1"><a href="{$t[linkurl]}">{$t[title]}</a></p>
      <p class="floor_content_center_li_p2">{if $t[unit] && $t[price]>0}{$DT[money_sign]}&nbsp;<span>{$t[price]}</span>{else}&nbsp;<span>面议</span>{/if}</p>
			<p class="floor_content_center_li_p3"><span><a href="{userurl($t[username])}" target="_blank">商铺</a></span></p>
  </li>
	{/loop}  
            </ul>
        </div>
        <div class="floor_content_right">
        <div class="hd_company"><h3><i class="cx_ico"></i>诚信商家</h3></div>
        <ul>
                <!--对应公司分类-->
                  {if $kk==1} 
                      <!--{php $xhbq=tag("moduleid=4&catid=8302&condition=groupid>5 and catids<>''&areaid=$cityid&pagesize=5&order=vip desc,userid desc&template=null");}--> 
                      {elseif $kk==2} 
                      <!--{php $xhbq=tag("moduleid=4&catid=8317&condition=groupid>5 and catids<>''&areaid=$cityid&pagesize=5&order=vip desc,userid desc&template=null")}--> 
                      {elseif $kk==3} 
                      <!--{php $xhbq=tag("moduleid=4&catid=8348&condition=groupid>5 and catids<>''&areaid=$cityid&pagesize=5&order=vip desc,userid desc&template=null")}--> 
                      {elseif $kk==4} 
                      <!--{php $xhbq=tag("moduleid=4&catid=8369&condition=groupid>5 and catids<>''&areaid=$cityid&pagesize=5&order=vip desc,userid desc&template=null")}--> 
                      {elseif $kk==5} 
                      <!--{php $xhbq=tag("moduleid=4&catid=8383&condition=groupid>5 and catids<>''&areaid=$cityid&pagesize=5&order=vip desc,userid desc&template=null")}--> 
                      {/if}
				{loop $xhbq $t}
<li>
<p><a href="{$t[linkurl]}" target="_blank" >{if $t[vip]}<img src="{DT_SKIN}image/vip_{$t[vip]}.gif" alt="{VIP}" title="{VIP}:{$t[vip]}级" align="absmiddle"/> {/if}{$t[company]}</a></p>
<p>所在地：{area_pos($t[areaid], '/', 2)}</p>
<p>主营产品：{$t[business]}</p>
</li>
{/loop}
            </ul>
        </div>
        <div class="floor_content_line"></div>
    </div>
  </div>
</div>
  {/if}
  {/loop} 
</div>
<!--楼层end-->
<!--综合区部分开始-->
<div class="newquotation">
  <div class="newquotationT">
    <h2 class="fl">综合区</h2>
    <ul class="fr">
       <li>商城</li>
	   <li>招商</li>
       <li>展会</li>
       <li>图库</li>
       <li>视频</li>
       <li>商圈</li>
    </ul>
  </div>
  <div class="newquotation_tab"> 
<!--1商城S-->
<div class="newquotationC">
<div class="newlist fl">
<ul>
	<!--{php $xhbq=tag("moduleid=16&condition=status=3 and thumb!=''&areaid=$cityid&pagesize=4&order=editdate desc,vip desc,edittime desc&length=20&page=1&lazy=$lazy&template=null");}--> 
     {loop $xhbq $i $t}
	<li class="shang {if $i%4==3}no_r{/if}">
    <a href="{$t[linkurl]}" target="_blank" class="shang_img"><img onerror="this.src='{DT_SKIN}image/nopic100.gif'" src="{$t[thumb]}"  alt="{$t[alt]}" title="{$t[alt]}" /></a>
    <p class="floor_content_center_li_p1"><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></p>
    <p class="floor_content_center_li_p2">{$DT[money_sign]}&nbsp;<span class="red f14">{$t[price]}</span></p>
	<div class="btn-index"><a href="{$t[linkurl]}" target="_blank">立即抢购</a></div>
    </li>
	{/loop} 
  </ul>
</div>
<div class="newquotationC1 fr">
    <!--{php $xhbq=tag("moduleid=16&condition=status=3 and thumb!=''&areaid=$cityid&pagesize=1&order=editdate desc,vip desc,edittime desc&length=20&page=2&lazy=$lazy&template=null");}--> 
     {loop $xhbq $i $t}
	<li>
    <a href="{$t[linkurl]}" target="_blank" class="shang_img"><img onerror="this.src='{DT_SKIN}image/nopic100.gif'" src="{$t[thumb]}" alt="{$t[alt]}" title="{$t[alt]}" /></a>
    <p class="floor_content_center_li_p1"><a href="{$t[linkurl]}">{$t[title]}</a></p>
    <p class="floor_content_center_li_p2">{$DT[money_sign]}&nbsp;<span class="red f14">{$t[price]}</span></p>
    <div class="btn-index"><a href="{$t[linkurl]}" target="_blank">立即抢购</a></div>
    </li>
	{/loop} 
    </div>
  </div>
<!--2招商S-->  
<div class="newquotationC">
<div class="newlist fl">
<ul>
 <!--{php $xhbq=tag("moduleid=22&condition=status=3&areaid=$cityid&pagesize=8&showcat=1&order=editdate desc,vip desc,edittime desc&length=14&template=null");}--> 
     {loop $xhbq $i $t}
	<li class="{if $i<4}oh{else}ho{/if} {if $i%4==3}no_r{/if}">
<p class="newquotationcp1 clear_two"><a class="fl" href="{$t[linkurl]}" target="_blank" alt="{$t[alt]}">{$t[title]}</a><span class="fr fenlei-name">{$t[catname]}</span></p>
<p class="newquotationcp2 clear_two"><span>{$t[tzed]}</span></p>
<p class="newquotationcp3 clear_two"><a class="fl" >{area_pos($t[areaid], ' - ', 2)}</a><span class="fr"><a href="{$t[linkurl]}" target="_blank">我要加盟</a></span></p>
{if $i<4}<div class="heng"></div>{/if}
  </li>
  	{/loop} 
</ul>
</div>
    <div class="newquotationC1 fr">
 <!--{php $xhbq=tag("moduleid=22&condition=status=3 and thumb!='' and level=1&areaid=$cityid&pagesize=1&order=editdate desc,vip desc,edittime desc&length=14&lazy=$lazy&template=null");}--> 
     {loop $xhbq $k $t}
	<li>
    <a href="{$t[linkurl]}" target="_blank" class="shang_img"><img onerror="this.src='{DT_SKIN}image/nopic100.gif'" src="{$t[thumb]}" alt="{$t[alt]}" title="{$t[alt]}" /></a>
    <p class="floor_content_center_li_p1"><span class="red">【荐】</span><a href="{$t[linkurl]}">{$t[title]}</a></p>
    <p class="floor_content_center_li_p2"><span>{area_pos($t[areaid], '', 2)}</span></p>
    <div class="btn-index"><a href="{$t[linkurl]}" target="_blank">我要加盟</a></div>
    </li>
	{/loop} 
    </div>
  </div>
  <!--3展会S-->  
<div class="newquotationC">
<div class="newlist fl">
<ul>
<!--{php $xhbq=tag("moduleid=8&condition=status=3&areaid=$cityid&pagesize=8&showcat=1&order=addtime desc&length=26&template=null");}--> 
     {loop $xhbq $i $t}
<li class="{if $i<4}oh{else}ho{/if} {if $i%4==3}no_r{/if}">
<p class="newquotationcp1-1 clear_two"><a class="fl" href="{$t[linkurl]}" target="_blank" alt="{$t[alt]}">{$t[title]}</a></p>
<p class="newquotationcp2-1 clear_two">地址:{$t[address]}</p>
<p class="newquotationcp2-2 clear_two">主办:{$t[sponsor]}</p>
<p class="newquotationcp3 clear_two"><a class="fl" >{timetodate($t[fromtime], 3)} ~ {timetodate($t[totime], 3)}</a><span class="fr"><a href="{$t[linkurl]}" target="_blank">报名</a></span></p>
{if $i<4}<div class="heng"></div>{/if}
  </li>
  {/loop} 
          </ul>
</div>
    <div class="newquotationC1 fr">
	<h1 class="xhname">推荐展会</h1>
    <!--{tag("moduleid=8&condition=status=3 and level=2 and thumb!=''&areaid=$cityid&order=addtime desc&pagesize=4&width=205&height=180&target=_blank&template=slide")}-->
    </div>
  </div>
<!--4图库S-->  
    <div class="newquotationC">
<div class="newlist fl">
<ul>
 <!--{php $xhbq=tag("moduleid=12&condition=status=3 and open=3&page=1&areaid=$cityid&pagesize=4&order=edittime desc&length=20&lazy=$lazy&template=null");}--> 
     {loop $xhbq $i $t}
	<li class="shang {if $i%4==3}no_r{/if}">
    <a href="{$t[linkurl]}" target="_blank" class="shang_img"><img onerror="this.src='{DT_SKIN}image/nopic100.gif'" src="{$t[thumb]}"  alt="{$t[alt]}" title="{$t[alt]}" /></a>
    <p class="floor_content_center_li_p1"><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></p>
     <p class="floor_content_center_li_p2">已传&nbsp;<span>{$t[items]}</span>&nbsp;张</p>
	<div class="btn-index"><a href="{$t[linkurl]}" target="_blank">进入图集</a></div>
     </li>
	{/loop} 
  </ul>
</div>
<div class="newquotationC1 fr">
    <!--{php $xhbq=tag("moduleid=12&condition=status=3 and open=3&page=2&areaid=$cityid&pagesize=1&order=edittime desc&length=20&lazy=$lazy&template=null");}--> 
     {loop $xhbq $k $t}
	<li>
    <a href="{$t[linkurl]}" target="_blank" class="shang_img"><img onerror="this.src='{DT_SKIN}image/nopic100.gif'" src="{$t[thumb]}" alt="{$t[alt]}" title="{$t[alt]}" /></a>
    <p class="floor_content_center_li_p1"><a href="{$t[linkurl]}">{$t[title]}</a></p>
    <p class="floor_content_center_li_p2">已传&nbsp;<span>{$t[items]}</span>&nbsp;张</p>
    <div class="btn-index"><a href="{$t[linkurl]}" target="_blank">进入图集</a></div>
    </li>
	{/loop} 
    </div>
  </div>
<!--5视频S-->  
    <div class="newquotationC">
<div class="newlist fl">
<ul>
<!--{php $xhbq=tag("moduleid=14&condition=status=3 and thumb!=''&areaid=$cityid&pagesize=4&order=edittime desc&length=20&showcat=1&page=1&lazy=$lazy&template=null");}--> 
     {loop $xhbq $i $t}
	<li class="shang {if $i%4==3}no_r{/if}">
    <a href="{$t[linkurl]}" target="_blank" class="shang_img"><img onerror="this.src='{DT_SKIN}image/nopic100.gif'" src="{$t[thumb]}"  alt="{$t[alt]}" title="{$t[alt]}" /></a>
    <p class="floor_content_center_li_p1"><a href="{$t[linkurl]}" target="_blank" title="{&t[alt]}">{$t[title]}</a></p>
     <p class="floor_content_center_li_p2"><span>{$t[catname]}</span></p>
	<div class="btn-index"><a href="{$t[linkurl]}" target="_blank"><img src="{DT_SKIN}css/img/bo.png" width="20" height="20">播放</a></div>
     </li>
	{/loop} 
  </ul>
</div>
<div class="newquotationC1 fr">
    <!--{php $xhbq=tag("moduleid=14&condition=status=3 and thumb!=''&areaid=$cityid&pagesize=1&order=edittime desc&length=20&showcat=1&page=2&lazy=$lazy&template=null");}--> 
     {loop $xhbq $i $t}
	<li>
    <a href="{$t[linkurl]}" target="_blank" class="shang_img"><img onerror="this.src='{DT_SKIN}image/nopic100.gif'" src="{$t[thumb]}" alt="{$t[alt]}" title="{$t[alt]}"/></a>
    <p class="floor_content_center_li_p1"><a href="{$t[linkurl]}" target="_blank" title="{&t[alt]}">{$t[title]}</a></p>
    <p class="floor_content_center_li_p2"><span>{$t[catname]}</span></p>
    <div class="btn-index"><a href="{$t[linkurl]}" target="_blank"><img src="{DT_SKIN}css/img/bo.png" width="20" height="20">播放</a></div>
    </li>
	{/loop} 
    </div>
  </div>
  <!--6商圈S-->  
    <div class="newquotationC">
<div class="newlist fl">
<ul>
	<li class="shang">
	<h2 class="quan_name">论坛圈</h2>
 <!--{php $xhbq=tag("moduleid=18&catid=9818&condition=status=3&areaid=$cityid&pagesize=8&order=addtime desc&length=22&template=null");}--> 
     {loop $xhbq $i $t}
    <p class="quan"><i></i><a href="{$t[linkurl]}" title="{$t[alt]}" target="_blank">{$t[title]}</a>{if $t[thumb]} <span><img src="{DT_SKIN}css/img/club_thumb.gif" width="16" height="16"></span>{/if}</p>
	{/loop} 
	 </li>
      
  <li class="shang">
	<h2 class="quan_name">原材料</h2>
 <!--{php $xhbq=tag("moduleid=18&catid=9819&condition=status=3&areaid=$cityid&pagesize=8&order=addtime desc&length=22&template=null");}--> 
     {loop $xhbq $i $t}
    <p class="quan"><i></i><a href="{$t[linkurl]}" title="{$t[alt]}" target="_blank">{$t[title]}</a>{if $t[thumb]} <span><img src="{DT_SKIN}css/img/club_thumb.gif" width="16" height="16"></span>{/if}</p>
	{/loop} 
	 </li>
      
  <li class="shang">
	<h2 class="quan_name">工业品</h2>
 <!--{php $xhbq=tag("moduleid=18&catid=9820&condition=status=3&areaid=$cityid&pagesize=8&order=addtime desc&length=22&template=null");}--> 
     {loop $xhbq $i $t}
    <p class="quan"><i></i><a href="{$t[linkurl]}" title="{$t[alt]}" target="_blank">{$t[title]}</a>{if $t[thumb]} <span><img src="{DT_SKIN}css/img/club_thumb.gif" width="16" height="16"></span>{/if}</p>
	{/loop} 
	 </li>
      
  <li class="shang no_r">
	<h2 class="quan_name">服装服饰</h2>
 <!--{php $xhbq=tag("moduleid=18&catid=9821&condition=status=3&areaid=$cityid&pagesize=8&order=addtime desc&length=22&template=null");}--> 
     {loop $xhbq $i $t}
    <p class="quan"><i></i><a href="{$t[linkurl]}" title="{$t[alt]}" target="_blank">{$t[title]}</a>{if $t[thumb]} <span><img src="{DT_SKIN}css/img/club_thumb.gif" width="16" height="16"></span>{/if}</p>
	{/loop} 
	 </li>
          </ul>
</div>
    <div class="newquotationC1 fr">
    <li>
	<h2 class="quan_name">热门圈子</h2>
 <!--{php $xhbq=tag("moduleid=18&table=club_group&condition=status=3&areaid=$cityid&pagesize=8&order=addtime desc&length=22&template=null");}--> 
     {loop $xhbq $i $t}
    <p class="quan"><i></i><a href="{$t[linkurl]}" title="{$t[alt]}" target="_blank">{$t[title]}</a><span class="fr">主题：{$t[post]}</span></p>
	{/loop} 
	 </li>
    </div>
  </div>
<!--END-->
    </div>
</div>
<script type="text/javascript">
jQuery(".newquotation").slide({ titCell:".newquotationT ul li", mainCell:".newquotation_tab",effect:"left",trigger:"click" });
</script>
<!--综合区部分结束-->
<div class="news">
    <div class="news_title">
    <h2>行业资讯</h2>
        <p>
		<!--{php $xhbq=tag("table=category&condition=moduleid=21 and parentid=0&pagesize=10&order=listorder,catid&template=null");}-->
			{loop $xhbq $i $t}<a href="{$MODULE[21][linkurl]}{$t[linkurl]}" target="_blank">{$t[catname]}</a>{/loop}
      </p>
    </div>
    <div class="news_content">
    <div class="news_content_left">
    <div class="news_side">
    <div class="focus bd">
    <ul>
   <!--{php $xhtags=tag("moduleid=21&length=34&condition=status=3 and level=2 and thumb<>''&areaid=$cityid&pagesize=3&target=_blank&order=addtime desc&template=null");}--> 
    {loop $xhtags $i $t}
     <li class="fcon" {if $i==0}style="display: block;"{else}style="display: none;"{/if}> <a target="_blank" href="/"><img src="{str_replace('thumb', 'middle', $t[thumb])}" width="360" height="240" alt="{$t[alt]}" style="opacity: 1;"></a> <span class="shadow"><a target="_blank" href="{$t[linkurl]}" title="{$t[alt]}">{$t[title]}</a></span></li>
    {/loop}
    </ul>
    </div>
    <a class="prev" href="javascript:void(0)"></a>
    <a class="next" href="javascript:void(0)"></a>
<script type="text/javascript">
   jQuery(".news_side").slide({mainCell:".bd ul",autoPlay:true});
</script>
    </div>
    <div class="news_tui">
    <ul>
    <!--{php $xhbq=tag("moduleid=21&length=40&condition=status=3 and level>0&areaid=$cityid&order=addtime desc&pagesize=5&template=null")}-->
    {loop $xhbq $i $t}
      <li><i>{$i+1}、</i><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></li>
      {/loop}
      </ul>
    </div>
        </div>
        <div class="news_content_center">
		<!--{php $xhbq=tag("moduleid=21&length=50&condition=status=3 and level=5&areaid=$cityid&order=addtime desc&pagesize=1&template=null")}-->
		{loop $xhbq $i $t}
        <p><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><i class="toutiao">头条</i>{$t[title]}</a><br />{dsubstr($t[introduce], 100, '…')} </p>{/loop}
		<!--{php $xhbq=tag("moduleid=21&length=50&condition=status=3&areaid=$cityid&order=addtime desc&pagesize=10&template=null")}-->
		{loop $xhbq $i $t}
            {if $i%5==0} <ul>{/if}
            <li><i></i><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a><span>{timetodate($t[addtime], 4)}</span></li>
            {if $i%5==4}</ul>{/if}
			{/loop}
			</div>
        <div class="news_content_right">
        <div class="news_content_right_top"></div>
		<!--{php $xhbq=tag("moduleid=21&length=28&condition=status=3 and level=1&areaid=$cityid&order=hits desc&pagesize=3&template=null")}-->
		{loop $xhbq $i $t}
             <p><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><i class="red">{$i+1}、</i>{$t[title]}</a><br />
             {dsubstr($t[introduce], 82, '…')}<br />
             <span><a href="{cat_url($t[catid])}" target="_blank">{cat_name($t[catid])} | </a></span>{timetodate($t[addtime], 4)}</p>
        {/loop}
        </div>
    </div>
</div>
<div class="bottom">
    <div class="layout">
        <div   class="friend-link clf">
                <div class="fls-lab"><a href="{$EXT[link_url]}" target="_blank" rel="nofollow">友情链接</a>：</div>
                <div class="fls-con clf">
				{if $DT[page_text]} 
      <!--{tag("table=link&condition=status=3 and level>0 and thumb='' and username=''&areaid=$cityid&pagesize=".$DT['page_text']."&order=listorder desc,itemid desc&dir=xhtag&template=xiaohei-link")}--> 
      {/if}
      <a href="{$EXT[link_url]}{rewrite('index.php?action=reg')}" target="_blank" class="a-item a-more" rel="nofollow">申请</a>
                </div>
        </div>
    </div>
</div>
{template 'daohang-2'} 
<!--底部版权--> 
{template 'footer-index'} 